{block content}
    {dump $reports}
    <div id="reports" class="list">
    {foreach $reports as $report}
        {dump $report}
        <h2>{foreach ($report->related('report_team')) as $reportTeam}{$reportTeam->team_id}{if !$iterator->isLast()}, {/if}{/foreach}</h2>
        {$report->text|noescape}
        <br>
        <br>
        </div>
    {/foreach}
{/block}