{varType string $lang}
{*{block title}*}
{*    {switch $lang}*}
{*        {case 'cs'} O soutěži*}
{*        {default} About*}
{*    {/switch}*}
{*{/block}*}

{block content}
    fotky jako u folu
{/block}
