.question-category-row {
  margin: 0 0 0.3em;
  border: 2px solid $primary-color;
}


.faq-category-title{
  font-size: 1.2em;
  text-align: left;
}

.faq-question-and-answer{
  margin: .3em;
  a{
    text-decoration: none;
  }
}

.faq-question{
  border-left: 3px solid white;
  border-bottom: 0;
}

.faq-answer{
  border-left: 3px solid $primary-color;
  padding: .5rem 1rem;
}
