{varType string $lang}

{block title}Fyziklani International{/block}

{block content}
Několik nejlepších týmů z Fyziklání Online získá možnost zúčastnit se Fyziklání International. Jedná se o doprovodnou akci k Fyziklání v Praze, při které si účastníci nejen zasoutěží ve Fyziklání, ale také se zúčastní bohatého programu plného fyziky, poslechnou si přednášky odborné i o využití kariéry, navštíví špičková věděcká pracoviště, ale také se seznámí s ostatními soutěžícími z mnoha zemí Evropy.


{/block}
