{block content}
    {control map}
   {* {if $gamePhaseCalculator->getFKSDBEvent()->begin->getTimestamp() - 7*24*60*60 < time()}
        {control countdown}
        {syntax off}
            <style>
                .map {
                    width: 80%;
                    margin: 0 auto;
                }
            </style>

        {/syntax}
    {/if}*}
{/block}

