.team-results-control {
  column-count: 4;

  form table tr {
    @extend .form-check;
    label {
      @extend .form-check-label;
      input {
        @extend .form-check-input;
      }
    }
  }
}

.results-first-row, .results-first-row {
  display: flex;
  flex-direction: row;
}

.results-header {
  padding: 1rem .5rem;
  font-weight: bold;
  border-bottom: 2px solid #000;
}

.results-row {
  padding: 1rem .5rem;
  &:nth-child(even) {
    background-color: #00000010;
  }
}
