/nbproject/
app/config/config.*.local.neon
www/*/adminer/.htaccess
vendor/*
log/*
temp/*
!vendor/others
www/*/images/reports
www/*/images/reports/
www/*/documents
www/*/assets
node_modules
coverage.html
**__pycache__
*temp-solution*
www/fykos/videos
www/fykos/images/people
www/fykos/images/events