includes:
    - vendor/phpstan/phpstan-nette/extension.neon
    - vendor/phpstan/phpstan-nette/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    phpVersion: 80100 # php 8.1
    level: 5
    paths:
        - app
        - tests
    ignoreErrors:
        - '#Class [a-zA-Z0-9\\_]+ has an uninitialized readonly property \$[a-zA-Z0-9\\_]+. Assign it in the constructor.#'
        - '#Readonly property [a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+ is assigned outside of the constructor.#'
    strictRules:
        allRules: false
        disallowedLooseComparison: true
        requireParentConstructorCall: true
        disallowedBacktick: true
        disallowedEmpty: true
        disallowedImplicitArrayCreation: true
        overwriteVariablesWithLoop: true
        closureUsesThis: true
        matchingInheritedMethodNames: true
        dynamicCallOnStaticMethod: true
        noVariableVariables: true
