.event-list {
  .event .inner {
    text-decoration: none;
    color: $text-on-primary;
    background: url("../../Modules/Core/styles/maze_background.svg"), $primary-color-dimmed;
    background-size: $maze-pattern-image-size;
    background-position: center;
    transition: background-color .5s ease;
    display: block;
    padding: 2rem;

    &:hover {
      background: url("../../Modules/Core/styles/maze_background.svg"), $primary-color;
      background-size: $maze-pattern-image-size;
      background-position: center;
    }

    h2 small {
      font-weight: normal;
      font-size: .8rem;
    }
  }
}
