{block title}Správa fotek{/block}

{block main}
<div class="panel color-auto">
    <section class="inner-container">
    <h1>Správa fotek</h1>
        <p>
            text
        </p>
    </section>
</div>
{/block}
