{block title}Správa novinek{/block}

{block main}
<div class="panel color-auto">
    <section class="inner-container">
    <h1>Správa novinek</h1>
        <h5>Vybrat novinku:</h5>
        <div class="dropdown event-selector mb-3">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                {$selectedNewsItem->title->cs} (#{$selectedNewsItem->newsId})
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {foreach $news as $news}
                    <li><a class="dropdown-item py-2" href="{plink 'this' 'newsId'=>$news->newsId}">
                        {$news->getTitle()->cs} (#{$news->newsId})
                    </a></li>
                {/foreach}
            </ul>
        </div>
    <h5>Upravit novinku:</h5>
    {if $selectedNewsItem}
        <div class="col-md-6 mt-4">
            <div class="card">
                <div class="card-body d-flex align-items-start flex-column">
                    {control newsForm}
                </div>
            </div>
        </div>
    {else}
        <p>Nejdříve zvolte jakou novinku chcete upravit.</p>
    {/if}
    <h5>Aktivní novinky:</h5>
        <div class="row">
            {control news:vyfuk $news}
        </div>
    </section>
</div>
{/block}
