{block title}Complete Rules of Physics Brawl Online{/block}

{*
VERSION: 241021
https://docs.google.com/document/d/1zp6S7CP9X_bwr1Jffneq2OAvPt47krSGp4zn6bKfBNk
*}

{block main}
    <div class="panel color-auto">
        <section class="inner-container">
            <h1>{include title}</h1>     
                   
            <div class="alert alert-info mt-5" role="alert">
                        <p class="mb-0">
                            Please note that the rules have been modified since last year.
                            The changes mainly concern <a href="https://physicsbrawl.org/rules/complete#video-calls">video calls after the competition</a>
                            and <a href="https://physicsbrawl.org/rules/complete#points">the obligation to keep your notes</a>.
                        </p>
            </div>
            
            <a href="{$basePath}/download/2025/rules-en-250901.pdf" class="btn btn-primary">
                PDF version
            </a>

            <ul class="mt-5">
                <li><a href="#registration">PARTICIPATING IN THE COMPETITION</a>
                    <ul>
                        <li><a href="#registration">Registration</a></li>
                        <li><a href="#categories">Designation into Categories</a></li>
                    </ul>
                </li>
                <li><a href="#competition-environment">DESCRIPTION OF THE COMPETITION</a>
                    <ul>
                        <li><a href="#competition-environment">Competition Environment</a></li>
                        <li><a href="#points">The Competition System and Awarding of Points</a></li>
                        <li><a href="#main-series">The Main Series</a></li>
                        <li><a href="#hurry-up">The Hurry-up Series</a></li>
                        <li><a href="#format-of-the-results">Format of the Results</a></li>
                        <li><a href="#video-calls">Video Calls after the Competition</a></li>
                        <li><a href="#conclusion">Conclusion of the Competition and Announcement of Winners</a></li>
                    </ul>
                </li>
                <li><a href="#breach-of-rules">ADDITIONAL REMARKS</a>
                    <ul>
                        <li><a href="#breach-of-rules">Breach of Rules</a></li>
                        <li><a href="#final-remarks">Final Remarks</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="registration">
        <section class="inner-container">
            <div class="subheader">PARTICIPATING IN THE COMPETITION</div>
            <h1>Registration</h1>

            <ul>
                <li>To participate in the competition, pre-registration is required at <a href="https://physicsbrawl.org">https://physicsbrawl.org</a>.</li>
                <li>By registering for the competition, each team agrees to follow the Rules of Conduct and these Rules of Physics Brawl Online and confirms they have made themselves acquainted with them.</li>
                <li>A team consists of 1-5 competitors.</li>
                <li>To compete in categories A, B, or C, all team members must be high-school students, primary school students, or their respective equivalents. There is also an Open category (non-competitive) for other competitors who do not meet the criteria for A, B, or C categories.</li>
                <li>Each contestant can compete in only one category and be a member of only one team (see Designation into Categories).</li>
                <li>The team name must not spread political or religious views, be offensive, or otherwise inappropriate. The appropriateness of a team name is judged by the head organizer, who has the right to change the name of such a team, censor it, or disqualify the team from the competition.</li>
                <li>By registering in the competition, the team members agree to the publication of their results in the form of basic information (your name, surname, category, school, and points) in the results list in both print and digital outputs.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="categories">
        <section class="inner-container">
            <div class="subheader">PARTICIPATING IN THE COMPETITION</div>
            <h1>Designation into Categories</h1>

            <ul>
                <li>The competition is divided into three competitive categories and one non-competitive category. Teams are placed into these categories based on the following algorithm.</li>
                <li>Each contestant is assigned a coefficient based on the expected year of high school graduation. A contestant who is in the final, i.e., graduating, year of secondary education at the time of the competition (specifically, a school corresponding to level 3 of the ISCED 2011 classification) is assigned a coefficient of 4. A contestant in the penultimate year is assigned a coefficient of 3, and so on. The lowest possible coefficient is 0 (this is assigned to pupils of primary schools, etc.). The head organizer may determine the coefficient of a participant in ambiguous cases.</li>
                <li>The team coefficient is calculated as the arithmetic mean of the coefficients of individual competitors (they are added together and divided by the number of competitors).</li>
                <li>The team is assigned the lowest category whose conditions it satisfies:
                    <ul>
                        <li>category A: team coefficient ≤ 4,</li>
                        <li>category B: team coefficient ≤ 3 and maximum two competitors have a coefficient 4,</li>
                        <li>category C: team coefficient ≤ 2, no member has a coefficient 4 and maximum two competitors have a coefficient 3.</li>
                    </ul>
                </li>
                <li>If a team member cannot be assigned a coefficient according to the rules above, the team will automatically be placed in the Open category.</li>
                <li>The team coefficient reflects the actual composition of the team during the competition.</li>
                <li>All categories share the same set of problems.</li>
                <li>Each category of the competition has its own results list.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="competition-environment">
        <section class="inner-container">
            <div class="subheader">DESCRIPTION OF THE COMPETITION</div>
            <h1>Competition environment</h1>

            <ul>
                <li>The competition is held exclusively online via the competition environment accessible via the Physics Brawl Online website.. The link to the competition environment will also be sent to the contestants by email.</li>
                <li>The teams log in with their team password, which they will receive shortly before the beginning of the competition in an email message.</li>
                <li>Problems will be published in the form of PDF files in the competition environment after the start of the competition.</li>
                <li>Teams send the results directly via the competition environment. Results sent by other means (e.g., by email) will not be accepted.</li>
                <li>Official announcements from the organizers will be communicated via the online board, only exceptionally by email. The teams are obliged to follow the online board.</li>
                <li>The live results of all teams are displayed during the competition. However, they will be hidden 20 minutes before the end of the competition.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="points">
        <section class="inner-container">
            <div class="subheader">DESCRIPTION OF THE COMPETITION</div>
            <h1>The Competition System and Awarding of Points</h1>

            <ul>
                <li>The competition lasts 3 hours.</li>
                <li>Teams solve the problems. For each correct answer to a problem, the team receives a new problem from the particular series (unless the solved problem is the last problem in the series).</li>
                <li>The competition consists of two parallel parts—the Main series and the Hurry-up (consisting of three series); more details are below.</li>
                <li>The competition consists of 4 parallel series.</li>
                <li>Each problem is assigned a maximum score awarded if the team solves it correctly on the first attempt. The maximum score the team can get for the particular problem lowers after submitting incorrect answers (see the Main series or the Hurry-up series).</li>
                <li>The team aims to receive as many points as possible.</li>
                <li>90 minutes into the competition, the option of skipping problems becomes available.</li>
                <li>The team loses 1 point for skipping an unsolved problem in the series, and a new problem will become available. The skipped problem can no longer be answered. Each team can skip up to 10 problems.</li>
                <li>If the team answers a problem incorrectly, they will not be allowed to submit an answer for 1 minute in that particular series.</li>
                <li>If a serious issue is discovered with a competition problem, organizers reserve the right to modify or eliminate it without compensation.</li>
                <li>During the competition, all competitors are allowed to communicate only with their team members or the organizers. Any interaction with teachers, other teams, etc. is strictly forbidden.</li>
                <li>An exception to the previous rule is the chat available in the competition environment, which serves for asking questions regarding the wording of problems or any issues related to the competition environment or the competition itself. The organizers may respond to these questions publicly.</li>
                <li>In the chat and other official communication channels of the competition, it is strictly forbidden to give hints to other teams, discuss problem solutions, spam, or otherwise behave inappropriately. Violation of this rule may lead to penalties for the team. All disputable situations are decided by the head organizer or an organizer authorized by them.</li>
                <li>The teams use computers or other electronic equipment with access to the internet to solve the problems. Furthermore, teams are permitted to use calculators and writing or drafting supplies.</li>
                <li>Teams are permitted to use the internet and any literature as a source of information. The use of generative artificial intelligence tools is strictly prohibited. This includes, but is not limited to, tools such as ChatGPT capable of generating complex, coherent, and contextually relevant answers to questions posed by the user.</li>
                <li>Contestants are required to keep all materials related to their solutions (paper and electronic notes, intermediate calculations, etc.) and, upon request, present them to the organizers until the announcement of the final results. The submitted materials may be taken into account as a mitigating circumstance when assessing possible doubts about the regularity of the competition.</li>
                <li>The competition is based on fair play. The course of the competition is monitored to prevent cheating.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="main-series">
        <section class="inner-container">
            <div class="subheader">DESCRIPTION OF THE COMPETITION</div>
            <h1>The Main Series</h1>

            <ul>
                <li>At the beginning of the Main series of the competition, each team receives 7 problems. After solving any problem from this series, another problem becomes available. The series contains approximately 50 problems. The exact number of problems is not published in advance.</li>
                <li>Each problem is assigned a maximum score awarded if the team solves it correctly on the first attempt.</li>
                <li>With each incorrect attempt, the points awarded for the problem decrease according to the following table.
                    <table class="table table-hover" style="max-width: 40rem">
                        <thead>
                        <tr>
                            <td>no incorrect attempt</td>
                            <td>1 incorrect attempt</td>
                            <td>2 incorrect attempts</td>
                            <td>3 incorrect attempts</td>
                            <td>4 and more incorrect attempts</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>4</td>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>5</td>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>5</td>
                            <td>4</td>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>6</td>
                            <td>4</td>
                            <td>2</td>
                            <td>1 </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="hurry-up">
        <section class="inner-container">
            <div class="subheader">DESCRIPTION OF THE COMPETITION</div>
            <h1>The Hurry-up Series</h1>

            <ul>
                <li>One hour after the beginning of the competition, the option to answer problems from the Hurry-up series becomes available.</li>
                <li>Problems from this series are divided into three categories (usually mechanics M, electromagnetism E, others X).</li>
                <li>In the beginning, the team receives one problem from each category (i.e., problems M.1, E.1, X.1).</li>
                <li>After submitting the correct answer, the next problem from the respective category becomes available (e.g., when the team correctly answers problem M.1, problem M.2 becomes available).</li>
                <li>Points are awarded according to the following table (depending on the number of incorrect attempts).
                    <table class="table table-hover" style="max-width: 40rem">
                        <thead>
                        <tr>
                            <td>no incorrect attempt</td>
                            <td>1 incorrect attempt</td>
                            <td>2 incorrect attempts</td>
                            <td>3 incorrect attempts</td>
                            <td>4 and more incorrect attempts</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>3</td>
                            <td>2</td>
                            <td>1</td>
                            <td>0 </td>
                        </tr>
                        </tbody>
                    </table>
                </li>

                <li>During the first 30 minutes of the Hurry-up series (before the option of skipping the problems becomes available—see The Competition System and Awarding of Points), each team can get a bonus. The bonus is awarded for each completed triplet (i.e., successfully answered problems of the same number in all categories—e.g., M.1, E.1, X.1). The bonus consists of doubling the points earned for that triplet.</li>
                <li>These bonus points are displayed in the result sheet only in the “bonus points” and “total points” columns.</li>
                <li>After the option of skipping the problems becomes available, the Hurry-up problems remain available, but no bonus points will be awarded for the completed triplet.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="format-of-the-results">
        <section class="inner-container">
            <div class="subheader">DESCRIPTION OF THE COMPETITION</div>
            <h1>Format of the Results</h1>

            <ul>
                <li>The answer to every problem is a number.</li>
                <li>The required number of significant figures and the units of the answer are specified in the problem statement.</li>
                <li>The values of some constants needed for the calculations are given in the list of constants available to each team. These values must be used in order to obtain the correct result within the tolerance range. If the problem statement provides a different value, this value takes priority. If the constant is not specified, its value should be taken from publicly available sources.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="video-calls">
        <section class="inner-container">
            <div class="subheader">DESCRIPTION OF THE COMPETITION</div>
            <h1>Video Calls after the Competition</h1>

            <ul>
                <li>After the competition, selected teams may be invited to a video call with the organizers.</li>
                <li>The video call takes the form of an interview about the competition problems and the course of the competition; team members may be asked to verbally describe or reconstruct the solution procedure for selected problems.</li>
                <li>The invitation to a video call will be sent within 30 minutes after the end of the competition to the email address provided during registration. The invitation will include the time of the call together with instructions for joining. Each team will receive the invitation at least 10 minutes before the scheduled start of the call.</li>
                <li>Each video call usually lasts about 10 minutes. The first call will take place approximately 15 minutes after the end of the competition, and the last call will take place no later than 90 minutes after the competition ends.</li>
                <li>The video calls are held on the Google Meet platform and will be recorded. By joining the call, the team acknowledges that the call is being recorded; the recordings are used solely to verify the fairness of the competition and are accessible only to the organizing team.</li>
                <li>Teams are selected for a video call by the head organizer or organizers authorized by them. Typically, these will be teams with higher scores.</li>
                <li>Failure to participate in the video call, or technical difficulties during the call, do not in themselves constitute a violation of the rules and do not automatically result in a penalty. However, they may be taken into account when assessing the fairness of the competition.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="conclusion">
        <section class="inner-container">
            <div class="subheader">DESCRIPTION OF THE COMPETITION</div>
            <h1>Conclusion of the Competition and Announcement of Winners</h1>

            <ul>
                <li>The competition ends 3 hours after its start.</li>
                <li>The winner is the team with the highest number of points.</li>
                <li>In the event of a tie, the earlier time of the last submitted correct answer is ranked higher. If the tie still persists, it will be decided by drawing lots.</li>
                <li>Immediately after the competition has finished, the preliminary results are published.</li>
                <li>The contestants may appeal to the organizers up to 60 minutes after the end of the competition. Their remarks will be considered and eventually reflected in the results.</li>
                <li>The final results will be published on the Physics Brawl Online website only after all remarks from the contestants have been considered and any necessary investigations of the fairness of the competition have been completed.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="breach-of-rules">
        <section class="inner-container">
            <div class="subheader">ADDITIONAL REMARKS</div>
            <h1>Breach of Rules</h1>

            <ul>
                <li>In the case of a reasonable suspicion of a breach of the Competition Rules or the Rules of Conduct, the head organizer has the right to take special measures to confirm or rebut the suspicion and to prevent the continuation of disallowed conduct.</li>
                <li>If a team violates any of the Competition Rules or Rules of Conduct, the head organizer or a designated committee will determine the appropriate consequences for the team.</li>
                <li>In the case of a less serious breach of the competition rules, the head organizer or a committee authorized by the head organizer can decide on the removal of a certain number of points from a team based on the severity of the breach.</li>
                <li>Organizers may disqualify a team that commits a severe breach of rules.</li>
                <li>In the case of an extremely severe breach of the Competition Rules or the Rules of Conduct, the Central Committee of the competition may decide to ban participation in the competition in the subsequent years or impose other sanctions on the competitors and/or on the schools they come from. The organizer also reserves the right to share information about rule violations with the organizers of other competitions and activities organized or promoted by the CUNI MFF and with representatives of the competitors' schools.</li>
                <li>Particularly serious breaches include any intentional attempt to obtain the problems or their solutions before the competition, their publication, or disclosure to anybody outside their team. Any intentional attempts to impede the smooth running of the competition to the other participants or the organizers, or an attack on the competition server are also understood as extremely severe breaches of rules.</li>
            </ul>
        </section>
    </div>

    <div class="panel color-auto" id="final-remarks">
        <section class="inner-container">
            <div class="subheader">ADDITIONAL REMARKS</div>
            <h1>Final Remarks</h1>

            <ul>
                <li>Organizers reserve the right to make minor changes in the rules before the start of the competition.</li>
                <li>Resolution of any potential conflicts or issues not covered by these rules is decided by the head organizer or an organizer authorized by them. The team will be informed of these decisions at the email addresses provided in the application form.</li>
                <li>If a team disagrees with a decision made by the head organizer, they have the right to appeal within 14 days of the decision being made. The Central Committee of the competition will process the appeal and decide within 30 days of its submission.</li>
                <li>These rules were ratified by the Central Committee of the competition Physics Brawl Online on September 1, 2025.</li>
                <li>These rules replace the previous version and come into effect on September 1, 2025.</li>
            </ul>
        </section>
    </div>

{/block}
