{varType App\Modules\Core\Language $language}
{block subtitle}
    {switch $language->value}
        {case cs}Pravidla
        {default}Rules
    {/switch}
{/block}

{block title}
    {switch $language->value}
        {case cs}Stručná pravidla pro rychlé pochopení soutěže
        {default}Brief Rules to Quickly Understand the Competition
    {/switch}
{/block}


{block content}

    <a class="btn btn-primary my-2" n:href="Rules:complete">
        {switch $language->value}
            {case cs}Úplná pravidla soutěže
            {default}Full Rules
        {/switch}
    </a>
    <a class="btn btn-primary my-2" n:href="Rules:OrganisationalRegulations">
        {switch $language->value}
            {case cs}Organizační řád
            {default}Organizational Regulations
        {/switch}
    </a>
    <a class="btn btn-primary my-2" n:href="Rules:Resolutions">
        {switch $language->value}
            {case cs}Rozhodnutí ústřední komise
            {default}Central Committee Resolution
        {/switch}
    </a>
    <p>
        {switch $language->value}
            {case cs}Tato pravidla jsou pouze stručná verze pro připomenutí. Přesné znění naleznete v odkazech výše.
            {default}These rules are only brief reminders. You can find the full version in the links above.
        {/switch}
    </p>

    <div class="rules" style="margin-top: 2rem">
        <div class="title">
            {switch $language->value}
                {case cs}Co to je
                {default}What is this
            {/switch}
        </div>
        <div class="description">
            {switch $language->value}
                {case cs}Fyziklání Online je tříhodinová týmová hra probíhající přes internet.
                {default}Physics Brawl Online is a 3-hour long team competition taking place over the internet.
            {/switch}
        </div>
    </div>
    <div class="rules">
        <div class="title">
            {switch $language->value}
                {case cs}Pro koho je soutěž
                {default}Who can compete
            {/switch}
        </div>
        <div class="description">
            {switch $language->value}
                {case cs}Soutěže se mohou účastnit až pětičlenné týmy především ze středních škol z celého světa.
                {default}Teams of up to five members (primarily high school students) from all over the world can take part.
            {/switch}
        </div>
    </div>
    <div class="rules">
        <div class="title">
            {switch $language->value}
                {case cs}Kategorie
                {default}Categories
            {/switch}
        </div>
        <div class="description">
            {switch $language->value}
                {case cs}Soutěží se ve třech středoškolských kategoriích a kategorii Open, ve které se může zúčastnit kdokoliv. Postup, jak zjistit do jaké kategorie váš tým patří, je detailněji popsán v <a n:href="Rules:complete" style="color: #00ae6b">úplném znění pravidel</a>.
            {default}There are three categories for high school students and the Open category, in which anybody can take part. Instructions on how to identify your team's category can be found in the <a n:href="Rules:complete" style="color: #00ae6b">full version of rules</a>.
            {/switch}
        </div>
    </div>
    <div class="rules">
        <div class="title">
            {switch $language->value}
                {case cs}Jak vypadají úlohy
                {default}How do problems look like
            {/switch}
        </div>
        <div class="description">
            {switch $language->value}
                {case cs}Řešením každé úlohy je číselný výsledek, odevzdávaný přes webový formulář. Formát výsledku (počet platných číslic, jednotky) je vždy uveden u zadání úlohy.
                {default}The solution to every problem is a number that is sent to our servers using a web form. Format (number of significant digits, units) is always specified.
            {/switch}
        </div>
    </div>
    <div class="rules">
        <div class="title">
            {switch $language->value}
                {case cs}Co lze používat
                {default}What is allowed
            {/switch}
        </div>
        <div class="description">
            {switch $language->value}
                {case cs}Během soutěže je povoleno užívat tištenou literaturu, libovolné počítačové programy/ programovací jazyky (Wolfram, Geogebra,...) i internet. Nicméně komunikace mezi týmy je striktně zakázána. <strong>Také je přísně zakázáno použití nástrojů generativní umělé inteligence. Toto zahrnuje mimo jiné nástroje typu ChatGPT schopné generování komplexních, koherentních a kontextuálně relevantních odpovědí na uživatelem předkládané otázky.</strong>
                {default}You can use printed literature, any computer program (such as Wolfram, Geogebra,...) and the internet. However, any communication between the members of different teams is strictly prohibited. <strong>The use of generative artificial intelligence tools is strictly prohibited too. This includes but is not limited to, tools such as ChatGPT capable of generating complex, coherent, and contextually relevant answers to questions posed by the user.</strong>
            {/switch}
        </div>
    </div>
    <div class="rules">
        <div class="title">
            {switch $language->value}
                {case cs}Jak to funguje
                {default}How it works
            {/switch}
        </div>
        <div class="description">
            {switch $language->value}
                {case cs}Za vyřešené úlohy sbírají týmy body. Během hry týmy stále vidí aktuální výsledkovou listinu, která bude 20 minut před koncem soutěže zmrazena a opět aktualizována až po skončení hry.
                {default}Teams are awarded points for successfully solved problems. During the competition, the score of each team is visible to every other team until 20 minutes before the end. At that point, the scores are hidden and not shown to the participants again until the competition finishes.
            {/switch}
        </div>
    </div>
{/block}
