{varType App\Models\Downloader\Models\EventModel $newestEvent}

{block title}Aktuální ročník{/block}

{block main}
    <div class="panel color-auto">
        <section class="inner-container">
            <!-- <div class="subheader">Aktuální stránka akce z {*$event->begin|date: "j. n. Y"*}</div>
        <h1>DSEF {*$event->begin|date: "Y"*}</h1> -->
            <h1>Základní informace</h1>

            <p>Den s experimentální fyzikou se bude konat {$newestEvent->begin|date: 'j. n. Y'} v Troji.
{*
                Registrace se otevře {$newestEvent->registrationBegin|date: 'j. n. Y'} v {$newestEvent->registrationBegin|date: 'H:i'}
                    a skončí {$newestEvent->registrationEnd|date: 'j. n. Y'}.
                Rozvržení jednotlivých exkurzí budeme postupně přidávat. *}
                Pro účastníky z

                daleka
                je jako každý rok připravené dotované ubytování z neděle na pondělí.
                {*Pokud máte nějaký dotaz nebo problém, neváhejte nám napsat na e-mail <a
                        href="mailto:dsef@dsef.cz">dsef@dsef.cz</a>.*}
            </p>
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container">
            <h1>Harmonogram dne</h1>

            <h4 id="zacatek-dsefu">Začátek DSEFu</h4>
            <ul>
                <li>Příjezd pro ubytované v hostelu je v neděli od 16:00 až do půlnoci. Pondělní snídaně (pouze pro
                    ubytované) od 7:00.
                </li>
                <li>Prezence účastníků proběhne v čase <strong>8:00–8:30 na
                        Matematicko-fyzikální fakultě ve vestibulu budovy T v Troji na adrese V Holešovičkách 2/747</strong>. Po registraci následuje zahájení DSEFu a ranní přednáška.
                </li>
            </ul>
            <h4 id="slavnostni-zahajeni">Slavnostní zahájení DSEFu (8:50–9:05)</h4>
            <h4 id="ranni-prednaska">Ranní přednáška (9:05–10:00)</h4>
            <p class="ms-3">
                <b>název přednášky bude přidán</b><br/>
                prezentující<br/>
                atonace bude přidána později


            </p>
            <h4 id="dopoledni-blok">Dopolední blok exkurzí (10:00-12:00)</h4>
            <h4 id="odpoledni-blok">Odpolední blok exkurzí (13:00-17:00)</h4>
            <hr/>
            <h4 id="exkurze">Exkurze</h4>
            <p>
                Při přihlášení si zvolíte jednu dopolední a odpolední skupinu; níže naleznete informace o tom, jaké
                exkurze
                na vás čekají. Dopolední program probíhá na pracovištích MFF UK, odpolední na různých vědeckých
                institucích v
                Praze a okolí. Začátek a konec odpoledního bloku exkurzí není pro všechny exkurze stejný, uvedený časový
                interval je pouze orientační.
                Podobně jako minulé ročníky, i letos plánujeme celodenní exkurze. Konkrétní exkurze budou teprve
                zveřejněny.<br>
                Skupinu bude možné v přihlášce změnit do konce registrace,
                tj. {$newestEvent->registrationEnd|date:'j. n. Y'}.
            </p>
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container" id="prihlasovani">
            <h1>Přihlašování</h1>
            <p>
                Přihlašování ještě nezačalo.
                {*
                Exkurze mají dopolední a odpolední část, v každé z nich jsou účastníci rozdělení do několika skupin,
                jejichž program se liší. Výjimku tvoří celodenní exkurze. Svou skupinu si
                zvolíte už v přihlášce a pokud bude volná kapacita, je možné
                si ji do konce registrace měnit podle Vašich preferencí.
                *}
            </p>
            {*<p>
                 <a href="{plink :Default:Registration:Default}" type="button"
                   class="btn btn-primary btn-block">Registrovat se</a>

            </p>*}
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container">
            <h1>Ubytování</h1>

            <h5 id="kde-je-ubytovani-a-jake">Kde je ubytování a jaké?</h5>
            <div>
                <ul>
                    <li>Ubytování bylo v <a href="https://www.plusprague.cz/cs/" class="urlextern"
                                          title="https://plushostels.com/cs/praha">Hostelu PLUS</a> v Holešovicích.
                    </li>
                    <li>Ubytováni bylo pohromadě na velkých pokojích (7–8lůžkových).</li>
                    {*<li>V ceně ubytování  malé ručníky.</li>*}

                </ul>
            </div>

            <h5 id="placeni-za-ubytovani">Placení za ubytování</h5>
            <div>
                <ul>
                    <li>Poplatek za ubytování je <strong>400 Kč</strong></li>
                    {*<li>Ubytování se platí předem <a href="https://db.fykos.cz/shop/">zde</a></li>*}
                    <li> ubytovaní starší 18 let musí zaplatit na místě dalších 50 Kč za turistickou daň</li>
                </ul>

            </div>
            <h5 id="prijezd-na-ubytovani">Příjezd na ubytování</h5>
            <div>
                <ul>
                    <li>Přijezd na ubytování je od <strong>16:00</strong>.</li>
                    {*<li>Recepce na hotelu je otevřená nonstop, během večera můžete dorazit kdykoliv.</li>*}
                </ul>
            </div>
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container">
            <h1>Exkurze</h1>
            <div class="mb-5">
                <h2>Dopolední exkurze</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Skupina</th>
                        <th>10:15–10:40</th>
                        <th>10:55–11:20</th>
                        <th>11:35–12:00</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Alfa</th>
                        <td><a href="#ATM">ATM</a></td>
                        <td><a href="#MOS">MOS</a></td>
                        <td><a href="#PLA">PLA</a></td>
                    </tr>
                    <tr>
                        <th>Bravo</th>
                        <td><a href="#MOD">MOD</a></td>
                        <td><a href="#DET">DET</a></td>
                        <td><a href="#VOD">VOD</a></td>
                    </tr>
                    <tr>
                        <th>Charlie</th>
                        <td><a href="#MOS">MOS</a></td>
                        <td><a href="#SPA">SPA</a></td>
                        <td><a href="#MIK">MIK</a></td>
                    </tr>
                    <tr>
                        <th>Delta</th>
                        <td><a href="#DET">DET</a></td>
                        <td><a href="#VOD">VOD</a></td>
                        <td><a href="#MOS">MOS</a></td>
                    </tr>
                    <tr>
                        <th>Echo</th>
                        <td><a href="#PLA">PLA</a></td>
                        <td><a href="#LOW">LOW</a></td>
                        <td><a href="#MOD">MOD</a></td>
                    </tr>
                    <tr>
                        <th>Foxtrot</th>
                        <td><a href="#RES">RES</a></td>
                        <td><a href="#MAK">MAK</a></td>
                        <td><a href="#DET">DET</a></td>
                    </tr>
                    <tr>
                        <th>Golf</th>
                        <td><a href="#POH">POH</a></td>
                        <td><a href="#MIK">MIK</a></td>
                        <td><a href="#RES">RES</a></td>
                    </tr>
                    <tr>
                        <th>Hotel</th>
                        <td><a href="#VOD">VOD</a></td>
                        <td><a href="#ATM">ATM</a></td>
                        <td><a href="#POH">POH</a></td>
                    </tr>
                    <tr>
                        <th>India</th>
                        <td><a href="#MAK">MAK</a></td>
                        <td><a href="#MOD">MOD</a></td>
                        <td><a href="#SPA">SPA</a></td>
                    </tr>
                    <tr>
                        <th>Juliet</th>
                        <td><a href="#MIK">MIK</a></td>
                        <td><a href="#PLA">PLA</a></td>
                        <td><a href="#LOW">LOW</a></td>
                    </tr>
                    <tr>
                        <th>Kilo</th>
                        <td><a href="#SPA">SPA</a></td>
                        <td><a href="#RES">RES</a></td>
                        <td><a href="#ATM">ATM</a></td>
                    </tr>
                    <tr>
                        <th>Lima</th>
                        <td><a href="#LOW">LOW</a></td>
                        <td><a href="#POH">POH</a></td>
                        <td><a href="#MAK">MAK</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="my-5">
                <h2>{$data[296]['name']['cs']}</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Skupina</th>
                        <th>{(new \DateTime($data[296]['start']))->format('H:i')}–{(new \DateTime($data[296]['end']))->format('H:i')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $data[296]['items'] as $item}
                        <tr>
                            <td><strong>{$item['name']['cs']}</strong></td>
                            <td><a href="#{$item['itemId']}">{$item['description']['cs']}</a></td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="my-5">
                <h2>{$data[295]['name']['cs']}</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Skupina</th>
                        <th>{(new \DateTime($data[295]['start']))->format('H:i')}–{(new \DateTime($data[295]['end']))->format('H:i')}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach $data[295]['items'] as $item}
                        <tr>
                            <td><strong>{$item['name']['cs']}</strong></td>
                            <td><a href="#{$item['itemId']}">{$item['description']['cs']}</a></td>
                        </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container">
            {*
            <h1>Anotace exkurzí</h1>
            <div class="alert alert-warning">Anotace u některých exkurzí ještě nejsou doplněné. Jakmile budou k
                dispozici, objeví se níže na stránce spolu s ostatními.
            </div>
            *}
            <h2>Dopolední exkurze </h2>
            <hr/>
            <strong class="subheader mt-3">ATM</strong>
            <h4 id="ATM">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později

            </p>
            <strong class="subheader mt-3">MOD</strong>
            <h4 id="MOD">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později
            </p>
            <strong class="subheader mt-3">MOS</strong>
            <h4 id="MOS">Název exkurze bude přidán později</h4>
            <p>
               anotace bude přidána později

            </p>
            <strong class="subheader mt-3">DET</strong>
            <h4 id="DET">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později

            </p>
            <strong class="subheader mt-3">PLA</strong>
            <h4 id="PLA">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později

            </p>
            <strong class="subheader mt-3">RES</strong>
            <h4 id="RES">Název exkurze bude přidán později</h4>
            <p>
               anotace bude přidána později
            </p>
            <strong class="subheader mt-3">POH</strong>
            <h4 id="POH">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později
            </p>
            <strong class="subheader mt-3">VOD</strong>
            <h4 id="VOD">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později
            </p>
            <strong class="subheader mt-3">MAK</strong>
            <h4 id="MAK">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později
            </p>
            <strong class="subheader mt-3">MIK</strong>
            <h4 id="MIK">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později
            </p>
            <strong class="subheader mt-3">SPA</strong>
            <h4 id="SPA">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později
            </p>
            <strong class="subheader mt-3">LOW</strong>
            <h4 id="LOW">Název exkurze bude přidán později</h4>
            <p>
                anotace bude přidána později
            </p>
            <h2>{$data[296]['name']['cs']}</h2>
            <hr/>
            {foreach $data[296]['items'] as $item}
                <strong class="subheader mt-3">{$item['name']['cs']}</strong>
                <h4 id="{$item['itemId']}">{$item['description']['cs']}</h4>
                {$item['longDescription']['cs']|noescape}
            {/foreach}
            <h2>{$data[295]['name']['cs']}</h2>
            <hr/>
            {foreach $data[295]['items'] as $item}
                <strong class="subheader mt-3">{$item['name']['cs']}</strong>
                <h4 id="{$item['itemId']}">{$item['description']['cs']}</h4>
                {$item['longDescription']['cs']|noescape}
            {/foreach}
        </section>
    </div>

{/block}
