{block title}Events{/block}
{block main}
<div class="panel color-auto">
    <section class="inner-container">
        <h1>FYKOS Events</h1>

        <p>
            FYKOS organizes about ten events for high school students every year - from small events focused on individual approach and feedback to huge competitions for thousands of people from all over the world. Here you will find a complete overview of these events.
        </p>
    </section>
</div>


<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <div>
                    <h2>FYKOS Correspondence Competition</h2>
                    <p>
                        The FYKOS Correspondence Competition is a contest that takes place continuously throughout the school year. It is the original and oldest activity of FYKOS (which also gave rise to the name of FYKOS); it has been held every year since the establishment of FYKOS in 1987. It is primarily aimed at improving participants' physics skills through providing individual feedback, various challenging problems, and advanced study materials.
                    </p>
                </div>
                <div>
                    <a class="btn btn-primary" n:href=":Events:Fykos:">
                        Learn more about the competition
                    </a>
                </div>
            </div>
            <div class="col-md-4 event-img-box">
                <a n:href=":Events:Fykos:">
                    <img src="{$basePath}/images/events/default/fykos.png" alt="FYKOS Correspondence Competition"
                    class="event-img">
                </a>
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <div>
                    <h2>Fyziklani</h2>
                    <p>
                        Fyziklani is the largest in-person physics competition in Europe. It is highly international, with past years hosting over a thousand participants from over 20 countries. It is intended for teams of up to 5 high school students who are interested in physics and mathematics. Their goal is to earn as many points as possible by solving problems within a given time limit. For each correctly solved problem, they earn points and more slightly challenging examples. Fyziklani also includes a rich accompanying program full of lectures, visits to scientific laboratories, as well as social activities such as receptions or parties, where participants get to know their peers from different parts of the world.
                    </p>
                </div>
                <div>
                    <a class="btn btn-primary-fof" href="https://fyziklani.cz">
                        Fyziklani
                    </a>
                </div>
            </div>
            <div class="col-md-4 event-img-box">
                <a href="https://fyziklani.cz">
                    <img src="{$basePath}/images/events/default/fof.png" alt="Fyziklani" class="event-img">
                </a>
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <h2>Physics Brawl Online</h2>
                <p>
                    Physics Brawl Online is an online version of the classic Fyziklani competition. In addition to categories for different high school years, it also has an open category that anyone can participate in, so you can compare your skills with, for example, your own physics teachers. It is allowed to use the internet to solve the problems, and all the problems can be solved from the comfort of your home, your own school, or any place with an internet connection. Thousands of participants from around the world participate in Physics Brawl Online every year.
                </p>
                <div>
                    <a class="btn btn-primary-fol" href="https://online.fyziklani.cz">
                        Physics Brawl Online
                    </a>
                </div>
            </div>
            <div class="col-md-4 event-img-box">
                <a href="https://online.fyziklani.cz">
                    <img src="{$basePath}/images/events/default/fol.png" alt="Physics Brawl Online" class="event-img">
                </a>
            </div>
        </div>
    </section>
</div>


<div class="panel color-auto">
    <section class="inner-container">
        <h1>Event Dates</h1>

        <p>Here you will find approximate dates of our events along with a calendar showing current dates for the given year. You can add the calendar to your Google account.</p>

        <div class="row mt-5">
            <div class="col-md-12">
                <iframe class="calendar-iframe"
                    src="https://calendar.google.com/calendar/embed?src=c_9cbc8e4c5ba76302eafc9d5f15e7be690312b6da2c2c0afa6f8167b4fb402872%40group.calendar.google.com&ctz=Europe%2FPrague" 
                    frameborder="0" scrolling="no">
                </iframe>
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-12 event-text-box">
                <h1>Events Only Available in Czech</h1>
                <p>FYKOS organizes several other educational events for high school students. Unfortunately, most of them are only available in Czech.</p>
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <h2>Day with Experimental Physics</h2>
                <p>
                    Day with Experimental Physics (DSEF) is a traditional FYKOS event during which participants can explore physics laboratories at the Faculty of Mathematics and Physics, as well as those in Prague and the surrounding area. Participants have a unique opportunity to see how experimental physics is done today with their own eyes. The most common excursions include visits to the nuclear reactor, electron microscopy facilities, the low-temperature department, nuclear magnetic resonance facilities, the Nuclear Research Institute in Řež, and many others.
                {* </p>
                <div>
                    <a class="btn btn-primary-dsef" href="https://dsef.cz">
                        Day with Experimental Physics
                    </a>
                </div> *}
            </div>
            <div class="col-md-4 event-img-box">
                {* <a href="https://dsef.cz"> *}
                    <img src="{$basePath}/images/events/default/dsef.png" alt="Day with Experimental Physics" class="event-img">
                {* </a> *}
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <h2>Naboj Physics</h2>
                <p>
                    Naboj Physics is a team competition similar in principle to Fyziklani. However, it does not take place in one location in Prague, but simultaneously at multiple competition venues in several European countries. The event is primarily organized by the Slovak organization <a href="https://trojsten.sk/">Trojsten</a>, with FYKOS providing support and organizing it for the Czech Republic.
                </p>
                {* <div>
                    <a class="btn btn-primary-naboj" href="https://physics.naboj.org">
                        Naboj Physics
                    </a>
                </div> *}
            </div>
            <div class="col-md-4 event-img-box">
                {* <a href="https://physics.naboj.org"> *}
                    <img src="{$basePath}/images/events/default/naboj.jpg" alt="Naboj Physics" class="event-img">
                {* </a> *}
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <h2>Camps</h2>
                <p>
                    Twice a year, in spring and autumn, we organize a traditional camp. This week-long event is intended for approximately 30 of the best participants in the FYKOS correspondence competition and takes place in a beautiful corner of our country. Camp participants will experience a week full of interesting lectures not only in physics, mathematics, and computer science. To ensure that the intellectual load managed by students and organizers is not too high, everyone will relax with games, sports, and competitions. The camp's professional program is not purely theoretical; participants will also "touch" real physics experiments.
                </p>
                {* <div>
                    <a class="btn btn-primary" n:href=":Events:Camps:">
                        Learn more about the camp
                    </a>
                </div> *}
            </div>
            <div class="col-md-4 event-img-box">
                {* <a n:href=":Events:Camps:"> *}
                    <img src="{$basePath}/images/events/default/sous.JPG" alt="Camp" class="event-img">
                {* </a> *}
            </div>
        </div>
    </section>
</div>

{* <div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <h2>Internships at the Faculty of Mathematics and Physics</h2>
                <p>
                    In cooperation with the Faculty of Mathematics and Physics, internships are held in the summer for the best participants in experimental tasks. Thanks to this, they will experience working in scientific workplaces firsthand. Under the guidance of experienced scientists, they will conduct a specific experiment and write an article about their research as an output. The internships take place for 14 days during the summer holidays in Prague. Participants can choose from a wide range of research areas, from optics, plasma and surface physics, quantum physics to atmospheric physics.
                </p>
                <div>
                    <a class="btn btn-primary" n:href=":Events:Internships:">
                        Learn more about internships
                    </a>
                </div>
            </div>
            <div class="col-md-4 event-img-box">
                <a n:href=":Events:Internships:">
                    <img src="{$basePath}/images/events/default/staze.jpg" alt="Internships at the Faculty of Mathematics and Physics" class="event-img">
                </a>
            </div>
        </div>
    </section>
</div> *}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row">
            <div class="col-12">
                <h2 class="mt-5">Other Events</h2>
                <p>
                    FYKOS has organized several other events throughout its long history. One of them is TSAF (Week with Applied Physics), which took participants to top scientific laboratories several times, such as CERN. In 2023, internships regarding experimental physics were organized at the Faculty of Mathematics and Phyiscs, Charles University. During the COVID-19 pandemic, FYKOS Online Weekend was held as a replacement for the camp. Until the 2018/19 academic year, a series of physics lectures for high school students was also regularly organized. In the past, we also organized an Advanced Seminar (RS), which served as regular advanced education for high school students, taking place once a week at the Faculty of Mathematics and Physics.
                </p>
            </div>
        </div>
    </section>
</div>

{/block}