.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

@mixin callout($color) {
  border-left-color: $color;
  h4 {
    color: $color;
  }
}

.bs-callout-default {
  @include callout(#777);
}

.bs-callout-primary {
  @include callout(#428bca);
}

.bs-callout-success {
  @include callout(#5cb85c);
}

.bs-callout-danger {
  @include callout(#d9534f);
}

.bs-callout-warning {
  @include callout(#f0ad4e);
}

.bs-callout-info {
  @include callout(#5bc0de);
}

.bs-callout-deprecated {
  @include callout(#eee);
}

.bs-callout-fykos-blue {
  @include callout($colorFykosBlue);
}

.bs-callout-fykos-pink {
  @include callout($colorFykosPink);
}

.bs-callout-fykos-lime {
  @include callout($colorFykosLime);
}

.bs-callout-fykos-purple {
  @include callout($colorFykosPurple);
}

.bs-callout-fykos-orange {
  @include callout($colorFykosOrange);
}

.bs-callout-fykos-green {
  @include callout($colorFykosGreen);
}
