.bg-fol {
  background-color: #00ae6b;
}

.border-fol {
  border-color: #00ae6b;
}

.text-fol {
  color: #00ae6b !important;
}

.bg-fof {
  background-color: #e6060d;
}

.border-fof {
  border-color: #e6060d;
}

.text-fof {
  color: #e6060d !important;
}

.border-fykos {
  border-color: #1175da;
}

.bg-fykos {
  background-color: #1175da;
}

.text-fykos {
  color: #1175da !important;
}
