.header-image {
  background-color: transparent;;
  padding: 0 !important;
  border-radius: 0;

  .second-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .carousel-container {
    position: relative;
    top: 0;
    left: 0;
  }

}
