application:
    mapping:
        *: App\Modules\Vyfuk\*Module\*Presenter

services:
    - App\RouterFactory::createVyfukRouter(%domains%, %router-mapping%)

includes:
    - vyfuk-router-mapping.neon
    - config.neon
