php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Default:Error

session:
    expiration: 14 days
    cookie_secure: true

services:
    - Fykosak\Utils\Localization\GettextTranslator(%i18n.locales%,"")
    - App\Models\NetteDownloader\ORM\Services\ServiceEventDetail('10 minutes')
    - App\Models\NetteDownloader\ORM\Services\ServiceEventList('10 minutes')
    - App\Models\NetteDownloader\ORM\Services\DummyService('10 minutes')
    - App\Models\GamePhaseCalculator(%eventTypeId%)
    - App\Models\Game\Connector(%gameApi.url%, %gameApi.login%, %gameApi.password%)
    - App\Models\Downloader\FKSDBDownloader(%fksdbDownloader.url%,%fksdbDownloader.login%,%fksdbDownloader.password%,'10 minutes')

extensions:
    asset: SixtyEightPublishers\Asset\Bridge\Nette\DI\AssetExtension

parameters:
    i18n:
        locales:
            cs: cs_CZ.utf-8
            en: en_US.utf-8
    # Contains mapping from domain to language. If empty, ?lang is used
    domains:
        # domain: lang
    eventTypeId: 0
    gameApi:
        login:
        password:
        url: ''
