application:
    mapping:
        *: App\Modules\Fykos\*Module\*Presenter

services:
    - App\RouterFactory::createFykosRouter(%domains%, %router-mapping%)
    - App\Models\Problems\ProblemService('10 minutes')
    - App\Models\Problems\SeriesService('10 minutes')


includes:
    - fykos-router-mapping.neon
    - config.neon
