application:
    mapping:
        *: App\Modules\Fof\*Module\*Presenter

services:
    - App\RouterFactory::createFofRouter(%domains%, %router-mapping%)

parameters:
    competitionBegin: 10:00
    eventTypeId: 1

includes:
    - fol-router-mapping.neon
    - config.neon
