application:
    mapping:
        *: App\Modules\Fykos\*Module\*Presenter

services:
    - App\RouterFactory::createFykosRouter(%domains%, %router-mapping%)


includes:
    - fykos-router-mapping.neon
    - config.neon