application:
    mapping:
        *: App\Modules\Fol\*Module\*Presenter

services:
    - App\RouterFactory::createFolRouter(%domains%, %router-mapping%)

parameters:
    wwwDir: %appDir%/.../www-fol
    competitionBegin: 17:00
    eventTypeId: 9

includes:
    - fol-router-mapping.neon
    - config.neon
