parameters:
    fksdbDownloader:
        login: ''
        password: ''
        url: http://127.0.0.1:8090/

    problemManagerDownloader:
        url: ''
        key: ''

    static:
        url: ''

    gameApi:
        url: ''
        login: ''
        password: ''
