application:
    mapping:
        *: App\Modules\Fol\*Module\*Presenter

services:
    - App\RouterFactory::createFolRouter(%domains%, %router-mapping%)

parameters:
    competitionBegin: 17:00
    eventTypeId: 9
    fofEventTypeId: 1

includes:
    - fol-router-mapping.neon
    - config.neon
