parameters:
    # FKSDB API endpoint
    fksdbDownloader:
        login: '<fksdb-login>'
        password: '<fksdb-password>'
        url: 'https://db.fykos.cz/api/'
    problemManagerDownloader:
        login: ''
        password: ''
        url: 'https://static.fykos.cz/problems/'

    # game API endpoint, used for FOL/FOF live results
    #gameApi:
    #    login: ''
    #    password: ''
    #    url: ''
