application:
    mapping:
        *: App\Modules\Dsef\*Module\*Presenter
services:
    - App\RouterFactory::createDsefRouter(%domains%, %router-mapping%)

includes:
    - config.neon

parameters:
    eventTypeId: 2
    router-mapping:
        default:
            cs:
                Aktualni: Current
                Archiv: Archive
        archive:
            cs:
