php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Default:Error

session:
    expiration: 14 days
    cookie_secure: true

services:
    - Fykosak\Utils\Localization\GettextTranslator(App\Modules\Core\Language)
    - App\Models\SettingsService(%domains%)
    - App\Models\Game\Connector(%gameApi.url%, %gameApi.login%, %gameApi.password%)
    - App\Models\Downloader\Downloaders\FKSDBDownloader(%fksdbDownloader.url%,%fksdbDownloader.login%,%fksdbDownloader.password%,'10 minutes')
    - App\Models\Downloader\Downloaders\StaticDownloader(%staticDownloader.url%,%staticDownloader.login%,%staticDownloader.password%,'10 minutes')
    - App\Models\Downloader\Downloaders\ProblemManagerDownloader(%problemManagerDownloader.url%,%problemManagerDownloader.key%, '10 minutes')
    - App\Models\Downloader\Services\FileService('10 minutes', %staticDownloader.url%)
    - App\Models\Downloader\Services\ProblemService('10 minutes')
    - App\Models\Downloader\Services\EventService('10 minutes')
    - App\Models\Downloader\Services\DummyService('10 minutes')

extensions:
    asset: SixtyEightPublishers\Asset\Bridge\Nette\DI\AssetExtension

parameters:
    i18n:
        locales:
            cs: cs_CZ.utf-8
            en: en_US.utf-8
    # Contains mapping from domain to language. If empty, ?lang is used
    domains:
        # domain: lang
    eventTypeId: 0
    gameApi:
        login:
        password:
        url: ''
