# This is translate table for URLs
# Key is local translation, value is corresponding presenter
# If the translation is missing, presenter name is used
# If more than one local translation points to one presenter, the first one is used and other are redirects.
parameters:
    router-mapping:
        default:
            cs:
                Default: Default
                ONas: About
                Pravidla: Rules
                Zadani: Problems
                ArchivUloh: ProblemsArchive
                Poradi: Results
            actions:
                cs:
                    historie: history
                    organizatori: organizers
                    kontakt: contact
        events:
            cs:
                Soustredeni: Camps
            actions:
                cs:
                    pravidla: rules
                    jakPsat: texTutorial
                    experimenty: experiments
                    cena: price
            modules:
                cs:
                    Akce: Events
