# This is translate table for URLs
# Key is local translation, value is corresponding presenter
# If the translation is missing, presenter name is used
# If more than one local translation points to one presenter, the first one is used and other are redirects.
parameters:
    router-mapping:
        default:
            cs:
                Default: Default
                OSoutezi: AboutTheCompetition
                Archiv: Archive
                Pravidla: Rules
                Faq: Faq
                Navod: HowToPlay
                Program: Schedule
                Reporty: Reports
                Registrace: Registration
                UstredniKomise: CentralCommity
                Tymy: Teams
                FyziklaniInternational: FyziklaniInternational
            en:
                About: AboutTheCompetition
        archive:
            cs:
                Default: Default
                Tymy: Teams
                Vysledky: Results
                PodrobneVysledky: DetailedResults
                Reporty: Reports
