parameters:
    router-mapping:
        cs:
            OSoutezi: AboutTheCompetition
            Default: Default
            Archiv: Archive
            Faq: Faq
            Navod: HowToPlay
            Program: Schedule
            Pravidla: Rules