parameters:
    router-mapping:
        archive:
            cs:
                Default: Default
                Tymy: Teams
                Vysledky: Results
                PodrobneVysledky: DetailedResults
                Reporty: Reports

        default:
            cs:
                Default: Default
                OSoutezi: AboutTheCompetition
                Archiv: Archive
                Pravidla: Rules
                Faq: Faq
                Navod: HowToPlay
                Program: Schedule
                Reporty: Reports
                Registrace: Registration

