parameters:
    router-mapping:
        default:
            cs:
                ONas: About
                Zadani: Problems
                Akce: Events
                Poradi: Results
                ProUcitele: Teachers
                Ceny: Prizes
                Archiv: Archive
                JakResit: HowToSolve
            actions:
                cs:
                    kontakt: contact
                    historie: history
                    organizatori: organizers
                    byvaliOrganizatori: pastOrganizers
                    proSponzory: sponsors
                    vyfucteni: serial
                    pravidla: rules
                    reseni: solutions
                    experimenty: experiments
