parameters:
    router-mapping:
        default:
            cs:
                ONas: About
                Zadani: Problems
                Poradi: Results
                Akce: Events
                Archiv: Archive