parameters:
    router-mapping:
        default:
            cs:
                ONas: About
                Zadani: Problems
                Poradi: Results
                Akce: Events
            actions:
                cs:
                    kontakt: contact
                    historie: history
                    organizatori: organizers
                    proSponzory: sponsors
