{block title}Další příležitosti{/block}
{block main}
<div class="panel color-auto">
    <section class="inner-container">
        <div class="col-md-12 event-text-box">
        <h1>Další příležitosti</h1>
        <p>
            Níže najdete užitečné odkazy na různé aktivity a&nbsp;stránky, které by vás mohly zajímat. Můžete
            se na ně podívat sami, doporučit je kamarádům, sourozencům nebo dát o&nbsp;nich vědět svým učitelům.
            Jedná se o&nbsp;soutěže a&nbsp;projekty, které doplňují FYKOS a&nbsp;nabízejí další možnosti, jak se zabývat
            fyzikou a&nbsp;přírodními vědami či potkat lidi se stejným zájmem.
        </p>
    </div>
    </section>
</div>

<!-- Olympiady -->
<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-12 event-text-box">
                <div>
                    <h2>Olympiády a&nbsp;soutěže</h2>
                    <ul>
                        <li>
                            <a href="https://fyzikalniolympiada.cz/" class="further-opportunities-link"><strong>Fyzikální olympiáda</strong></a>
                            – Fyzikální soutěž s&nbsp;tradicí sahající do roku 1959. Soutěž v&nbsp;současnosti probíhá v&nbsp;kategoriích&nbsp;A, B, C a&nbsp;D
                            pro středoškoláky. Kategorie A&nbsp;vrcholí ústředním kolem, na které navazuje výběr reprezentace České republiky
                            pro <a href="https://www.ipho-new.org" class="further-opportunities-link">Mezinárodní fyzikální olympiádu (IPhO)</a>.
                            Ostatní SŠ&nbsp;kategorie mají jen školní a&nbsp;krajská kola. Pro nejlepší řešitele&nbsp;B a&nbsp;C se pořádá podzimní soustředění.
							Pro základní školy se soutěž vypisuje v&nbsp;kategoriích&nbsp;E, F a&nbsp;G (Archimediáda), které mají
                            školní a&nbsp;okresní kola, přičemž nejvyšší ZŠ kategorie&nbsp;E navíc vrcholí krajským kolem. Na stránkách Fyzikální olympiády
                            můžete v&nbsp;archivu najít velké množství zajímavých 
							<a href="https://fyzikalniolympiada.cz/studijni-texty" class="further-opportunities-link">studijních textů</a>.
                        </li>
                        <li>
                            <a href="https://olympiada.astro.cz/" class="further-opportunities-link"><strong>Astronomická olympiáda</strong></a>
                            – Astronomická olympiáda je předmětovou soutěží z&nbsp;oboru astronomie a&nbsp;příbuzných oborů, která je určena pro žáky
                            základních a&nbsp;středních škol. Nejmladší věková kategorie (GH) je určena pro žáky 6.&nbsp;a&nbsp;7.&nbsp;ročníků ZŠ, nejstarší
                            věková kategorie (AB) pro žáky 3.&nbsp;a&nbsp;4.&nbsp;ročníků SŠ. Astronomická olympiáda probíhá ve třech kolech – školním,
                            krajském (korespondenčním) a&nbsp;celorepublikovém finále.
                        </li>
                        <li>
                            <a href="https://www.matematickaolympiada.cz/" class="further-opportunities-link"><strong>Matematická olympiáda</strong></a>
                            – Starší sestra fyzikální olympiády určená také pro žáky středních a&nbsp;základních škol. Nejlepší řešitelé 
							nejvyšší kategorie&nbsp;A se také mohou kvalifikovat na mezinárodní soutěže.
                        </li>
                        <li>
                            <a href="https://math.naboj.org" class="further-opportunities-link"><strong>Matematický Náboj</strong></a> – Soutěž pro pětičlenné
                            týmy středoškoláků, které se po dobu dvou hodin snaží vyřešit co nejvíce matematických úloh. Koná se v&nbsp;několika zemích
                            po celé Evropě i&nbsp;na dalších světadílech. V&nbsp;České republice si můžete přijet zasoutěžit do Prahy, Opavy nebo Brna.
                        </li>
                        <li>
                            <a href="https://tmfcr.cz" class="further-opportunities-link"><strong>Turnaj mladých fyziků</strong></a> – Fyzikální soutěž,
                            na kterou se připravují středoškoláci vědeckým zpracováním fyzikálních problémů, které
                            jsou zadané celosvětově pro daný školní rok. První kolo lze absolvovat individuálně, později v&nbsp;průběhu soutěže je potřeba
                            vytvořit tým, který můžete mít od začátku, nebo vám s&nbsp;jeho složením pomohou organizátoři.
                            Klíčovou roli v&nbsp;soutěži hrají prezentace zpracování problémů, schopnost obhájit své výsledky
                            a&nbsp;kriticky hodnotit práci jiných týmů.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Korespondencni seminare -->
<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-12 event-text-box">
                <div>
                    <h2>Korespondenční semináře</h2>
                    <ul>
                        <li>
                            <a href="https://fks.sk" class="further-opportunities-link"><strong>Fyzikálny Korešpondenčný Seminár (FKS)</strong></a>
                            – Obdoba FYKOSu na Slovensku. Část pro středoškoláky se jmenuje přímo FKS. Pro opravdu náročné řešitele, kteří chtějí
                            komplikované úlohy, pořádají soutěž <a href="https://fx.fks.sk" class="further-opportunities-link">FX</a>.
                        </li>
                        <li>
                            <a href="https://prase.cz" class="further-opportunities-link"><strong>Matematický korespondenční seminář (PraSe)</strong></a>
                            – Matematický korespondenční seminář MFF&nbsp;UK pro středoškoláky. Přezdívá se mu PraSe (Pražský seminář).
                        </li>
                        <li>
                            <a href="https://ksp.mff.cuni.cz" class="further-opportunities-link"><strong>Korespondenční seminář z&nbsp;programování (KSP)</strong></a>
                            – Korespondenční seminář pro středoškoláky, který se věnuje zejména teoretickému programování a&nbsp;hledání optimálních řešení
                            programovacích problémů. Seminář má i&nbsp;začátečnickou 
							<a href="https://ksp.mff.cuni.cz/z/" class="further-opportunities-link">kategorii&nbsp;KSP-Z</a>, určenou pro žáky s&nbsp;méně programátorskými zkušenostmi.
                        </li>
                        <li>
                            <a href="https://vyfuk.org" class="further-opportunities-link"><strong>Výfuk</strong></a> – Korespondenční seminář Výfuk
                            je mladší bratr FYKOSu. Je to celoroční fyzikální soutěž pro žáky základních škol a&nbsp;odpovídajících ročníků víceletých
                            gymnázií.
                        </li>
                        <li>
                            <a href="https://pikomat.mff.cuni.cz" class="further-opportunities-link"><strong>Pikomat MFF&nbsp;UK</strong></a> –
							Matematická korespondenční soutěž pro žáky 6.&nbsp;až 9.&nbsp;tříd základních škol a&nbsp;odpovídajících tříd víceletých gymnázií.
                        </li>
                        <li>
                            <a href="https://pikofyz.sk" class="further-opportunities-link"><strong>Pikofyz</strong></a> – celoroční
                            slovenská fyzikální soutěž, ve které řešitelé popisují svůj postup řešení úloh. Nejúspěšnější řešitelé jsou každý půlrok
                            zváni na soustředění.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- Dalsi -->
<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-12 event-text-box">
                <div>
                    <h2>Další zajímavé aktivity</h2>
                    <ul>
                        <li>
                            <a href="https://tydenvedy.fjfi.cvut.cz" class="further-opportunities-link"><strong>Týden vědy na Jaderce</strong></a>
                            – Během týdne se seznámíte s&nbsp;tím, jak se pracuje v&nbsp;přírodních vědách, vyzkoušíte si to na vlastní kůži v&nbsp;rámci
                            miniprojektu, který na závěr představíte ostatním účastníkům v&nbsp;rámci konference formou ústní prezentace či posteru.
                            Nechybí ani přednášky, exkurze a&nbsp;doprovodný program.
                        </li>
						<li>
							<a href="https://talnet.info" class="further-opportunities-link"><strong>Talnet</strong></a> je projekt pro 
							zvídavé a&nbsp;motivované žáky&nbsp;ZŠ a&nbsp;SŠ. Nabízí online kurzy, přednášky, exkurze, soustředění i&nbsp;výzkumné
							expedice napříč přírodními, technickými a&nbsp;dalšími obory. Z&nbsp;fyzikálně
							zaměřených aktivit si můžete vybrat například kurzy a&nbsp;počasí a&nbsp;klimatu,
							meteorologické projekty nebo týmový kurz <i>Na&nbsp;fyziku v&nbsp;týmu<i>; nabídka ale
							zahrnuje také programování, robotiku, biologii, chemii či společenské
							vědy. Pokud si chcete vědu vyzkoušet více prakticky, můžete se zapojit
							do T-Expedice, během níž účastníci pracují ve výzkumných týmech na
							vlastních badatelských projektech a&nbsp;následně prezentují jejich výsledky.
							Vše s&nbsp;maximálním důrazem na odborné přístupy, vědeckou metodiku a&nbsp;navzájem se inspirující komunitu.
						</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- ESPR -->
<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <h2>FABRIC</h2>
                <p>
                    FABRIC je nezisková organizace, která pořádá kempy pro matematicky nadané žáky a&nbsp;studenty, kteří chtějí porozumět sami sobě
                    a&nbsp;světu. Akce se typicky konají v&nbsp;Anglii a&nbsp;jsou zdarma (s&nbsp;možností finanční podpory pro cestovní a&nbsp;další výdaje).
                </p>
                <p>Mezi pořádané kempy patřily například:</p>
                <ul>
                    <li>
                        <strong>PAIR:</strong> Tábor pro studenty se zájmem o&nbsp;umělou inteligenci a&nbsp;obecně o&nbsp;to, jak funguje kognice a&nbsp;myšlení
                        – zahrnuje jak fungují současné systémy AI, matematické teorie o&nbsp;lidských myslích a&nbsp;jak jsou tyto dvě oblasti propojené.
                        Absolventi předchozích ročníků PAIR popisovali obsah jako směsici AI, matematiky a&nbsp;introspekce, ale zdůrazňovali také, že
                        velkou částí zážitku jsou neformální rozhovory nebo aktivity v&nbsp;malých skupinách.
                    </li>
                    <li>
                        <strong>ESPR:</strong> Pro studenty, kteří chtějí lépe porozumět sobě i&nbsp;světu a&nbsp;mají zájem o&nbsp;aplikovanou racionalitu
                        – kurikulum zahrnuje širokou škálu témat, od teorie her, kryptografie a&nbsp;matematické logiky po AI, styly komunikace a&nbsp;kognitivní vědy.
                    </li>
                </ul>
                <div>
                    <a class="btn btn-primary-fabric" href="https://fabric.camp">
                        Více o&nbsp;FABRIC
                    </a>
                </div>
            </div>
            <div class="col-md-4 event-img-box">
                <a href="https://fabric.camp">
                    <img src="{$basePath}/images/logos/pair.webp" alt="FABRIC" class="further-opportunities-square-img">
                </a>
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <div class="row event-box">
            <div class="col-md-8 event-text-box">
                <div>
                    <h2>Matfyz</h2>
                    <p>
                        Matematicko-fyzikální fakulta Univerzity Karlovy FYKOS financuje, a&nbsp;umožňuje vám se tak
                        účastnit našich akcí. Pokud se zajímáte o&nbsp;studium či jenom o&nbsp;další akce v&nbsp;oblasti fyziky, 
						matematiky či informatiky, měli byste zabrousit i&nbsp;na stránky Matfyzu.
                    </p>
                    <ul>
                        <li>
                            <a href="https://www.mff.cuni.cz/cs/verejnost/aktivity" class="further-opportunities-link">Aktivity pro veřejnost</a> 
							– přehled akcí Matfyzu a&nbsp;kontaktních údajů na oficiálním webu fakulty,
                        </li>
                        <li>
                            <a href="https://www.matfyz.cz/" class="further-opportunities-link">matfyz.cz</a> – portál s&nbsp;články s&nbsp;různými zajímavostmi
                            z&nbsp;fyziky, matematiky a&nbsp;informatiky,
                        </li>
                        <li>
                            <a href="https://www.studuj-matfyz.cz/" class="further-opportunities-link">studuj-matfyz.cz</a> – věnované
                            speciálně zájemcům o&nbsp;studium na Matfyzu.
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="btn btn-primary-mff" href="https://www.mff.cuni.cz">
                        Více o&nbsp;Matfyzu
                    </a>
                </div>
            </div>
            <div class="col-md-4 event-img-box">
                <a href="https://www.mff.cuni.cz">
                    <img src="{$basePath}/images/logos/mff.png" alt="Matematicko-fyzikální fakulta Univerzity Karlovy"
                    class="further-opportunities-wide-img">
                </a>
            </div>
        </div>
    </section>
</div>
{/block}
