{block subtitle}Podle grafického manuálu toto je ten správný titulek{/block}
{block title}Toto je více "hravý" titulek{/block}

{block content}
    <p>
        Zde je obsah dokumentu.
    </p>
{/block}
