{block title}Hlavní stránka{/block}

{block main}
    <div class="panel color-light title-panel">
        <section class="inner-container">
            <h1>DSEF</h1>
            <h2>Den s experimentální fyzikou</h2>
            <br/><br/><br/><h2>Za grafický návrh děkujeme Evě. <a n:href="Archive:default">Archiv</a></h2><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        </section>
    </div>
{/block}
