{varType string $lang}
{varType App\Modules\Core\Language $language}
{varType int $currentYear}
<!DOCTYPE html>
<html lang="{$lang}">

<head>
    <title>
        {ifset title}{include title} | {/ifset} FYKOS
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="theme-color" content="#1175DA">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="FYKOS"/>
    <meta property="og:image" content="{switch $language->value}{case cs}https://fykos.cz/images/fykos-og-image-cs.png{default}https://fykos.org/images/fykos-og-image-en.png{/switch}"/>
    <meta property="og:description"
        {switch $language->value}
            {case cs}content="Skupina pořádající vzdělávací soutěže ve fyzice pro středoškoláky."
            {default}content="Group organizing educational events in physics for high-school students."
        {/switch}
    >
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:locale" content="cs"/>
    <meta property="og:url" content="{plink //this}"/>
    <link href="{$basePath}/images/icon.png" rel="icon" type="image/png"/>
    <link href="{asset 'assets/main.css'}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {block head}{/block}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script n:syntax=off>
        MathJax = {
            loader: {
                load: ['[tex]/mhchem', '[tex]/upgreek']
            },
            tex: {
                packages: {
                    '[+]': ['mhchem', 'upgreek']
                },
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['\\eq{', '}']]
            }
        }
    </script>
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>

    <script src="{asset 'assets/main.js'}"></script>
    {block scripts}{/block}
</head>

<body>

    {block body}
    
    <div class="alert alert-warning" role="alert" style="margin: 0">
    {switch $language->value}
        {case cs}
        <strong>Pozor, oprava zadání:</strong> v úloze 1 "vodnická" se vyskytla drobná chyba, kdy jeden mezivýsledek vycházel záporně. Proto nově uvažujte, že vodník žil v Mrtvém moři v hloubce 33&nbsp;m, nikoli 50&nbsp;m, jak bylo původně zadáno. Omlouváme se za komplikace, při opravování na to budeme brát ohled.
        {default}
        <strong>Attention, correction of a problem assignment:</strong> in problem 1 "water goblin" a small error occurred when one intermediate result was negative. Therefore, consider that the water goblin lived in the Dead Sea at a depth of 33&nbsp;m, not 50&nbsp;m, as originally stated. We apologize for the inconvenience, we will take this into account when correcting your solutions.
        {/switch}
    </div>

    {control navigation '/images/logo.svg', 'FYKOS'}
    <main>
        {block main}
        <div class="panel color-light">
            <section class="inner-container">
                {ifset subtitle}<div class="subheader">{include subtitle}</div>{/ifset}
                {ifset title}<h1>{include title}</h1>{/ifset}
                {include content}
            </section>
        </div>
        {/block}
    </main>
    <footer>
        <div class="panel registration">
            <div class="inner-container">
                <div class="text">
                    {switch $language->value}{case cs}Chcete vědět více?{default}Want to know more?{/switch}
                </div>
                <div class="btn-container">
                    <a class="btn btn-outline m-2" n:href=":Default:About:default">
                        {switch $language->value}{case cs}O&nbsp;nás{default}About Us{/switch}
                    </a>
                    <a class="btn btn-outline m-2" n:href=":Events:Default:default">
                        {switch $language->value}{case cs}Akce{default}Events{/switch}
                    </a>
                    <a class="btn btn-outline m-2" n:href=":Events:Fykos:default">
                        {switch $language->value}{case cs}Seminář{default}FYKOS Competition{/switch}
                    </a>
                </div>
            </div>
        </div>

        <div class="panel sponsors">
            <div class="inner-container">
                <div class="category">
                    <div class="category-title">{switch $language->value}{case cs}Pořadatelé{default}Organizers{/switch}</div>
                    <div class="category-sponsors">
                        <a {switch $language->value}{case cs}href="https://www.mff.cuni.cz/"
                            {default}href="https://www.mff.cuni.cz/en" {/switch} style="text-align: center">
                            <img src="{$basePath}/images/logos/mff.png" class="sponsor-logo" alt="MFF logo"
                                style="max-width: 8rem">
                        </a>
                        <a href="https://www.msmt.cz/" style="text-align: center">
                            {switch $language->value}
                            {case cs}
                                <img src="{$basePath}/images/logos/msmt_cs.jpg" alt="MŠMT logo" style="max-width: 9rem">
                            {default}
                                <img src="{$basePath}/images/logos/msmt_en.jpg" alt="MŠMT logo" style="max-width: 9rem">
                            {/switch}
                        </a>
                    </div>
                </div>
                <div class="category">
                    <div class="category-title">{switch $language->value}{case cs}Generální partner{default}General
                        Partner{/switch}</div>
                    <div class="category-sponsors">
                        <a href="https://www.cez.cz/" style="text-align: center">
                            {switch $language->value}{case cs}<img src="{$basePath}/images/logos/CEZ_Skupina_Logo_CZ.png" alt="ČEZ logo" style="max-width: 10rem">
                          	{default}<img src="{$basePath}/images/logos/CEZ_Group_Logo_EN.png" alt="CEZ group logo" style="max-width: 10rem">{/switch}
                        </a>
                    </div>
                </div>
                {*<div class="category">
                    <div class="category-title">{switch $language->value}{case cs}Hlavní partner{default}Main Partner{/switch}</div>
                    <div class="category-sponsors">*}
                        {*<a href="https://www.kellnerfoundation.cz" style="text-align: center">
                            <img src="/images/logos/tkff.svg" class="sponsor-logo" alt="TKFF logo" style="width: 8rem;">
                        </a>*}
                    {*</div>
                </div>*}
                <div class="category">
                    <div class="category-title">{switch $language->value}{case cs}Partneři{default}Partners{/switch}</div>
                    <div class="category-sponsors">
                        <a href="https://qminers.com/cs/" style="text-align: center">
                            <img src="{$basePath}/images/logos/qminers-logo.png" alt="Qminers logo" style="max-width: 10rem">
                        </a>
                        <a href="https://www.nfneuron.cz/" style="text-align: center">
                            <img src="{$basePath}/images/logos/neuron.svg" alt="Neuron logo" style="max-width: 10rem">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel footer">
            <div class="inner-container row">
                <div class="col-md-6">
                    <img class="logo" src="{$basePath}/images/logo.svg" alt="FYKOS" />
                    {* <div class="logo" style="font-size: 1cm; font-weight: bold">FYKOS<small>{switch $language->value}{case cs}.cz{default}.org{/switch}</small></div> *}
                    <p>
                        {switch $language->value}
                            {case cs}FYKOS je skupina pořádající vzdělávací akce pro středoškoláky ve fyzice s&nbsp;{$currentYear->year}letou tradicí.
                            FYKOS je tvořen převážně studenty
                            <a href="https://www.mff.cuni.cz/">Matematicko-fyzikální fakulty Univerzity Karlovy</a>.
                            {default}FYKOS is a group organizing educational physics events for high school students with a {$currentYear->year}-year tradition.
                            FYKOS is mainly composed of students from the
                            <a href="https://www.mff.cuni.cz/">Faculty of Mathematics and Physics, Charles University</a>.
                        {/switch}
                    </p>
                    <p>
                        {switch $language->value}
                            {case cs}Akce FYKOSu jsou vyhlašovány <a href="https://www.mff.cuni.cz/">Matematicko-fyzikální
                            fakultou Univerzity Karlovy</a> a zpravidla podporovány Ministerstvem školství, mládeže a&nbsp;tělovýchovy.
                            {default}FYKOS events are announced by the <a href="https://www.mff.cuni.cz/">Faculty of Mathematics and Physics, Charles University</a> and usually supported by the Ministry of Education, Youth and Sports.
                        {/switch}
                    </p>
                    <p>
                        {switch $language->value}
                            {case cs}<strong>#fykos</strong> <a href="mailto:fykos@fykos.cz">fykos@fykos.cz</a>
                            {default}<strong>#fykos</strong> <a href="mailto:fykos@fykos.org">fykos@fykos.org</a>
                        {/switch}
                    </p>
                    <p>
                        {switch $language->value}
                            {case cs}Tato stránka nesbírá cookies.
                            {default}This website does not collect cookies.
                        {/switch}
                    </p>
                    <div class="other-logos">
                        <a target="_blank"
                            href="{switch $language->value}{case 'cs'}https://online.fyziklani.cz/{default}https://physicsbrawl.org/{/switch}"><img
                                class="other-logo"
                                src="{$basePath}/images/logos/fyziklani_online_logo_white_{$lang}.png"
                                style="height: 2rem; margin: 0 1rem 1rem 0" /></a><a target="_blank"
                            href="{switch $language->value}{case 'cs'}https://fyziklani.cz/{default}https://fyziklani.org/{/switch}"><img
                                class="other-logo" src="{$basePath}/images/logos/fyziklani_white_logo.svg"
                                style="height: 2rem; margin: 0 1rem 1rem 0" /></a>
                        {if $lang=='cs'}
                        <a target="_blank" href="https://dsef.cz/"><img class="other-logo"
                                src="{$basePath}/images/logos/dsef_logo_white.png"
                                style="height: 2rem; margin: 0 1rem 1rem 0" /></a>
                        {/if}
                    </div>
                </div>
                <div class="col-md-3 mt-2 mt-md-0">
                    <nav>
                        <ul>
                            {switch $language->value}
                                {case cs}
                                <li>Pro účastníky a učitele
                                    <ul>
                                        <li><a n:href=":Default:About:">O nás</a></li>
                                        <li><a n:href=":Events:Default:">Akce</a></li>
                                        <li><a n:href=":Events:Fykos:">Seminář</a></li>
                                    </ul>
                                </li>
                                {default}
                                <li>For Participants and Teachers
                                    <ul>
                                        <li><a n:href=":Default:About:">About Us</a></li>
                                        <li><a n:href=":Events:Default:">Events</a></li>
                                        <li><a n:href=":Events:Fykos:">FYKOS Competition</a></li>
                                    </ul>
                                </li>
                            {/switch}
                        </ul>
                    </nav>
                    <nav>
                        <ul>
                            {switch $language->value}
                                {case cs}
                                <li>Další informace
                                    <ul>
                                        <li><a n:href=":Default:SupportUs:">Jak podpořit FYKOS</a></li>
                                        <li><a n:href=":Default:About:contact">Kontakt</a></li>
                                        <li><a n:href=":Default:Merch:">Merch</a></li>
                                    </ul>
                                </li>
                                {default}
                                <li>Other Information
                                    <ul>
                                        <li><a n:href=":Default:SupportUs:">Support us</a></li>
                                        <li><a n:href=":Default:About:contact">Contact</a></li>
                                        <li><a n:href=":Default:Merch:">Merchandise</a></li>
                                    </ul>
                                </li>
                            {/switch}
                        </ul>
                    </nav>

                </div>
                <div class="col-md-3">
                    <nav>
                        <ul>
                            <li>
                                {switch $language->value}
                                    {case cs}Sledujte nás
                                    {default}Follow Us on Social Media
                                {/switch}
                                <ul>
                                    <li>
                                        <a class="social-sites" href="https://www.facebook.com/FYKOS">
                                            <i class="fa-brands fa-square-facebook fa-2x"></i>
                                        </a>
                                        <a class="social-sites" href="https://www.instagram.com/fykosak/">
                                            <i class="fa-brands fa-instagram fa-2x"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    {* <nav>
                        <ul>
                            <li>
                                {switch $language->value}
                                    {case cs}Kontakt
                                    {default}Contact
                                {/switch}
                                <ul>
                                    <li>
                                        {switch $language->value}
                                            {case cs}<a n:href=":Default:About:contact">Kontaktní informace</a>
                                            {default}<a n:href=":Default:About:contact">Contact information</a>
                                        {/switch}
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav> *}
                </div>
                <div style="position: relative;">
                    <a href="#top" style="position: absolute; bottom: 0; right: 0;"><i class="fas fa-arrow-up"></i></a>
                </div>
            </div>
        </div>
    </footer>

    {* <div id="old-website-notice">
        <span>
            {switch $language->value}
                {case cs}Pokud hledáte starou webovou stránku, najdete ji na <a href="https://old.fykos.cz">https://old.fykos.cz</a>
                {default}If you are looking for the old website, you may find it at <a href="https://old.fykos.org">https://old.fykos.org</a>
            {/switch}
        </span>
        <button id="hide-notice">
            {switch $language->value}
                {case cs}Skrýt
                {default}Hide
            {/switch}
        </button>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var notice = document.getElementById('old-website-notice');
            var hideButton = document.getElementById('hide-notice');

            // Check if the notice should be hidden
            if (localStorage.getItem('hideOldWebsiteNotice') !== 'true') {
                notice.style.display = 'block';
            }

            hideButton.addEventListener('click', function() {
                notice.style.display = 'none';
                // Save the user's preference for this session
                localStorage.setItem('hideOldWebsiteNotice', 'true');
            });
        });
    </script> *}
    {/block}
</body>

</html>
