{varType bool $jumbotron}

<!DOCTYPE html>
<html lang="cs">
<head>
    <title>
        {ifset title}{include title} | {/ifset} FYKOS
    </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="theme-color" content="#1175da">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Den s experimentální fyzikou"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:locale" content="cs"/>
    <meta property="og:url" content="{plink //this}"/>
    <link href="{$basePath}/images/icon.svg" rel="icon" type="image/svg"/>
    <link href="{='assets/main.css'|asset}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;800&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://kit.fontawesome.com/f424cd1bbe.js" crossorigin="anonymous"></script>
    {block head}{/block}



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>



<script src="{='assets/main.js'|asset}"></script>
    {block scripts}{/block}
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div style="padding-top: 1rem;padding-left: 0;" class="col-lg-4 col-md-10 col-sm-10 col-xs-10">
                <a class="page-header" href="{*TODO*}">
                    <div class="row">
                        <div class="col-lg-7 h1 fykos" style="align-self: center;">
                            {App\Models\OldFykos\FYKOSTemplate::getFYKOSLogo()|noescape}
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-8 primary-menu-container hidden-md-down" style="align-self: flex-end;">
                {control primaryNav}
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row d-lg-none d-block">{control fullNav}</div>
    </div>
    {if !$jumbotron}
        <div class="container-fluid header mb-3">
            <div class="row nav-container hidden-md-down second-nav">
                {control secondaryNav}
            </div>
        </div>
    {else}
        <div class="container-fluid header-image jumbotron position-relative">
            {control jumbotron}
            <div class="row nav-container hidden-md-down second-nav">
                {control secondaryNav}
            </div>
        </div>
    {/if}
</header>
<main>
    {block main}
        <div class="panel color-light">
            <section class="inner-container">
                {ifset subtitle}
                    <div class="subheader">{include subtitle}</div>
                {/ifset}
                {ifset title}
                    <h1>{include title}</h1>
                {/ifset}
                {include content}
            </section>
        </div>
    {/block}
</main>
<footer>

</footer>
<hr/>
<address class="container">
    Created with &lt;love/&gt; by &copy;FYKOS &ndash; <a
            href="mailto:webmaster@fykos.cz"
            title="Kontaktní email">webmaster@fykos.cz</a>
</address>
</body>
</html>
<?php
exit();
