.problem-card {
  .problem-header-1 {
    background-color: var(--task-color-1);
  }

  .problem-header-2 {
    background-color: var(--task-color-2);
  }

  .problem-header-3 {
    background-color: var(--task-color-3);
  }

  .problem-header-4 {
    background-color: var(--task-color-4);
  }

  .problem-header-5 {
    background-color: var(--task-color-5);
  }
}
