{varType App\Models\Downloader\ProblemManager\ProblemModel $problem}
{varType App\Models\Downloader\ProblemManager\SeriesModel $series}
{varType App\Models\Downloader\Services\FileService $fileService}
{varType App\Modules\Core\Language $language}

{block content}
<div class="col-md-12">
    <div class="card mb-3 problem-card">
        <div class="card-header problem-header problem-header-{$problem->seriesOrder}">
            <div style="display: flex; justify-content: space-between;">
                <h4><i class={$problem->getIcon()}></i><span class="skip-3px"></span>
                    {if $series->contestYear['contestId'] == 4}
                        {$problem->getLabel()} ...
                    {else}
                        {$problem->getLabel()}...
                    {/if}
                    {$problem->metadata['name'][$language->value]|noescape}</h4>
                <div>
                    {switch $language->value}
                        {case 'cs'}
                            <h4>{$problem->metadata['points']} bod{if $problem->metadata['points'] == 1}
                            {elseif $problem->metadata['points'] > 1 && $problem->metadata['points'] < 5}y{else}ů{/if}</h4>
                        {default}
                            <h4>{$problem->metadata['points']} point{if $problem->metadata['points'] == 1}{else}s{/if}</h4>
                    {/switch}
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card-title">
                {if $series->contestYear['contestId'] == 4 && $problem->seriesOrder == 1 && (int)$series->label < 7}
                    <p><small><i>Tato úloha je určena pouze pro žáky šestých a sedmých ročníků.</i></small></p>
                {/if}
                {if $series->contestYear['contestId'] == 4 && $problem->seriesOrder == 7 && (int)$series->label < 7}
                    <p><small><i>S řešením této úlohy ti může pomoct krátký naučný text – tzv. Výfučtení. To můžeš nalézt pod odkazem níže.</i></small></p>
                {/if}
                {var $textHtml = $problem->getText('task', $language)['html']}
                {if $textHtml}
                    {$textHtml|noescape}
                {else}
                    {switch $language->value}
                    {case 'cs'}
                        <p><i>Úloha momentálně není dostupná.</i></p>
                    {default}
                        <p><i>Problem is not available at this time.</i></p>
                    {/switch}
                {/if}

                {if $series->contestYear['contestId'] == 1}
                    {if $problem->seriesOrder == 7}
                        <a class="btn btn-primary mr-2 mb-3" href={plink :Events:Fykos:experiments}>
                            {switch $language->value}
                            {case 'cs'}Návod pro řešení experimentálních úloh
                            {default}Instructions for Experimental Tasks
                            {/switch}
                        </a>
                    {/if}
                    {if $problem->seriesOrder == 8}
                        {php $serialPath = $fileService->getSerial('fykos', $series, $language->value)}
                        {if $serialPath}
                            <a class="btn btn-primary my-2 mr-4" href="{$serialPath}">
                                <i class="far fa-file-pdf"></i><span class="skip-3px"></span>
                                {switch $language->value}
                                    {case 'cs'}Text seriálu {$series->label}. série
                                    {default}Text of Serial Number {$series->label}
                                {/switch}
                            </a>
                        {/if}
                    {/if}
                {elseif $series->contestYear['contestId'] == 4}
                    {if $problem->seriesOrder == 6}
                        <a class="btn btn-secondary mr-2 mb-3" href={plink HowToSolve:experiments}>
                            <i class="fas fa-rocket"></i>
                            Jak psát experimenty
                        </a>
                    {/if}
                    {if $problem->seriesOrder == 7}
                        {php $serialPath = $fileService->getSerial('vyfuk', $series, $language->value)}
                        {if $serialPath}
                            <a class="btn btn-primary my-2 mr-4" href="{$serialPath}">
                                <i class="far fa-file-pdf"></i><span class="skip-3px"></span>Text Výfučtení {$series->label}. série
                            </a>
                        {/if}
                        <a class="btn btn-secondary my-2 mr-4" href={plink :Default:Archive:serial}>
                            <i class="fas fa-box-archive"></i><span class="skip-3px"></span> Archiv Výfučtení
                        </a>
                    {/if}
                {/if}
            </div>
            {if new Datetime() > $series->getDeadline()}
                <div class="solution-and-origin">
                    <div>
                        {php $solutionPath = $fileService->getSolution($problem->contestId === 4 ? 'vyfuk' : 'fykos', $series, $problem, $language->value)}
                        {if $solutionPath}
                            <a class="btn btn-primary" target="_blank" href="{$solutionPath}">
                                <i class="far fa-file-pdf"></i>
                                <span class="skip-3px"></span>
                                {switch $language->value}
                                    {case 'cs'}Řešení
                                    {default}Solution
                                {/switch}
                            </a>
                        {else}
                            {if $series->getDeadline() == null || new Datetime() > (clone $series->getDeadline())->modify('+6 months')}
                                {switch $language->value}
                                    {case 'cs'}Řešení této úlohy momentálně není dostupné.
                                    {default}The solution to this problem is currently not available.
                                {/switch}
                            {else}
                                {switch $language->value}
                                    {case 'cs'}Řešení této úlohy zveřejníme brzy.
                                    {default}We will publish the solution to this problem soon.
                                {/switch}
                            {/if}
                        {/if}
                    </div>
                    {var $origin = $problem->getOrigin($language)}
                    {if $origin}
                        <div><i>{$origin|noescape}</i></div>
                    {/if}
                </div>
            {/if}
        </div>

        {if count($problem->topics)}
        <div class="card-footer">
            {foreach $problem->topics as $topic}
            <span style="margin-right: 1rem;">
                <i class="fas fa-tag mr-1"></i>
                {App\Models\Downloader\Models\ProblemManager\ProblemModel::getTopicLabel($topic, $language)}
            </span>
            {/foreach}
        </div>
        {/if}
    </div>
</div>
{/block}
