<!DOCTYPE html>
<html lang="cs">

<head>
    <title>{ifset title}{include title} | {/ifset}Výfuk</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="{** TODO **}" />
    <meta name="theme-color" content="#ff4800">
    {ifset description}
    <meta name="description" content="{include description}" />
    {/ifset}
    {* facebook *}
    <meta property="og:title" content="{ifset title}{include title} | {/ifset}Výfuk">
    <meta property="og:url" content="{plink //this}" />
    <meta property="og:image" content="{$basePath}/images/logo_orange.svg">
    <meta property="og:image:type" content="image/svg+xml" />{ifset description}
    <meta property="og:description" content="{include description}" />{/ifset}
    <meta property="og:type" content="website">
    <meta property="og:locale" content="cs" />
    {* twitter *}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{$basePath}/images/logo_orange.svg">
    <meta name="twitter:title" content="{ifset title}{include title} | {/ifset}Výfuk">
    <meta property="twitter:domain" content="vyfuk.org">
    <meta property="twitter:url" content="{plink //this}">{ifset description}
    <meta name="twitter:description" content="{include description}" />{/ifset}
    {* links *}
    <link href="{$basePath}/images/icon.png" rel="icon" type="image/png" />
    <link href="{asset 'assets/main.css'}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {block head}{/block}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N91VVFJYMG"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){l}dataLayer.push(arguments);{r}
    gtag('js', new Date());

    gtag('config', 'G-N91VVFJYMG');
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
        integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
    <script n:syntax=off>
        MathJax = {
            loader: {
                load: ['[tex]/mhchem', '[tex]/upgreek']
            },
            tex: {
                packages: {
                    '[+]': ['mhchem', 'upgreek']
                },
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['\\eq{', '}'], ['$$', '$$']]
            }
        }
    </script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
        </script>

    <script src="{asset 'assets/main.js'}"></script>
    {block scripts}{/block}
</head>

<body>
    {block body}
    {control navigation "{$basePath}/images/logo.svg", "Vyfuk.org", false}
    <main>
        {block main}
        <div class="panel color-light">
            <section class="inner-container">
                {ifset subtitle}<div class="subheader">{include subtitle}</div>{/ifset}
                {ifset title}<h1>{include title}</h1>{/ifset}
                {include content}
            </section>
        </div>
        {/block}
    </main>
    <footer>
        <div class="panel sponsors">
            <div class="inner-container">
                <div class="category">
                    <div class="category-title">Pořadatelé</div>
                    <div class="category-sponsors">
                        <a href="https://www.mff.cuni.cz/" style="text-align: center" target="_blank">
                            <img src="{$basePath}/images/logos/mff.png" class="sponsor-logo" alt="MFF logo"
                                style="max-width: 8rem">
                        </a>
                        <a href="https://www.msmt.cz/" style="text-align: center" target="_blank">
                            <img src="{$basePath}/images/logos/msmt_cs.jpg" alt="MŠMT logo" style="max-width: 9rem">
                        </a>
                    </div>
                </div>
                <div class="category">
                    <div class="category-title">Sponzoři</div>
                    <div class="category-sponsors">
                        <a href="https://www.prusa3d.com" style="text-align: center" target="_blank">
                            <img src="{$basePath}/images/sponsor_logos/prusa_logo.png" alt="Prusa logo"
                                style="max-height: 5rem; max-width: 12rem">
                        </a>
                        <a href="http://zemekvet.cz" style="text-align: center" target="_blank">
                            <img src="{$basePath}/images/sponsor_logos/zemekvet_logo.png" alt="Mindok logo"
                                style="max-height: 5rem; max-width: 12rem">
                        </a>
                        <a href="https://prometheus-nakl.cz" style="text-align: center" target="_blank">
                            <img src="{$basePath}/images/sponsor_logos/prometheus_logo.png" alt="Prometheus logo"
                                style="max-height: 5rem; max-width: 12rem">
                        </a>
                        <a href="https://www.factorio.com" style="text-align: center" target="_blank">
                            <img src="{$basePath}/images/sponsor_logos/factorio_logo.png" alt="Čez logo"
                                style="max-height: 5rem; max-width: 12rem">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel footer">
            <div class="inner-container row">
                <div class="col-md-6">
                    <div class="logo" style="font-size: 1cm; font-weight: bold"><img class="logo"
                            src="{$basePath}/images/logo.svg" alt="Výfuk" /></div>
                    <p>
                        Korespondenční seminář Výfuk je organizován studenty a přáteli <a
                            href="https://www.mff.cuni.cz">Matematicko-fyzikální fakulty Univerzity Karlovy</a>.
                        Je zastřešen Oddělením propagace a mediální komunikace MFF UK a podporován Katedrou didaktiky
                        fyziky MFF UK, jejími zaměstnanci a Jednotou českých matematiků a fyziků.
                    </p>
                    <p>
                        Realizace projektu byla podpořena Ministerstvem školství, mládeže a tělovýchovy.
                    </p>
                    <p>
                        <a href="mailto:vyfuk@vyfuk.org">vyfuk@vyfuk.org</a>
                    </p>
                </div>

                <div class="col-md-2">
                    <nav>
                        <ul>
                            <li><a n:href=":Default:About:default">O nás</a></li>
                            <li><a n:href=":Default:Section:rules">Pravidla</a></li>
                            <li><a n:href=":Default:Section:howToEngage">Jak se zapojit</a></li>
                            <li><a n:href=":Default:Separate:teachers">Pro učitele</a></li>
                            <li><a n:href=":Default:About:sponsors">Podpořte nás</a></li>
                            <li><a n:href=":Default:About:contact">Kontakt</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="col-md-4" style="position: relative">
                    <nav>
                        <ul>
                            <li>
                                <div>Sledujte nás</div>
                                <ul>
                                    <li>
                                        <a style="margin-right: 1.5rem" href="https://www.instagram.com/ksvyfuk"
                                            target="_blank">
                                            <i class="bi bi-instagram"></i>
                                        </a>
                                        <a style="margin-right: 1.5rem"
                                            href="https://discord.com/invite/ySAppYhCeE?id=discord" target="_blank">
                                            <i class="bi bi-discord"></i>
                                        </a>
                                        <a style="margin-right: 1.5rem;" href="https://facebook.com/ksvyfuk"
                                            target="_blank">
                                            <i class="bi bi-facebook"></i>
                                        </a>
                                        <a style="margin-right: 1.5rem"
                                            href="https://www.youtube.com/channel/UCUBv3Ydd-laLSY5DMimoE7w"
                                            target="_blank">
                                            <i class="bi bi-youtube"></i>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <a href="#top" style="position: absolute; bottom: 0; right: 0;"><i class="bi bi-arrow-up"></i></a>
                    <div class="logo" style="font-size: 1cm; font-weight: bold"><img class="image"
                            src="{$basePath}/images/vyfucek_koberec.svg" alt="Výfuček na létajícím koberci" /></div>
                </div>
            </div>
        </div>
    </footer>

    {/block}
</body>

</html>
