{varType App\Modules\Core\Language $language}

{block title}
{switch $language->value}{case 'cs'}Nepovolená metoda{default}Method Not Allowed{/switch}
{/block}

{block content}
{switch $language->value}
{case 'cs'}
<p>Pro tuto URL není požadovaná metoda povolena.</p>

<p><small>error 405</small></p>
{default}
<p>The requested method is not allowed for the URL.</p>

<p><small>error 405</small></p>
{/switch}
{/block}
