{varType App\Modules\Core\Language $language}

{block title}
{switch $language->value}{case 'cs'}Fuč{default}Gone{/switch}
{/block}

{block content}
{switch $language->value}
{case 'cs'}
<p>Požadovaná stránka se již na webu nenachází.</p>

<p><small>error 410</small></p>
{default}
<p>The page you requested has been taken off the site.</p>

<p><small>error 410</small></p>
{/switch}
{/block}
