{varType App\Modules\Core\Language $language}

{block title}
{switch $language->value}{case 'cs'}Stránka ve vývoji{default}Page is under construction{/switch}
{/block}

{block content}
{switch $language->value}
{case 'cs'}
<p>Požadovanou stránku právě opravujeme. Omlouváme se za případné komplikace.</p>

<p><small>error 503</small></p>
{default}
<p>The page you requested is under construction. We apologize for the inconvenience.</p>

<p><small>error 503</small></p>
{/switch}
{/block}
