{varType App\Modules\Core\Language $language}

{block title}
    {switch $language->value}
        {case cs} Přihlášené týmy
        {case en} Registered teams
    {/switch}
{/block}

{block main}
    {control teamList}
{/block}
