{varType App\Models\NetteDownloader\ORM\Models\ModelEvent $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: "j. n. Y"}</div>
        <h1>DSEF {$event->begin|date: "Y"}</h1>

        <p>
            Dopolední část DSEFu proběhla na pracovištích MFF UK v budovách Ke Karlovu 3 a 5 v Praze. Každá skupina měla individuální program. Skupiny navštívili optické laboratoře, magnetooptické laboratoře, mohli se dozvědět zajímavé informace o fyzikálních vlastnostech piva, slyšet deformaci a mohli es podívat i na další zajímavá místa. Odpoledne se menší část účastníků přesunula do muzea pražského vodárenství a úpravny vody v Podolí, větší část se přesunula na pracoviště FzÚ AV ČR na Slovanku a to na PALS (Prague Asterix Laser System) a na Tokamak. Akce se konala 14. 2. 2013 a zúčastnilo se jí 62 středoškoláků, jejich 2 učitelky a 10 organizátorů FYKOSu. <a href="https://www.facebook.com/events/147482615405826/" class="urlextern" title="https://www.facebook.com/events/147482615405826/">Akce na Facebooku</a>
        </p>

        <h2 class="sectionedit1" id="program-dsefu">Program DSEFu</h2>
        <div class="level2">
            <div class="table sectionedit2"><table class="inline table">
                    <thead>
                    <tr class="row0">
                        <th class="col0 header"> Sk./Čas </th><th class="col1 header"> 8:00 </th><th class="col2 header"> 8:30 </th><th class="col3 header"> 8:50 </th><th class="col4 header"> 10:00 </th><th class="col5 header"> 10:40 </th><th class="col6 header"> 11:20 </th><th class="col7 header"> 12:00 </th><th class="col8 header"> 12:40 </th><th class="col9 header"> 13:30 </th><th class="col10 header"> cca 14:00 </th><th class="col11 header"> cca 17:00 </th>
                    </tr>
                    </thead>
                    <tbody><tr class="row1">
                        <th class="col0"> Alpha </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> Rm </td><td class="col5"> PV </td><td class="col6"> Rtg </td><td class="col7"> Ell </td><td class="col8"> Opt </td><td class="col9"> Přesun </td><td class="col10"> PVK </td><td class="col11"> konec </td>
                    </tr>
                    <tr class="row2">
                        <th class="col0"> Bravo </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> Si </td><td class="col5"> Rm </td><td class="col6"> PV </td><td class="col7"> Rtg </td><td class="col8"> Ell </td><td class="col9"> Přesun </td><td class="col10"> PVK </td><td class="col11"> konec </td>
                    </tr>
                    <tr class="row3">
                        <th class="col0"> Charlie </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> Ell </td><td class="col5"> Si </td><td class="col6"> Rm </td><td class="col7"> PV </td><td class="col8"> Rtg </td><td class="col9"> Přesun </td><td class="col10"> Tokamak/PALS </td><td class="col11"> konec </td>
                    </tr>
                    <tr class="row4">
                        <th class="col0"> Delta </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> Rtg </td><td class="col5"> Fl </td><td class="col6"> Si </td><td class="col7"> Rm </td><td class="col8"> PV </td><td class="col9"> Přesun </td><td class="col10"> Tokamak/PALS </td><td class="col11"> konec </td>
                    </tr>
                    <tr class="row5">
                        <th class="col0"> Echo </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> Hdr </td><td class="col5"> SEM </td><td class="col6"> Fl </td><td class="col7"> Si </td><td class="col8"> AFK </td><td class="col9"> Přesun </td><td class="col10"> Tokamak/PALS </td><td class="col11"> konec </td>
                    </tr>
                    <tr class="row6">
                        <th class="col0"> Xray </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> AFK </td><td class="col5"> Hdr </td><td class="col6"> SEM </td><td class="col7"> Fl </td><td class="col8"> AE </td><td class="col9"> Přesun </td><td class="col10"> PALS/Tokamak </td><td class="col11"> konec </td>
                    </tr>
                    <tr class="row7">
                        <th class="col0"> Yankee </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> AE </td><td class="col5"> AFK </td><td class="col6"> Hdr </td><td class="col7"> SEM </td><td class="col8"> Fl </td><td class="col9"> Přesun </td><td class="col10"> PALS/Tokamak </td><td class="col11"> konec </td>
                    </tr>
                    <tr class="row8">
                        <th class="col0"> Zulu </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Př </td><td class="col4"> Opt </td><td class="col5"> AE </td><td class="col6"> AFK </td><td class="col7"> Hdr </td><td class="col8"> SEM </td><td class="col9"> Přesun </td><td class="col10"> PALS/Tokamak </td><td class="col11"> konec </td>
                    </tr>
                    </tbody></table></div>
            <ul>
                <li class="level1"><div class="li"> <strong>Reg</strong> – Prezence účastníků na akci</div>
                </li>
                <li class="level1"><div class="li"> <strong>Ú </strong> – Přivítání na DSEFu – Úvodní slovo, organizace dne</div>
                </li>
                <li class="level1"><div class="li"> <strong>Př </strong> – Mgr. Tomáš Ledvinka, Ph.D. – Úvodní přednáška – O komunikaci – učebna F1 </div>
                </li>
            </ul>
            <ul>
                <li class="level1"><div class="li"> <strong>AE </strong> – RNDr. Kristián Mathis, Ph.D. – Studium akustické emise při plastické deformaci</div>
                </li>
                <li class="level1"><div class="li"> <strong>AFK</strong> – RNDr. Peter Minárik – Studium struktury a fázových přeměn metodami mikroskopie atomárních sil a diferenční skenovací kalorimetrie</div>
                </li>
                <li class="level1"><div class="li"> <strong>Ell</strong> – RNDr. Martin Veis, Ph.D. – Magnetooptika </div>
                </li>
                <li class="level1"><div class="li"> <strong>Fl </strong> – doc. RNDr. Jaroslav Večeř, CSc. – Fluorescence </div>
                </li>
                <li class="level1"><div class="li"> <strong>Hdr</strong> – doc. RNDr. Radomír Kužel, CSc. – Hydrogenace na Katedře fyziky kondenzovaných látek (KFKL) </div>
                </li>
                <li class="level1"><div class="li"> <strong>Opt</strong> – doc. RNDr. František Trojánek, Ph.D. – Optické laboratoře </div>
                </li>
                <li class="level1"><div class="li"> <strong>PV </strong> – RNDr. Petr Gabriel, Ph.D. – Charakterizace potravin </div>
                </li>
                <li class="level1"><div class="li"> <strong>Rm </strong> – Prof. RNDr. Josef Štěpánek, CSc. – Ramanovská spektroskopie </div>
                </li>
                <li class="level1"><div class="li"> <strong>Rtg</strong> – doc. RNDr. Radomír Kužel, CSc. – Rentgenové laboratoře KFKL </div>
                </li>
                <li class="level1"><div class="li"> <strong>Si </strong> – RNDr. Jiří Pospíšil, Ph.D. – Tažení krystalů </div>
                </li>
                <li class="level1"><div class="li"> <strong>SEM</strong> – Doc. RNDr. Josef Pešička, CSc. – Studium mikrostruktury metodami transmisní a řádkovací elektronové mikroskopie</div>
                </li>
            </ul>
            <ul>
                <li class="level1"><div class="li"> <strong>PALS </strong> – Prague Asterix Laser System </div>
                </li>
                <li class="level1"><div class="li"> <strong>PVK </strong> – Prohlídka pražského vodárenství a úpravny vody Podolí </div>
                </li>
                <li class="level1"><div class="li"> <strong>Tokamak </strong> – Jaderná fúze na AV ČR </div>
                </li>
            </ul>

        </div>

        <h2 class="sectionedit3" id="dalsi-informace-o-akcich-okolo">Další informace o akcích okolo</h2>

        <div class="level2">
            <ul>
                <li class="level1"><div class="li"> Týden před DSEFem (7. 2. 2013) se konal <a href="http://www.mff.cuni.cz/verejnost/jdf/" class="urlextern" title="http://www.mff.cuni.cz/verejnost/jdf/">Jeden den s fyzikou</a> na MFF UK.</div>
                </li>
                <li class="level1"><div class="li"> Den po DSEFu bylo <a href="/akce/fyziklani/start" class="wikilink2" title="akce:fyziklani:start" rel="nofollow" data-wiki-id="akce:fyziklani:start">FYKOSí Fyziklání</a>.</div>
                </li>
                <li class="level1"><div class="li"> Noc před tímto DSEFem i po něm byla pro účastníky akce možnost ubytovat se v hostelu Elf v Praze. </div>
                </li>
                <li class="level1"><div class="li"> Noc po Fyziklání se konalo setkání přátel FYKOSu s přespáním na MFF UK, dusíkem a deskovými hrami.</div>
                </li>
            </ul>

        </div>
    </section>
</div>
