{varType App\Models\NetteDownloader\ORM\Models\ModelEvent $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: "j. n. Y"}</div>
        <h1>DSEF {$event->begin|date: "Y"}</h1>

        <p>DSEF se konal 18. 4. 2005. Navštívili jsme areál MFF UK v Troji (katedra elektroniky a vakuové fyziky – oddělení fyziky povrchů a plazmatu, katedra nízkých teplot, reaktor Vrabec) a Fyzikální ústav AV Na Slovance (tokamak CASTOR, PALS).</p>
    </section>
</div>
