{varType App\Models\Downloader\EventModel $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: 'j. n. Y'}</div>
        <h1>DSEF {$event->begin|date: 'Y'}</h1>

        <p>
            Letos začal DSEF populární přednáškou na téma <a href="http://fykos.cz/rocnik24/cocky_fykos.pdf" class="urlextern" title="http://fykos.cz/rocnik24/cocky_fykos.pdf">gravitačního mikročočkování</a>.
            V dopolední části jsme navštívili na 13 různých pracovišť náležejících pod Matematicko-fyzikální fakultu Univerzity Karlovy na Karlově (pod FÚ UK, KCHFO, KFKL a KFM a navíc jako jedna z exkurzí byly nízké teploty s pokusy s kapalným dusíkem od KFNT), odpoledne jsme pak navštívili PALS (Prague Asterix Laser System) a tokamak Compass Fyzikálního ústavu AV ČR.
            Akce se konala 11. 4. 2011 a zúčastnilo se jí 64 středoškoláků. * <span class="curid"><a href="/rocnik24/dsef/start">Stránka se stručným programem DSEFu</a></span>. * <a href="http://iteplice.cz/zpravy_napsali_jste_nam:_den_s_experimentalni_fyzikou.html" class="urlextern" title="http://iteplice.cz/zpravy_napsali_jste_nam:_den_s_experimentalni_fyzikou.html">Článek v iTeplice.cz</a>
        </p>

        <h2 class="sectionedit1" id="dalsi-informace">Další informace</h2>

        <div class="level2">

            <p>
                Den s experimentální fyzikou je tradiční akce FYKOSu, během které se můžete porozhlédnout po fyzikálních pracovištích na MFF UK. Máte jedinečnou příležitost na vlastní oči vidět, jak se dnes dělá experimentální fyzika.
            </p>

            <p>
                Letošní exkurze proběhly v pondělí 11. 4. 2011 dopoledne v areálu MFF UK na Karlově, odpoledne jsme se přesunuli do Ústavu fyziky plazmatu AV ČR na Slovanku, kde bylo možné s partou fyzikálních nadšenců prohlédnout si mj. nový pražský tokamak COMPASS-D, který je přesně desetinou plánovaného evropského tokamaku ITER.
            </p>

            <p>
                Karlovské exkurze jsou:
            </p>
            <ul>
                <li class="level1"><div class="li"> Deformace materiálů -– superplasticita a moderní strukturní materiály</div>
                </li>
                <li class="level1"><div class="li"> Katedra fyziky nízkých teplot -– povídání o fyzice nízkých teplot + kapalný dusík</div>
                </li>
                <li class="level1"><div class="li"> Laboratoř časově rozlišené fluorescence -– využití fluorescence v biofyzice</div>
                </li>
                <li class="level1"><div class="li"> Krystalografie a rtg strukturní analýza -– možnosti rtg strukturní analýzy pro charakterizaci látek</div>
                </li>
                <li class="level1"><div class="li"> Laboratoř optické spektroskopie (hlavní směry výzkumu: detekce singletního kyslíku a fotodynamická terapie, primární procesy fotosyntézy, spektroskopie polovodičových nanokrystalů)</div>
                </li>
                <li class="level1"><div class="li"> Laboratoří optotermální spektroskopie (hlavni směry výzkumu: výzkum a vývoj senzorových systému pro potravinářský průmysl (zejména výroba piva a vina)</div>
                </li>
                <li class="level1"><div class="li"> Laboratoř Ramanovy spektroskopie – s lasery do světa biomolekul</div>
                </li>
                <li class="level1"><div class="li"> Laboratoř růstu krystalů – materiály pro přípravu detektorů záření</div>
                </li>
                <li class="level1"><div class="li"> Řádkovací elektronový mikroskop – Do mikrosvěta pomocí řádkovací elektronové mikroskopie</div>
                </li>
                <li class="level1"><div class="li"> Transmisní elektronový mikroskop – Přímý pohled do mikro– a nanosvěta pomocí transmisní elektronové mikroskopie</div>
                </li>
                <li class="level1"><div class="li"> Laboratoř termofyzikálních vlastnosti – Fázové transformace v materiálech metodami termické analýzy</div>
                </li>
                <li class="level1"><div class="li"> Krystaly a ultračisté kovy – Metodika růstu krystalů,technologie ultračistých kovů</div>
                </li>
                <li class="level1"><div class="li"> Laboratoře ultrarychlé laserové spektroskopie (hlavní směry výzkumu: ultrarychlé procesy v polovodičových nanokrystalech významných pro optoelektroniku, senzoriku a spintroniku, dynamické procesy ve feromagnetických polovodičích pro spintroniku)</div>
                </li>
            </ul>
        </div>
    </section>
</div>
