{varType App\Models\Downloader\Models\EventModel $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: 'j. n. Y'}</div>
        <h1>DSEF {$event->begin|date: 'Y'}</h1>

        <p>Historicky první ročník DSEFu. Konal se 21. 2. 1996 v Troji. Účastníci během něj navštívili reaktor, absolvovali exkurzi zabývající se nízkými teplotami, geofyzikou, polymery a dielektriky.</p>
    </section>
</div>
