{varType App\Models\Downloader\EventModel $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: 'j. n. Y'}</div>
        <h1>DSEF {$event->begin|date: 'Y'}</h1>

        <a href="https://db.fykos.cz/fykos33/public/application/?eventId=143" class="fast_link btn btn-danger float-left mr-3 my-1" id="">Registrovat se!</a>
        <p>
            V pondělí <strong>11.11. 2019</strong> se uskuteční jubilení, již <strong>25. ročník Dne s experimentální fyzikou</strong> (DSEF). Na všechny účastníky čeká nabitý program. DSEF se bude konat na <a href="https://mff.cuni.cz" class="urlextern" title="https://mff.cuni.cz">MFF UK</a> na Karlově, na adrese <a href="https://goo.gl/maps/JiRSf452LTGXL7FD9" class="urlextern" title="https://goo.gl/maps/JiRSf452LTGXL7FD9">Ke Karlovu 3, Praha 2</a>.
            Registrace bude probíhat ráno před posluchárnou M1 <strong>od 8:00</strong> do 8:40.
            Program začíná přednáškou v 8:45.
        </p>

        <p>
            <strong>přednáška:</strong> Moderní strukturní materiály (RNDr. Josef Stráský, Ph.D.)
        </p>

        <p>
            <strong>popis přednášky:</strong> Přestože výroba a využití materiálů - například kovů - je staré jako lidstvo samo, výzkum v oblasti strukturních materiálů stále probíhá v řadě oblastí. Přednáška přehledovým způsobem popíše některé strukturní materiály a představí některé metody studia těchto materiálů. Zejména však budou uvedeny příklady moderních materiálů s nečekanými vlastnostmi a jejich využití v praxi.
        </p>

        <h2 class="sectionedit2" id="novy-program-exkurzi">Nový program exkurzí</h2>

        <p>
            Byly zrušeny skupiny Alfa, Echo, Foxtrot. Některé exkurze nebylo možné domluvit, proto musely být nahrazeny jinými. Změny jsou vyznačené vykřičníkem za zkratkou exkurze. Exkurze do Řeže se nakonec nekoná, můžete se tam však podívat na dny otevřených dveří 15. a 16. listopadu.
        </p>
        <table class="table">
            <thead>
            <tr class="row0">
                <th class="col0 leftalign header">		</th><th class="col1 centeralign header" colspan="3">	Dopolední exkurze	</th><th class="col4 centeralign header">	Odpolední exkurze	</th>
            </tr>
            </thead>
            <tbody><tr class="row1">
                <th class="col0 leftalign">		</th><td class="col1 centeralign">	10:15 - 10:50							</td><td class="col2 centeralign">	10:55-11:30										</td><td class="col3 centeralign">	11:35-12:10		</td><td class="col4 centeralign">	12:45-konec		</td>
            </tr>
            <tr class="row2">
                <th class="col0 leftalign">Bravo	</th><td class="col1 centeralign">	<a href="#magnetooptika-mo" title="rocnik33:dsef:start ↵" class="wikilink1">MO</a>	</td><td class="col2 centeralign">	<a href="#opticke-laboratore-opt" title="rocnik33:dsef:start ↵" class="wikilink1">opt</a>	</td><td class="col3 centeralign">	<a href="#seismologicka-laborator-sei" title="rocnik33:dsef:start ↵" class="wikilink1">Sei</a>!	</td><td class="col4 centeralign">	<a href="#terahertzova-spektroskopie-thz" title="rocnik33:dsef:start ↵" class="wikilink1">THz</a>/<a href="#prague-asterix-laser-system-pals" title="rocnik33:dsef:start ↵" class="wikilink1">PALS</a> (Na Slovance)	</td>
            </tr>
            <tr class="row3">
                <th class="col0 leftalign">Charlie	</th><td class="col1 centeralign">	<a href="#termicka-analyza-fazove-transformace-tfv" title="rocnik33:dsef:start ↵" class="wikilink1">TFV</a>	</td><td class="col2 centeralign">	<a href="#seismologicka-laborator-sei" title="rocnik33:dsef:start ↵" class="wikilink1">Sei</a>!	</td><td class="col3 centeralign">	<a href="#opticke-laboratore-opt" title="rocnik33:dsef:start ↵" class="wikilink1">opt</a>	</td><td class="col4 centeralign">	<a href="#compass" title="rocnik33:dsef:start ↵" class="wikilink1">COMPASS</a> (Na Slovance)	</td>
            </tr>
            <tr class="row4">
                <th class="col0 leftalign">Delta	</th><td class="col1 centeralign">	<a href="#seismologicka-laborator-sei" title="rocnik33:dsef:start ↵" class="wikilink1">Sei</a>!	</td><td class="col2 centeralign">	<a href="#meteorologicka-stanice-karlov-me" title="rocnik33:dsef:start ↵" class="wikilink1">Me</a>!			</td><td class="col3 centeralign">	<a href="#termicka-analyza-fazove-transformace-tfv" title="rocnik33:dsef:start ↵" class="wikilink1">TFV</a>	</td><td class="col4 centeralign">	<a href="#compass" title="rocnik33:dsef:start ↵" class="wikilink1">COMPASS</a>(Na Slovance)	</td>
            </tr>
            <tr class="row5">
                <th class="col0 leftalign">Golf	</th><td class="col1 centeralign">	<a href="#opticke-laboratore-opt" title="rocnik33:dsef:start ↵" class="wikilink1">opt</a>!	</td><td class="col2 centeralign">	<a href="#mereni-fyzikalnich-velicin-v-tlaku-tlk" title="rocnik33:dsef:start ↵" class="wikilink1">Tlk </a>/<a href="#hydrogenace-hdr" title="rocnik33:dsef:start ↵" class="wikilink1">Hdr</a>	</td><td class="col3 centeralign">	<a href="#magnetooptika-mo" title="rocnik33:dsef:start ↵" class="wikilink1">MO</a>!	</td><td class="col4 centeralign">	<a href="#terahertzova-spektroskopie-thz" title="rocnik33:dsef:start ↵" class="wikilink1">THz</a>/<a href="#prague-asterix-laser-system-pals" title="rocnik33:dsef:start ↵" class="wikilink1">PALS</a>! (Na Slovance)	</td>
            </tr>
            <tr class="row6">
                <th class="col0 leftalign">Hotel	</th><td class="col1 centeralign">	<a href="#meteorologicka-stanice-karlov-me" title="rocnik33:dsef:start ↵" class="wikilink1">Me</a>	</td><td class="col2 centeralign">	<a href="#spintronika-s" title="rocnik33:dsef:start ↵" class="wikilink1">S</a>	</td><td class="col3 centeralign">	<a href="#foucaultovo-kyvadlo-fk" title="rocnik33:dsef:start ↵" class="wikilink1">FK</a>	</td><td class="col4 centeralign">	<a href="#terahertzova-spektroskopie-thz" title="rocnik33:dsef:start ↵" class="wikilink1">THz</a>/<a href="#prague-asterix-laser-system-pals" title="rocnik33:dsef:start ↵" class="wikilink1">PALS</a>! (Na Slovance)	</td>
            </tr>
            <tr class="row7">
                <th class="col0 leftalign">India	</th><td class="col1 centeralign">	<a href="#biofyzika-zivych-bunek-bszb" title="rocnik33:dsef:start ↵" class="wikilink1">BSZB</a>	</td><td class="col2 centeralign">	<a href="#roentgenova-difrakce-rtg" title="rocnik33:dsef:start ↵" class="wikilink1">Rtg</a>	</td><td class="col3 centeralign">	<a href="#akusticka-emise" title="rocnik33:dsef:start ↵" class="wikilink1">AE</a>/<a href="#transmisni-elektronovy-mikroskop-pozorovani-atomu-hrtem" title="rocnik33:dsef:start ↵" class="wikilink1">HRTEM</a>	</td><td class="col4 centeralign">	<a href="#priprava-intermetalickych-krystalu-pik" title="rocnik33:dsef:start ↵" class="wikilink1">PIK</a>,<a href="#vyroba-polovodicovych-soucastek-pol" title="rocnik33:dsef:start ↵" class="wikilink1">Pol</a>?(Ke Karlovu)	</td>
            </tr>
            <tr class="row8">
                <th class="col0 leftalign">Juliet	</th><td class="col1 centeralign">	<a href="#mereni-fyzikalnich-velicin-v-tlaku-tlk" title="rocnik33:dsef:start ↵" class="wikilink1">Tlk </a>/<a href="#hydrogenace-hdr" title="rocnik33:dsef:start ↵" class="wikilink1">Hdr</a>!	</td><td class="col2 centeralign">	<a href="#akusticka-emise" title="rocnik33:dsef:start ↵" class="wikilink1">AE</a>/<a href="#transmisni-elektronovy-mikroskop-pozorovani-atomu-hrtem" title="rocnik33:dsef:start ↵" class="wikilink1">HRTEM</a>	</td><td class="col3 centeralign">	<a href="#roentgenova-difrakce-rtg" title="rocnik33:dsef:start ↵" class="wikilink1">Rtg</a>	</td><td class="col4 centeralign">	<a href="#vyroba-polovodicovych-soucastek-pol" title="rocnik33:dsef:start ↵" class="wikilink1">Pol</a>?,<a href="#priprava-intermetalickych-krystalu-pik" title="rocnik33:dsef:start ↵" class="wikilink1">PIK</a>(Ke Karlovu)	</td>
            </tr>
            </tbody></table>

        <h2 class="sectionedit4" id="stary-program-exkurzi">Starý program exkurzí</h2>

        <p>
            Při přihlášení si prosím zvolte skupinu podle programu. Přihlášku lze editovat, takže se i později (ale před koncem přihlašování) můžete přehlásit do jiné skupiny. Program se může ještě mírně změnit.
        </p>
        <table class="table">
            <thead>
            <tr class="row0">
                <th class="col0 leftalign header">		</th><th class="col1 centeralign header" colspan="3">	Dopolední exkurze	</th><th class="col4 centeralign header">	Odpolední exkurze	</th>
            </tr>
            </thead>
            <tbody><tr class="row1">
                <th class="col0 leftalign">		</th><td class="col1 centeralign">	10:15 - 10:50							</td><td class="col2 centeralign">	10:55-11:30										</td><td class="col3 centeralign">	11:35-12:10		</td><td class="col4 centeralign">	12:45-konec		</td>
            </tr>
            <tr class="row2">
                <th class="col0 leftalign">Alfa	</th><td class="col1 centeralign">	<a href="#seismologicka-laborator-sei" title="rocnik33:dsef:start ↵" class="wikilink1">Sei</a>	</td><td class="col2 centeralign">	<a href="#optotermalni-spektroskopie-potraviny-ots" title="rocnik33:dsef:start ↵" class="wikilink1">OTS</a>	</td><td class="col3 centeralign">	<a href="#magnetooptika-mo" title="rocnik33:dsef:start ↵" class="wikilink1">MO</a>	</td><td class="col4 centeralign">	<a href="#terahertzova-spektroskopie-thz" title="rocnik33:dsef:start ↵" class="wikilink1">THz</a>/<a href="#prague-asterix-laser-system-pals" title="rocnik33:dsef:start ↵" class="wikilink1">PALS</a> (Na Slovance)	</td>
            </tr>
            <tr class="row3">
                <th class="col0 leftalign">Bravo	</th><td class="col1 centeralign">	<a href="#magnetooptika-mo" title="rocnik33:dsef:start ↵" class="wikilink1">MO</a>	</td><td class="col2 centeralign">	<a href="#opticke-laboratore-opt" title="rocnik33:dsef:start ↵" class="wikilink1">opt</a>	</td><td class="col3 centeralign">	<a href="#optotermalni-spektroskopie-potraviny-ots" title="rocnik33:dsef:start ↵" class="wikilink1">OTS</a>	</td><td class="col4 centeralign">	<a href="#terahertzova-spektroskopie-thz" title="rocnik33:dsef:start ↵" class="wikilink1">THz</a>/<a href="#prague-asterix-laser-system-pals" title="rocnik33:dsef:start ↵" class="wikilink1">PALS</a> (Na Slovance)	</td>
            </tr>
            <tr class="row4">
                <th class="col0 leftalign">Charlie	</th><td class="col1 centeralign">	<a href="#deformace-superplasticita-def" title="rocnik33:dsef:start ↵" class="wikilink1">Def</a>	</td><td class="col2 centeralign">	<a href="#fazove-premeny-pod-mikroskopem-afk" title="rocnik33:dsef:start ↵" class="wikilink1">AFK</a>	</td><td class="col3 centeralign">	<a href="#opticke-laboratore-opt" title="rocnik33:dsef:start ↵" class="wikilink1">opt</a>	</td><td class="col4 centeralign">	<a href="#compass" title="rocnik33:dsef:start ↵" class="wikilink1">COMPASS</a> (Na Slovance)	</td>
            </tr>
            <tr class="row5">
                <th class="col0 leftalign">Delta	</th><td class="col1 centeralign">	<a href="#fazove-premeny-pod-mikroskopem-afk" title="rocnik33:dsef:start ↵" class="wikilink1">AFK</a>	</td><td class="col2 centeralign">	<a href="#opticka-spektroskopie-ops" title="rocnik33:dsef:start ↵" class="wikilink1">OpS</a>				</td><td class="col3 centeralign">	<a href="#deformace-superplasticita-def" title="rocnik33:dsef:start ↵" class="wikilink1">Def</a>	</td><td class="col4 centeralign">	<a href="#compass" title="rocnik33:dsef:start ↵" class="wikilink1">COMPASS</a>(Na Slovance)	</td>
            </tr>
            <tr class="row6">
                <th class="col0 leftalign">Echo	</th><td class="col1 centeralign">	<a href="#fluorescence-flu" title="rocnik33:dsef:start ↵" class="wikilink1">Flu</a>	</td><td class="col2 centeralign">	<a href="#termicka-analyza-fazove-transformace-tfv" title="rocnik33:dsef:start ↵" class="wikilink1">TFV</a>	</td><td class="col3 centeralign">	<a href="#raman-ram" title="rocnik33:dsef:start ↵" class="wikilink1">Ram</a>	</td><td class="col4 centeralign">	<a href="#laborator-vysokych-napeti-a-osvetleni-vn-svetlo" title="rocnik33:dsef:start ↵" class="wikilink1">VN/Svetlo</a> (Technická)	</td>
            </tr>
            <tr class="row7">
                <th class="col0 leftalign">Foxtrot	</th><td class="col1 centeralign">	<a href="#opticke-laboratore-opt" title="rocnik33:dsef:start ↵" class="wikilink1">opt</a>	</td><td class="col2 centeralign">	<a href="#priprava-intermetalickych-krystalu-pik" title="rocnik33:dsef:start ↵" class="wikilink1">PIK</a>	</td><td class="col3 centeralign">	<a href="#fluorescence-flu" title="rocnik33:dsef:start ↵" class="wikilink1">Flu</a>	</td><td class="col4 centeralign">	<a href="#laboratore-vysokeho-napeti-a-osvetleni-vnsvetlo" title="rocnik33:dsef:start ↵" class="wikilink1">VN/světlo</a> (Technická)	</td>
            </tr>
            <tr class="row8">
                <th class="col0 leftalign">Golf	</th><td class="col1 centeralign">	<a href="#raman-ram" title="rocnik33:dsef:start ↵" class="wikilink1">Ram</a>	</td><td class="col2 centeralign">	<a href="#hydrogenace-hdr" title="rocnik33:dsef:start ↵" class="wikilink1">Hdr</a>	</td><td class="col3 centeralign">	<a href="#opticka-spektroskopie-ops" title="rocnik33:dsef:start ↵" class="wikilink1">OpS</a>	</td><td class="col4 centeralign">	<a href="#ustav-jaderne-fyziky-avcr-rez" title="rocnik33:dsef:start ↵" class="wikilink1">Řež</a>	</td>
            </tr>
            <tr class="row9">
                <th class="col0 leftalign">Hotel	</th><td class="col1 centeralign">	<a href="#meteorologicka-stanice-karlov-me" title="rocnik33:dsef:start ↵" class="wikilink1">Me</a>	</td><td class="col2 centeralign">	<a href="#spintronika-s" title="rocnik33:dsef:start ↵" class="wikilink1">S</a>	</td><td class="col3 centeralign">	<a href="#foucaultovo-kyvadlo-fk" title="rocnik33:dsef:start ↵" class="wikilink1">FK</a>	</td><td class="col4 centeralign">	<a href="#ustav-jaderne-fyziky-avcr-rez" title="rocnik33:dsef:start ↵" class="wikilink1">Řež</a>	</td>
            </tr>
            <tr class="row10">
                <th class="col0 leftalign">India	</th><td class="col1 centeralign">	<a href="#biofyzika-zivych-bunek-bszb" title="rocnik33:dsef:start ↵" class="wikilink1">BSZB</a>	</td><td class="col2 centeralign">	<a href="#roentgenova-difrakce-rtg" title="rocnik33:dsef:start ↵" class="wikilink1">Rtg</a>	</td><td class="col3 centeralign">	<a href="#skenovaci-elektronovy-mikroskop-sem" title="rocnik33:dsef:start ↵" class="wikilink1">SEM</a>/<a href="#transmisni-elektronovy-mikroskop-pozorovani-atomu-hrtem" title="rocnik33:dsef:start ↵" class="wikilink1">HRTEM</a>	</td><td class="col4 centeralign">	<a href="#priprava-intermetalickych-krystalu-pik" title="rocnik33:dsef:start ↵" class="wikilink1">PIK</a>,<a href="#vyroba-polovodicovych-soucastek-pol" title="rocnik33:dsef:start ↵" class="wikilink1">Pol</a>(Ke Karlovu)	</td>
            </tr>
            <tr class="row11">
                <th class="col0 leftalign">Juliet	</th><td class="col1 centeralign">	<a href="#pocitacove-modelovani-slozitych-molekul-mm" title="rocnik33:dsef:start ↵" class="wikilink1">MM</a>	</td><td class="col2 centeralign">	<a href="#skenovaci-elektronovy-mikroskop-sem" title="rocnik33:dsef:start ↵" class="wikilink1">SEM</a>/<a href="#akusticka-emise-ae" title="rocnik33:dsef:start ↵" class="wikilink1">AE</a>	</td><td class="col3 centeralign">	<a href="#roentgenova-difrakce-rtg" title="rocnik33:dsef:start ↵" class="wikilink1">Rtg</a>	</td><td class="col4 centeralign">	<a href="#vyroba-polovodicovych-soucastek-pol" title="rocnik33:dsef:start ↵" class="wikilink1">Pol</a>,<a href="#priprava-intermetalickych-krystalu-pik" title="rocnik33:dsef:start ↵" class="wikilink1">PIK</a>(Ke Karlovu)	</td>
            </tr>
            </tbody></table>

        <h2 class="sectionedit6" id="anotace-exkurzi">Anotace exkurzí</h2>
        <h4 id="akusticka-emise-ae">Akustická emise (AE)</h4>

        <p>
            V běžném životě si můžeme poklepat na předmět a zjistit, zda je vyrobený ze dřeva či z plastu, dutý či plný apod. Na podobném principu pracuje metoda akustické emise, která však zkoumá komplexní šíření zvuku materiálem. Dokáže odhalit trhliny a sledovat jejich šíření v reálném čase, odhalit korozi, či sledovat proudění tekutin. Používá se například k inspekci trupů letadel a jiných dlouhodobě namáhaných konstrukcí.
        </p>


        <h4 id="fazove-premeny-pod-mikroskopem-afk">Fázové přeměny pod mikroskopem (AFK)</h4>

        <p>
            Mikroskop atomových sil (AFM) obsahuje tenký hrot, který má na špičce pouze jeden nebo několik atomů. Silami mezi atomy v hrotu a ve vzorku se hrot ohýbá. Tyto nepatrné ohyby lze měřit například interferometricky za pomoci laseru a dosáhnout tak rozlišení na úrovni velikosti atomů.
        </p>


        <h4 id="biofyzika-zivych-bunek-bszb">Biofyzika živých buněk (BSZB)</h4>

        <p>
            Pozorování fyzikálních procesů v buňkách. Například transport přes cytoplazmatickou membránu.
        </p>


        <h4 id="deformace-superplasticita-def">Deformace, superplasticita (Def)</h4>

        <p>
            Superplasticita je jev, ke kterému dochází u speciálních slitin za vysokých teplot (pod teplotou tání). Tyto materiály lze snadno ohýbat do komplexních tvarů bez vzniku prasklin.
        </p>


        <h4 id="foucaultovo-kyvadlo-fk">Foucaultovo kyvadlo (FK)</h4>

        <p>
            Tento pokus demonstruje působení Corlissovy síly v důsledku rotace Země. Poprvé jej předvedl J.B. Léon Foucault roku 1851 v Panthéonu v Paříži. Jedno takové kyvadlo se nachází též na matfyzu. Visí na 21 metrů dlouhém závěsu od střechy až do suterénu budovy.
        </p>


        <h4 id="fluorescence-flu">Fluorescence (Flu)</h4>

        <p>
            Laboratoř časově rozlišené fluorescence - využití fluorescence v biofyzice.
        </p>

        <p>
            Fluorescence je jev, při kterém dochází k pohlcování světla a opětovnému vyzařování na jiné vlnové délce. Narozdíl od fosforescence vyzařování přestává téměř okamžitě po vypnutí zdroje. Pomocí fluorescence lze například zkoumat polarizaci buněčné membrány.
        </p>


        <h4 id="hydrogenace-hdr">Hydrogenace (Hdr)</h4>

        <p>
            Zkoumání efektů průniku vodíku do krystalových struktur.
        </p>


        <h4 id="transmisni-elektronovy-mikroskop-s-vysokym-rozlisenim-hrtem">Transmisní elektronový mikroskop s vysokým rozlišením (HRTEM)</h4>

        <p>
            Transmisní elektronový mikroskop (TEM) pracuje se svazkem elektronů, který proniká skrz pozorovaný vzorek.  Narozdíl od mikroskopu skenovacího umožňuje pozorovat vnitřní strukturu materiálů. Vzorek však musí být dostatečně tenký, aby jím svazek elektronů proniknul. HRTEM (High Resolution TEM) umožňuje pozorování jednotlivých atomů.
        </p>


        <h4 id="meteorologicka-stanice-karlov-me">Meteorologická stanice Karlov (Me)</h4>

        <p>
            Stanice na střeše budovy fyzikálního ústavu sbírá data o počasí od roku 1920. Exkurze je zaměřena převážně na historii stanice, ale k vidění bude i řada zajímavých měřících přístrojů.
        </p>


        <h4 id="pocitacove-modelovani-slozitych-molekul-mm">Počítačové modelování složitých molekul (MM)</h4>

        <p>
            Vlastnosti makromolekul, například bílkovin, záleží jak na chemickém (strukturním) vzorci, tak na jejich fyzickém uspořádání. Připravit tyto molekuly chemicky je obtížné či zcela nemožné. Už u poměrně jednoduchých organických molekul může výměna jediného atomu vyžadovat provedení desítek chemických reakcí. Proto je výhodné molekuly modelovat v počítači a zaměřit se na přípravu těch, které jsou skutečně užitečné. V praxi se tyto metody využívají například při vývoji léčiv.
        </p>


        <h4 id="magnetooptika-mo">Magnetooptika (MO)</h4>

        <p>
            Při magnetooptických jevech se mění vlastnosti světla interagujícího s látkou v závislosti na vnějším magnetickém poli. Například je možné sestavit tzv optický izolátor, který propouští světlo jenom jedním směrem.
        </p>


        <h4 id="opticke-laboratore-ultrarychla-laserova-spektroskopie-opt">optické laboratoře, ultrarychlá laserová spektroskopie (opt)</h4>

        <p>
            V optických laboratořích je možné vidět například laser, který vytvoří plasma ve vzduchu nebo laditelný laser, jehož barvu lze měnit přes celé viditelné spektrum.
        </p>


        <h4 id="optotermalni-spektroskopie-potraviny-ots">Optotermální spektroskopie, potraviny (OTS)</h4>

        <p>
            Exkurze do laboratoří optotermální spektroskopie (hlavni směry výzkumu: výzkum a vývoj senzorových systému pro potravinářský průmysl (zejména výroba piva a vina).
        </p>

        <p>
            Jedná se o velice citlivou spektroskopickou metodu. Světelný svazek zahřeje zkoumaný vzorek na určitém místě, zahřátí způsobí změnu indexu lomu, což způsobí vychylování světelného svazku. Tímto získáme absorpční spektrum, ze kterého lze zjistit složní vzorku. Metoda je vhodná například pro tenké vrstvy, které by byly pro jiné spektroskopické metody „neviditelné“.
        </p>


        <h4 id="priprava-intermetalickych-krystalu-pik">Příprava intermetalických krystalů (PIK)</h4>

        <p>
            Podíváme se, jak probíhá tvorba velmi čistých monokrystalů slitin jako GaAs, CdTe apod. Při výrobě těchto krystalů je potřeba velmi přesně kontrolovat teplotu a koncentrace jednotlivých složek, aby nedocházelo ke tvorbě defektů.
        </p>


        <h4 id="vyroba-polovodicovych-soucastek-pol">Výroba polovodičových součástek (Pol)</h4>

        <p>
            Povídání o polovodičových součástkách, ukázka laboratoře pro výrobu součástek z CdTe, které se používají například pro termovizi.
        </p>


        <h4 id="ramanova-spektroskopie-ram">Ramanova spektroskopie (Ram)</h4>

        <p>
            Ramanův jev objevil indický fyzik C.V. Raman roku 1928. Jedná se o neelastický rozptyl světla. Foton interaguje s molekulou látky a předá jí část své energie, čímž se změní jeho vlnová délka. Z této změny lze zjistit složení látky.
        </p>


        <h4 id="roentgenova-difrakce-pozorovani-krystalove-struktury-rtg">Röntgenová difrakce - pozorování krystalové struktury (Rtg)</h4>

        <p>
            Pomocí difrakce roentgenových paprsků lze zkoumat strukturu krystalických materiálů a určovat jejich prvkové složení složení aj.
        </p>


        <h4 id="spintronika-s">Spintronika (S)</h4>

        <p>
            Odvětví elektroniky, které využívá vlastnosti elektronů zvané spin. Na tomto principu dnes fungují všechny plotnové pevné disky. Pokud by se podařilo zprovoznit spintronický procesor, znamenalo by to podstatné zrychlení procesorů.
        </p>


        <h4 id="seismologicka-merici-stanice-sei">Seismologická měřící stanice (Sei)</h4>

        <p>
            Díky rozsáhlé síti měřících stanic jsou seismologové schopni studovat šíření seismických vln (zemětřesení). Pomocí těchto dat mohou zjišťovat složení zemského pláště, sledovat pohyby litosférických desek nebo předvídat zemětřesení.
        </p>


        <h4 id="skenovaci-elektronovy-mikroskop-sem">Skenovací elektronový mikroskop (SEM)</h4>

        <p>
            Na rozdíl of TEM popsaného výše tento mikroskop detekuje elektrony odražené od vzorku. Vzorek může být větší, ale musí být vodivý (nebo pokovený), aby nedocházelo k hromadění náboje.
        </p>


        <h4 id="termicka-analyza-fazove-transformace-tfv">Termická analýza - Fázové transformace (TFV)</h4>

        <p>
            Existují 3 základní skupenství, ale mnohem více fází. V pevných látkách může při změnách teploty a tlaku docházet ke změně uspořádání atomů, při čemž dochází k přijetí nebo odevzdání energie ve formě tepla. Tyto fázové (nikoli nutně skupenské) přechody Jsou zaznamenávány pomocí speciálních kalorimetrů.
        </p>


        <h4 id="terahertzova-spektroskopie-thz">Terahertzová spektroskopie (THz)</h4>

        <p>
            Terahertzové frekvence vyplňují mezeru mezi rádiovými vlnami a infračeveným světlem. Generace koherentního záření tohoto typu byla po dlouhou dobu v princípu nemožná a proto je terahertzová spektroskopie stále mladá a vyvijijící se oblast výzkumu. V naší laboratoři tuto metodu využívame k zkoumání vlastností fotonických krystalů, meta materialů a mnoho ďalšího.
        </p>


        <h4 id="prague-asterix-laser-system-pals">Prague Asterix laser system (PALS)</h4>

        <p>
            Jodový laserový systém PALS a přidružené pracoviště UFP AV CŘ a FZU AV ČR, zaobírající se výzkumem plazmatu.
        </p>

        <p>
            Jeden z největších a nejvýkonějších laserů v Evropě. Dosahuje špičkového výkonu v pulsu až 3 TW. Svazek je zaostřen do malého bodu v reakční komoře, kde dokáže vytvořit plazma o teplotě milionů stupňů Celsia.
        </p>


        <h4 id="compass">COMPASS</h4>

        <p>
            Tokamak je zařízení, které produkuje energii z nukleární fúze. V součastnosti největším tokamakem je připravovaný ITER, který bude schopný udržet jadernou fúzi po dobu stovek sekund. Navštívime experimentálni tokamak Compass, který je síce menší, ale konstrukcí podobný ITER-u.
        </p>


        <h4 id="laboratore-vysokych-napeti-a-osvetleni-vn-svetlo">Laboratoře vysokých napětí a osvětlení (VN+světlo)</h4>

        <p>
            Hala velikosti tělocvičny obsahuje několik generátorů vysokého napětí. Najsilnejší z nich dokáže generovat napětí až do 2 milionů voltů. Slouží převážně k testování různých zařízení na odolnost proti napěťovým špičkám způsobeným blesky. Pro návštěvníky je připravená působivá elektrická show.
        </p>

        <p>
            Exkurze je spojena s laboratoří osvětlení, kde se testují světelné zdroje.
        </p>


        <h4 id="ustav-jaderne-fyziky-avcr-rez">Ústav jaderné fyziky AVČR (Řež)</h4>

        <p>
            Navštíme Ústav jaderné fyziky AVČR v Praze - Řeži, kde se nachází urychlovače částic a poté Ústav jaderného výzkumu se dvěma štěpnými reaktory.
        </p>


        <h4 id="opticka-spektroskopie-ops">Optická spektroskopie (OpS)</h4>

        <p>
            Spektroskopie zkoumá materiály na základě toho, jak fungují s elektromagnetickými vlnami, v tomto případě ve viditelné oblasti. Jedná se o velmi rozšířenou neinvazivní metodu.
        </p>


        <h4 id="mereni-fyzikalnich-velicin-v-tlaku-tlk">Měření fyzikálních veličin v tlaku(Tlk)</h4>

        <h5 id="jak-se-prihlasit">Jak se přihlásit?</h5>

        <p>
            Uzávěrka přihlášek je v pátek <strong>8. 11. 2019 ve 23:59</strong> či v okamžiku zaplnění akce. Kapacita akce je maximálně 100 účastníků.
        </p>
        <ul>
            <li class="level1"><div class="li"> Stávající řešitelé (či registrované osoby) se hlásí pod e-mailem, pod kterým jsou u nás registrovaní - nebudete muset vyplňovat všechno znovu. Noví účastníci musí vyplnit i svoje základní údaje (adresa, škola).</div>
            </li>
            <li class="level1"><div class="li"> Pokud by při vyplňování přihlášky nastal nějaký problém, neváhejte se co nejdřív ozvat na <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">náš e-mail</a>.</div>
            </li>
        </ul>


        <h5 id="podminky-prihlasovani">Podmínky přihlašování</h5>
        <ul>
            <li class="level1"><div class="li"> Předpokládáme účast na celé akci. Pokud byste se chtěli zúčastnit jen části, můžete se přihlásit na e-mail <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">dsef@fykos.cz</a> jako náhradníci.</div>
            </li>
            <li class="level1"><div class="li"> Účast na akci je <strong>zdarma</strong>.</div>
            </li>
            <li class="level1"><div class="li"> Před odesláním formuláře zkontrolujte správnost zadaných údajů, zejména e-mail. Údaje můžete sice po přihlášení (v případě potřeby) upravit, byli bychom ale rádi, pokud by byly definitivní hned po přihlášení.</div>
            </li>
            <li class="level1"><div class="li"> Pokud by měl zájem se účastnit váš učitel, tak se nejprve ozvěte na <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">kontaktní e-mail</a>, ale neměl by být problém, aby se účastnil jako běžný účastník.</div>
            </li>
            <li class="level1"><div class="li"> Osoby s jiným místem trvalého bydliště než ČR a SR se před přihlášením ozvou na <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">kontaktní e-mail</a>.</div>
            </li>
        </ul>

        <h2 class="sectionedit9" id="ubytovani">Ubytování</h2>

        <h5 id="kde-je-ubytovani-a-jake">Kde je ubytování a jaké?</h5>
        <ul>
            <li class="level1"><div class="li"> Ubytování je v <a href="https://www.hostelelf.com" class="urlextern" title="https://www.hostelelf.com">Hostelu Elf</a> na Žižkově. </div>
            </li>
            <li class="level1"><div class="li"> Ubytování si můžete rezervovat <strong>do 3.11. 2019 do 23:59</strong>.</div>
            </li>
            <li class="level1"><div class="li"> Ubytováni budete pohromadě na velkých pokojích (6 až 9 lůžkové). Pokud mají zájem o ubytování nějací učitelé, budou ubytováni s ostatními účastníky. Ubytováváni budete podle toho, jak přijdete. Požadavky na to, kdo chce být ubytován s kým, nepřijímáme (když přijedete mezi prvními, tak si to můžete zkusit domluvit na recepci).</div>
            </li>
            <li class="level1"><div class="li"> Hostel nepůjčuje ručníky, přivezte si vlastní.</div>
            </li>
        </ul>


        <h5 id="placeni-za-ubytovani">Placení za ubytování</h5>
        <ul>
            <li class="level1"><div class="li"> Účastníci DSEFu mají <strong>ubytování zdarma</strong>.</div>
            </li>
        </ul>


        <h5 id="prijezd-na-ubytovani-nedele-10-11">Příjezd na ubytování - neděle 10. 11.</h5>
        <ul>
            <li class="level1"><div class="li"> Ubytovávat se můžete od 14:00 cca do 21:00. Recepce sice funguje nonstop, ale ostatní budou chtít spát a tak podobně.</div>
            </li>
            <li class="level1"><div class="li"> Hostel bude mít nahlášený seznam osob - jména a občanské průkazy. Ubytovat se budete moci pouze pokud budete mít ubytování nahlášené předem.</div>
            </li>
            <li class="level1"><div class="li"> Vezměte si každý 100 Kč na zálohu na kartu od pokoje. Zálohu vám pak vrátí při odjezdu, když vrátíte kartu.</div>
            </li>
        </ul>

        <h2 class="sectionedit10" id="prakticke-informace">Praktické informace</h2>
        <ul>
            <li class="level1 node"><div class="li"> Můžete si objednat <strong>bagety k obědu za 30 Kč/ks</strong>.</div>
                <ul>
                    <li class="level2"><div class="li"> Objednávka počtu baget je závazná. Doplatek zaplatíte ráno na místě při registraci a ihned dostanete bagetu. Upozorňujeme, že v laboratořích se nejí. Bagety si, prosím, snězte před začátkem akce, v obědové pauze, nebo po skončení.</div>
                    </li>
                </ul>
            </li>
            <li class="level1"><div class="li"> Dopravu na akci neproplácíme. Pro přejezd v průběhu programu poskytneme mimopražským účastníkům jízdenku.</div>
            </li>
            <li class="level1"><div class="li"> Kapacita skupiny je 10 lidí. Zbývající kapacitu skupin zjistíte v přihlášce.</div>
            </li>
            <li class="level1"><div class="li"> O uložení vaší přihlášky do databáze budete automaticky informováni na váš e-mail a vaše jméno se objeví na této stránce níže.</div>
            </li>
            <li class="level1"><div class="li"> Seznamy na webu se aktualizují během jedné hodiny. To znamená, že skoro nikdy se nenaleznete ihned po přihlášení, ale když se tam nenajdete ani druhý den, tak je něco špatně a raději se nám ozvěte.</div>
            </li>
            <li class="level1"><div class="li"> Skupinu volte především s ohledem na své zájmy, zvědavost a s ohledem na <strong>rovnoměrné obsazení skupin</strong>. (Exkurze však nejsou místem k povídání! K tomu využijte dobu před hlavním srazem nebo po skončení exkurzí, popř. o přestávkách či při přesunech.)</div>
            </li>
            <li class="level1"><div class="li"> Skupinu můžete změnit i po přihlášení, dokud neuplyne termín na registraci. Povolené změny jsou pouze do skupin, které jsou nenaplněné. (Pokud by vám to nešlo, napište nám mail.)</div>
            </li>
            <li class="level1"><div class="li"> Konečné rozdělení proběhne v průběhu úvodu akce a týká se zejména rovnoměrného zaplnění skupin. Změn však proběhne pouze minimální nutné množství, takže volbu svojí skupiny proveďte pečlivě. V den akce nebudeme brát ohledy na žádosti o změnu skupiny.</div>
            </li>
        </ul>

        <h2 class="sectionedit11" id="kontakt">Kontakt</h2>

        <p>
            S jakýmikoliv dotazy či problémy se na nás neváhejte obrátit na kontaktní e-mail <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">dsef@fykos.cz</a>.
        </p>

        <h2 class="sectionedit12" id="sponzori">Sponzoři</h2>

        <p>
            Den S Experimentální Fyzikou probíhá v rámci akce <a href="https://www.iaps.info/activities/iaps-school-day/" class="urlextern" title="https://www.iaps.info/activities/iaps-school-day/">IAPS School Day</a>, která probíhá současně na mnoha místech po celém světě.
        </p>

        <p>
            <a href="https://www.iaps.info/" class="urlextern" title="https://www.iaps.info/">IAPS (International Association of physics students)</a>
        </p>

        <p>
            <a href="https://www.facebook.com/iapsfb" class="urlextern" title="https://www.facebook.com/iapsfb">FB stránka IAPS</a>
        </p>

        <p>
            <a href="/_detail/akce/dsef/iaps-background_small.png?id=rocnik33%3Adsef%3Astart" class="media" title="akce:dsef:iaps-background_small.png"><img src="/_media/akce/dsef/iaps-background_small.png?w=400&amp;tok=f4af4a" class="mediacenter" title=" https://www.iaps.info" alt=" https://www.iaps.info" width="400"></a>
        </p>

    </section>
</div>
