{varType Fykosak\NetteFKSDBDownloader\ORM\Models\ModelEvent $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: "j. n. Y"}</div>
        <h1>DSEF {$event->begin|date: "Y"}</h1>

        <p>Den s experimentální fyzikou {$event->begin|date: "Y"} se konal {$event->begin|date: "j. n. Y"}, tentokrát v Troji. Účastníci se opět dostali do špičkových výzkumných laboratoří na MFF UK i jinde v Praze a blízkém okolí. Rozvržení jednotlivých exkurzí a doplňující informace k programu naleznete níže na stránce.
        </p>
        <p>
            Partnerem tohoto ročníku DSEFu byla asociace <a href="https://www.iaps.info" class="urlextern"
                title="https://www.iaps.info">IAPS</a> (International Association of Physics Students), která nás podpořila grantem IAPS Outreach Grant. Díky tomu jsme mohli akci snadněji zorganizovat a rozložit prostředky na
            zajištění exkurzí a např. levnějšího ubytování pro účastníky.
        </p>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <h1>Harmonogram dne</h1>

{*        <h4 id="zacatek-dsefu">Začátek DSEFu</h4>*}
{*        <ul>*}
{*            <li>Příjezd pro ubytované v hostelu je v neděli od 16:00 do večera. Pondělní snídaně (pouze pro ubytované)*}
{*                je plánovaná na*}
{*                7:00.*}
{*            </li>*}
{*            <li>DSEF začne v pondělí registrací účastníků, která proběhne mezi <strong>8:00 a 8:30 na*}
{*                    Matematicko-fyzikální fakultě ve vestibulu budovy T na adrese V Holešovičkách 2</strong>.*}
{*                Následovat pak bude oficiální zahájení a ranní přednáška.*}
{*            </li>*}
{*        </ul>*}

        <h4 id="ranni-prednaska">Ranní přednáška (9:15-10:00)</h4>
        <p>
            <b> Fotosyntéza jako inspirace pro nové způsoby využití sluneční energie </b> <br>
            doc. RNDr. Jakub Pšenčík, Ph.D.
        </p>

        <h4 id="exkurze">Exkurze</h4>
        <p>
            Při přihlášení si účastníci volili jednu dopolední a odpolední skupinu. Dopolední program proběhl na pracovištích MFF a odpolední na různých vědeckých institucích v
            Praze a okolí.
        </p>
        <div class="table sectionedit3">
            <table class="inline table">
                <thead>
                    <tr class="row0">
                        <th class="col0 header" colspan="2"></th>
                        <th class="col2 header" colspan="2"> Dopolední exkurze</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row1">
                        <td class="col0"></td>
                        <td class="col1"> 10:15 – 10:40</td>
                        <td class="col2"> 10:55 – 11:20</td>
                        <td class="col3"> 11:35 – 12:00</td>
                    </tr>
                    <tr class="row2">
                        <th class="col0">Alfa</th>
                        <td class="col1"><a href="#Skupina-fyziky-povrchů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SFPo</a></td>
                        <td class="col2"><a href="#Oddělení-Mössbauerovy-spektroskopie" title="rocnik36:dsef:start ↵"
                                class="wikilink1">MbS1</a></td>
                        <td class="col3"><a href="#Skupina-nanomateriálů-Near-ambient-pressure"
                                title="rocnik36:dsef:start ↵" class="wikilink1">NAP</a></td>
                    </tr>
                    <tr class="row3">
                        <th class="col0">Beta</th>
                        <td class="col1"><a href="#Katedra-fyziky-atmosféry" title="rocnik36:dsef:start ↵"
                                class="wikilink1">KFA</a></td>
                        <td class="col2"><a href="#Skupina-fyziky-povrchů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SFPo</a></td>
                        <td class="col3"><a href="#Řádkovací-tunelový-mikroskop" title="rocnik36:dsef:start ↵"
                                class="wikilink1">STM</a></td>
                    </tr>
                    <tr class="row4">
                        <th class="col0">Gama</th>
                        <td class="col1"><a href="#Řádkovací-tunelový-mikroskop" title="rocnik36:dsef:start ↵"
                                class="wikilink1">STM</a></td>
                        <td class="col2"><a href="#Interaktivní-fyzikální-laboratoř" title="rocnik36:dsef:start ↵"
                                class="wikilink1">IFL</a></td>
                        <td class="col3"><a href="#Skupina-fyziky-povrchů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SFPo</a></td>
                    </tr>
                    <tr class="row5">
                        <th class="col0">Delta</th>
                        <td class="col1"><a href="#Skupina-kosmické-fyziky" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKF</a></td>
                        <td class="col2"><a href="#Řádkovací-tunelový-mikroskop" title="rocnik36:dsef:start ↵"
                                class="wikilink1">STM</a></td>
                        <td class="col3"><a href="#Interaktivní-fyzikální-laboratoř" title="rocnik36:dsef:start ↵"
                                class="wikilink1">IFL</a></td>
                    </tr>
                    <tr class="row6">
                        <th class="col0">Epsilon</th>
                        <td class="col1"><a href="#Skupina-fyziky-plasmatu" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SFPl</a></td>
                        <td class="col2"><a href="#Skupina-kosmické-fyziky" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKF</a></td>
                        <td class="col3"><a href="#Katedra-fyziky-atmosféry" title="rocnik36:dsef:start ↵"
                                class="wikilink1">KFA</a></td>
                    </tr>
                    <tr class="row7">
                        <th class="col0">Kappa</th>
                        <td class="col1"><a href="#Urychlovač-Van-der-Graaff" title="rocnik36:dsef:start ↵"
                                class="wikilink1">VDG</a></td>
                        <td class="col2"><a href="#Oddělení-Mössbauerovy-spektroskopie" title="rocnik36:dsef:start ↵"
                                class="wikilink1">MbS2</a></td>
                        <td class="col3"><a href="#Skupina-kosmické-fyziky" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKF</a></td>
                    </tr>
                    <tr class="row8">
                        <th class="col0">Ióta</th>
                        <td class="col1"><a href="#Interaktivní-fyzikální-laboratoř" title="rocnik36:dsef:start ↵"
                                class="wikilink1">IFL</a></td>
                        <td class="col2"><a href="#Oddělení-Mössbauerovy-spektroskopie" title="rocnik36:dsef:start ↵"
                                class="wikilink1">MbS3</a></td>
                        <td class="col3"><a href="#Skupina-fyziky-plasmatu" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SFPl</a></td>
                    </tr>
                    <tr class="row9">
                        <th class="col0">Fí</th>
                        <td class="col1"><a href="#Astronomický-ústav" title="rocnik36:dsef:start ↵"
                                class="wikilink1">AU</a></td>
                        <td class="col2"><a href="#Skupina-fyziky-plasmatu" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SFPl</a></td>
                        <td class="col3"><a href="#Skupina-křemíkových-detektorů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKD</a></td>
                    </tr>
                    <tr class="row10">
                        <th class="col0">Mí</th>
                        <td class="col1"><a href="#Skupina-křemíkových-detektorů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKD</a></td>
                        <td class="col2"><a href="#Astronomický-ústav" title="rocnik36:dsef:start ↵"
                                class="wikilink1">AU</a></td>
                        <td class="col3"><a href="#Urychlovač-Van-der-Graaff" title="rocnik36:dsef:start ↵"
                                class="wikilink1">VDG</a></td>
                    </tr>
                    <tr class="row11">
                        <th class="col0">Ró</th>
                        <td class="col1"><a href="#Oddělení-Mössbauerovy-spektroskopie" title="rocnik36:dsef:start ↵"
                                class="wikilink1">MbS1</a></td>
                        <td class="col2"><a href="#Skupina-křemíkových-detektorů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKD</a></td>
                        <td class="col3"><a href="#Skupina-křemíkových-detektorů-2" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKD2</a></td>
                    </tr>
                    <tr class="row12">
                        <th class="col0">Psí</th>
                        <td class="col1"><a href="#Katedra-geofyziky" title="rocnik36:dsef:start ↵"
                                class="wikilink1">Geo</a></td>
                        <td class="col2"><a href="#Skupina-křemíkových-detektorů-2" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKD2</a></td>
                        <td class="col3"><a href="#Astronomický-ústav" title="rocnik36:dsef:start ↵"
                                class="wikilink1">AU</a></td>
                    </tr>
                    <tr class="row13">
                        <th class="col0">Ný</th>
                        <td class="col1"><a href="#Skupina-křemíkových-detektorů-2" title="rocnik36:dsef:start ↵"
                                class="wikilink1">SKD2</a></td>
                        <td class="col2"><a href="#Skupina-nanomateriálů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">Nano</a></td>
                        <td class="col3"><a href="#Oddělení-radiofrekvenční-spektroskopie" title="rocnik36:dsef:start ↵"
                                class="wikilink1">RfS</a></td>
                    </tr>
                    <tr class="row14">
                        <th class="col0">Eta</th>
                        <td class="col1"><a href="#Skupina-nanomateriálů" title="rocnik36:dsef:start ↵"
                                class="wikilink1">Nano</a></td>
                        <td class="col2"><a href="#Oddělení-radiofrekvenční-spektroskopie" title="rocnik36:dsef:start ↵"
                                class="wikilink1">RfS</a></td>
                        <td class="col3"><a href="#Katedra-geofyziky" title="rocnik36:dsef:start ↵"
                                class="wikilink1">Geo</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="table sectionedit4">
            <table class="inline table">
                <thead>
                    <tr class="row0">
                        <th class="col0 header" colspan="3"></th>
                        <th class="col2 header" colspan="2"> Odpolední exkurze</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row1">
                        <td class="col0"></td>
                        <td class="col1" colspan="2"> 13:30 – 14:15</td>
                        <td class="col3"> 14:30 – cca 16:00</td>
                    </tr>
                    <tr class="row2">
                        <th class="col0" colspan="2">Theta</th>
                        <td class="col2" colspan="2"><a href="#Český-hydrometeorologický-ústav-v-Komořanech"
                                title="rocnik36:dsef:start ↵" class="wikilink1">ČHMÚ</a></td>
                    </tr>
                    <tr class="row3">
                        <th class="col0" colspan="2">Lambda</th>
                        <td class="col2" colspan="2"><a href="#Ústav-jaderného-výzkumu-Řež"
                                title="rocnik36:dsef:start ↵" class="wikilink1">Řež</a></td>
                    </tr>
                    <tr class="row4">
                        <th class="col0">Pí</th>
                        <td class="col1" colspan="2"><a href="#Prague-Asterix-Laser-System"
                                title="rocnik36:dsef:start ↵" class="wikilink1">PALS</a></td>
                        <td class="col3"><a href="#THz-spektroskopie" title="rocnik35:dsef:start ↵"
                                class="wikilink1">THz</a></td>
                    </tr>
                    <tr class="row5">
                        <th class="col0">Sigma</th>
                        <td class="col1" colspan="2"><a href="#THz-spektroskopie" title="rocnik36:dsef:start ↵"
                                class="wikilink1">THz</a></td>
                        <td class="col3"><a href="#Prague-Asterix-Laser-System" title="rocnik35:dsef:start ↵"
                                class="wikilink1">PALS</a></td>
                    </tr>
                    <tr class="row6">
                        <th class="col0" colspan="2">Omega</th>
                        <td class="col2" colspan="2"><a href="#ELI-Beamlines-a-HiLASE-centrum-Dolní-Břežany"
                                title="rocnik36:dsef:start ↵" class="wikilink1">ELI</a></td>
                    </tr>
                    <tr class="row7">
                        <th class="col0" colspan="2">Ypsilon</th>
                        <td class="col2" colspan="2"><a
                                href="#prohlidka-vybranych-laboratori-fyzikalniho-ustavu-av-cr-fzu-na-slovance"
                                title="rocnik36:dsef:start ↵" class="wikilink1">FZUS</a></td>
                    </tr>
                    <tr class="row8">
                        <th class="col0" colspan="2">Zéta</th>
                        <td class="col2" colspan="2"><a
                                href="#prohlidka-vybranych-laboratori-fyzikalniho-ustavu-av-cr-fzu-cukrovarnicka"
                                title="rocnik36:dsef:start ↵" class="wikilink1">FZUC</a></td>
                    </tr>
                    <tr class="row9">
                        <th class="col0" colspan="2">Omikron</th>
                        <td class="col2" colspan="2"><a href="#Mikrotron" title="rocnik36:dsef:start ↵"
                                class="wikilink1">Mikro</a></td>
                    </tr>
                    <tr class="row10">
                        <th class="col0" colspan="2">Tau</th>
                        <td class="col2" colspan="2"><a href="#Fakulta-elektrotechnická" title="rocnik36:dsef:start ↵"
                                class="wikilink1">FEL</a></td>
                    </tr>
                    <tr class="row11">
                        <th class="col0" colspan="2">Chí</th>
                        <td class="col2" colspan="2"><a href="#Ionosferická-observatoř" title="rocnik36:dsef:start ↵"
                                class="wikilink1">Ion</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container" id="prihlasovani">
        <h1>Přihlašování</h1>
        <p>
            Exkurze mají dopolední a odpolední část, v každé z nich jsou účastníci rozdělení do několika skupin,
            jejichž program se liší. Svoji skupinu si zvolíte už v přihlášce a pokud bude volná kapacita, je možné
            ji později změnit podle vašich preferencí.
        </p>
        <p>
            Odkaz na přihlášení naleznete na liště dole na stránce. Tam také naleznete všechny podmínky a informace k přihlašování.
        </p>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <h1>Ubytování</h1>

        <h5 id="kde-je-ubytovani-a-jake">Kde je ubytování a jaké?</h5>
        <div class="level5">
            <ul>
                <li class="level1">
                    <div class="li"> Ubytování je v <a href="https://www.hostelelf.com" class="urlextern"
                            title="https://www.hostelelf.com">Hostelu Elf</a> na Žižkově. </div>
                </li>
                <li class="level1">
                    <div class="li"> Ubytováni budete pohromadě na velkých pokojích (6 až 9 lůžkové).</div>
                </li>
                <li class="level1">
                    <div class="li"> Hostel nepůjčuje ručníky, přivezte si vlastní.</div>
                </li>
            </ul>

        </div>

        <h5 id="placeni-za-ubytovani">Placení za ubytování</h5>
        <div class="level5">
            <ul>
                <li class="level1">
                    <div class="li"> Poplatek za ubytování je <strong>250 Kč</strong> pro nezletilé účastníky a
                        <strong>300 Kč</strong> pro účastníky stařší 18 let.
                    </div>
                </li>
                <li class="level1">
                    <div class="li"> Ubytování se bude platit na místě.</div>
                </li>
            </ul>

        </div>

        <h5 id="prijezd-na-ubytovani">Příjezd na ubytování</h5>
        <div class="level5">
            <ul>
                <li class="level1">
                    <div class="li"> Přijet na ubytování můžete od <strong>16 hodin</strong>.</div>
                </li>
                <li class="level1">
                    <div class="li"> Recepce na hotelu je otevřená nonstop, během večera můžete dorazit kdykoliv.</div>
                </li>
            </ul>
        </div>


    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <h1>Anotace exkurzí</h1>

        <h4 id="Skupina-fyziky-povrchů">Skupina fyziky povrchů (SFPo)</h4>

        <p>
            Základní výzkum povrchů materiálů a nanostruktur se zajímavými fyzikálně-chemickými
            vlastnostmi – heterogenní katalyzátory, plynové senzory, konverze energie, biokompatibilní
            materiály.
        </p>


        <h4 id="Katedra-fyziky-atmosféry">Katedra fyziky atmosféry (KFA)</h4>

        <p>Jako jediné univerzitní pracoviště v ČR zajišťujeme studium atmosférických procesů,
            meteorologie a klimatologie včetně matematicko-fyzikálního popisu. Výzkum i výuka na naší
            katedře se zaměřují na vysoce aktuální otázky s velkým společenským dopadem. Mezi hlavní
            patří problematika klimatu a klimatické změny, prognóza vývoje atmosféry a nebezpečných
            atmosférických jevů, modelování atmosférické chemie a kvality ovzduší, anebo modelování
            turbulentního proudění a šíření znečištění. Katedra se v těchto oblastech podílí na řadě
            zahraničních i domácích vědeckých projektů, kterých se účastní i naši studenti a studentky.
        </p>

        <h4 id="Řádkovací-tunelový-mikroskop">Řádkovací tunelový mikroskop (STM)</h4>
        <p>Pomocí ostrého hrotu je možné zobrazit atomární strukturu látek: Měříme interakci mezi posledním
            atomem hrotu s atomy na povrchu krystalu a při rastrování hrotem můžeme zrekonstruovat obraz
            povrchu. Využíváme k tomu buď měření síly nebo kvantového tunnelování. Tunelový efekt je
            základem metody, která se nazývá skenovací tunelová mikroskopie (STM) a měření síly dává základ
            mikroskopii atomárních sil (AFM). Metoda pomáhá při zkoumání nových materiálů pro elektroniku
            nebo obnovitelné zdroje energií.

        </p>

        <h4 id="Skupina-kosmické-fyziky">Skupina kosmické fyziky (SKF)</h4>
        <p>
            Skupina kosmické fyziky se zabýva výzkumem slunečního větru a interakce slunecního větru
            s magnetickým polem Země. Výzkum se provadí pomocí přístrojů umisťovaných na družice Země
            nebo sondy operující v meziplanetarním prostoru. Tyto přístroje si sami nebo ve spolupraci
            s řadou zahraničních pracovišť navrhujeme a vyrabíme (zajišťujeme jejich výrobu). V posledních
            letech provadíme i laboratorní výzkum procesu spojených s prachem v kosmu, to znamená, že v
            laboratorních podmínkách napodobujeme procesy ovlivňující nabíjení prachu v meziplanetárním prostoru.
        </p>

        <h4 id="Skupina-fyziky-plasmatu">Skupina fyziky plasmatu (SFPl)</h4>
        <p>Plazma je využíváno v mnoha aplikacích od osvětlení až po termojadernou fúzi.
            Studiem jeho chování je možné zjistit základní údaje důležité pro pochopení dějů například
            v mezihvězdném prostoru či průmyslovém plazmatu.
        </p>

        <h4 id="Urychlovač-Van-der-Graaff">Urychlovač Van der Graaff (VdG)</h4>
        <p>V areálu těžkých laboratoří MFF UK v Tróji provozuje ÚTEF elektrostatický urychlovač iontů Van de Graaf
            HV2500 (dále VdG) s maximální energií protonů 2,5 MeV. Na urychlovači lze provádět fyzikální experimenty
            základního výzkumu – v současné době se měří interakce polarizovaných neutronů na polarizovaných terčích,
            dále jaderné reakce pro astrofyzikální výzkum. Z aplikačních úkolů je zařízení vhodné a používané převážně
            pro kalibraci a testování detektorů různými částicemi při rozličných energiích (protony, neutrony, částicemi
            alfa apod.).

        </p>

        <h4 id="Interaktivní-fyzikální-laboratoř">Interaktivní fyzikální laboratoř (IFL)</h4>
        <p>Už jste si prohlédli pixely na displeji svého mobilního telefonu zblízka? Víte, co je luminofor a kde
            se s ním můžete potkat? Jak pracuje Stirlingův nebo Mendocino motor? A jak se ohýbá svazek elektronů?
            Přijďte to k nám prozkoumat a uchopit fyziku do vlastních rukou!
        </p>

        <h4 id="Oddělení-Mössbauerovy-spektroskopie">Oddělení Mössbauerovy spektroskopie (MbS1)</h4>
        <p>V průběhu exkurze se můžete seznámit s laboratoří Mössbauerovy spektroskopie. Ukážeme Vám
            všechna zařízení, vezmete si do ruky unikátní měřené vzorky, jako léčivé suspenze nanočástic,
            amorfní kovové pásky a dráty, minerály a polodrahokamy, barvoměnné pigmenty používané na
            exkluzivních automobilech, ale také na bankovkách a jiné zajímavosti. Zároveň uvidíte, jak se k nám
            dopravují radioaktivní zářiče, můžete si potěžkat olověný kontejner s Mössbauerovským zářičem,
            podívat se na použití kryogenních kapalin ke chlazení měřených materiálů za nízkých teplot nebo
            postup dosahování podmínek pro studium materiálů podobných například jádru Země či těch
            nalezených ve vesmíru.
        </p>

        <h4 id="Oddělení-Mössbauerovy-spektroskopie">Oddělení Mössbauerovy spektroskopie (helium) (MbS2)</h4>
        <p>Při exkurzi bychom Vám rádi vysvětlili principy zkapalňování plynů a zároveň ukázali zkapalňovač a
            s ním spojená zařízení, jako jsou mohutné kompresory, sklady pro uložení plynného stlačeného helia,
            Dewarovy nádoby pro skladování a distribuci kapalného dusíku při teplotě -196°C (77 K) a helia (-269
            °C / 4,2 K), případně další principy chlazení na nízké teploty.
        </p>

        <h4 id="Oddělení-Mössbauerovy-spektroskopie">Oddělení Mössbauerovy spektroskopie (supravodiče) (MbS3)</h4>
        <p>Nízke teploty nám umožňujú štúdium krehkých stavov systémov o veľkom počte častíc, ktoré sú pri
            vysokých teplotách zničené. Dosahovanie nízkych teplôt má tiež významné priemyselné uplatnenie,
            od magnetickej rezonancie až po rýchlo sa rozvíjajúce kvantové počítače. Na tejto exkurzií sa
            pozrieme na zmeny správania materiálov pri teplote tekutého dusíku a v krátkosti sa porozprávame o
            fyzike tekutého hélia, ktoré kvapalnie iba štyri stupne nad absolútnou nulou.
        </p>

        <h4 id="Skupina-nanomateriálů-Near-ambient-pressure">Skupina nanomateriálů: Near ambient pressure (NAP)</h4>
        <p>Na Katedře fyziky povrchů a plazmatu MFF UK se nachází unikátní laboratoř, jediná svého druhu v ČR,
            pro operando studie, které umožňují analýzu strukturních a chemických změn povrchů pevných látek za
            reálných provozních podmínek, tj. během reakcí, při kontaktu s různými plyny. Experimentální zařízení
            v naší laboratoři se skládá z rentgenového fotoelektronového spektrometru pro chemickou analýzu povrchu
            pevných látek při vyšších tlacích (Near-Ambient Pressure X-ray Photoelectron Spectroscopy, NAP-XPS) a
            vysokotlakého řádkovacího tunelového mikroskopu (Near-Ambient Pressure Scanning Tunneling Microcopy,
            NAP-STM),
            který umožňuje zobrazení povrchů v atomárním měřítku. Kombinace těchto vysoce citlivých experimentálních
            technik umožňuje studovat chemické procesy probíhající na površích modelových, ale také reálných
            katalyzátorů,
            plynových senzorů, palivových článků atd.
        </p>

        <h4 id="Astronomický-ústav">Astronomický ústav (AU)</h4>
        <p>Vesmír pokrývá obrovské rozpětí skal, a to jak prostorových tak i časových. Ne všechny, ale nemálo z nich je
            zkoumáno
            v Astronomickém ústavu UK. Během exkurze na naše pracovišti se dozvíte, které to jsou, co se na nich
            odehráva a jakými
            metodami příslušný výzkum probíhá.
        </p>

        <h4 id="Skupina-křemíkových-detektorů">Skupina křemíkových detektorů (SKD)</h4>
        <p>Vývoj a testování polovodičových detektorů.</p>

        <h4 id="Skupina-křemíkových-detektorů-2">Skupina křemíkových detektorů 2 (SKD2)</h4>
        <p>Hyper-Kamiokande - obří mutifunkční vodní čerenkovský detektor v Japonsku.
            Experiment bude měřit vlastnosti neutrin, hledat potenciální rozpad nukleonů a
            zkoumat mnoho dalších zajimavých fyzikáních témat.
        </p>

        <h4 id="Katedra-geofyziky">Katedra geofyziky (Geo)</h4>
        <p>Od počátků své geologické historie se Země zbavuje tepla, které
            získala v době svého vzniku. Chladnutí pohání celou řadu dynamických
            procesů na časových škálách od sekund po stovky milionů let, procesů,
            které se projevují mimo jiné zemětřesnou a vulkanickou činností.
            Představíme vám moderní matematické modely těchto procesů, nejen na
            Zemi, ale i na dalších planetárních tělesech a na ledových měsících, kde
            geofyzikální metody používáme k výzkumu podmínek pro případný mimozemský
            život.
        </p>

        <h4 id="Skupina-nanomateriálů">Skupina nanomateriálů (Nano)</h4>
        <p></p>

        <h4 id="Oddělení-radiofrekvenční-spektroskopie">Oddělení radiofrekvenční spektroskopie (RfS)</h4>
        <p>Laboratoře jaderné magnetické rezonance (NMR) disponují několika moderními spektrometry se zaměřeními na
            vysoké rozlišení v kapalinách, v pevných látkách a na širokopásmovou spektroskopii ve velkém teplotním
            rozsahu. NMR je neradioaktivní metoda, která využívá magneticky aktivní atomová jádra a uplatňuje se při
            studiu atomové, elektronové a magnetické struktury různorodých látek a materiálů.</p>

        <h4 id="Český-hydrometeorologický-ústav-v-Komořanech">Český hydrometeorologický ústav v Komořanech (ČHMÚ)</h4>
        <p>Jak vzniká předpověď počasí? Podíváme se do Centrálního předpovědního pracoviště v Komořanech, kde špičkoví
            čeští meteorologové sledují a analyzují aktuální stav počasí pomocí dat z radarů a satelitů.</p>

        <h4 id="THz-spektroskopie">THz spektroskopie (THz)</h4>

        <p>
            THz spektroskopie je relativně mladá spektroskopická metoda, zaměřující se na oblast elektromagnetického
            spektra ležící na rozhraní mikrovlnného a infračerveného záření. Využívá se například ke zkoumání
            fotonických krystalů nebo meta materiálů.
        </p>


        <h4 id="Prague-Asterix-Laser-System">Prague Asterix Laser System (PALS)</h4>
        <p>
            Vysoce výkonný jodový laserový systém Prague Asterix Laser System, jeden z největších v Evropě. Dosahuje
            špičkového výkonu v pulsu až 3 TW. Svazek je zaostřen do malého bodu v reakční komoře, kde dokáže vytvořit
            plazma o teplotě milionů stupňů Celsia.
        </p>

        <h4 id="prohlidka-vybranych-laboratori-fyzikalniho-ustavu-av-cr-fzu-cukrovarnicka">Prohlídka vybraných
            laboratoří
            Fyzikálního ústavu AV ČR Cukrovarnická (FZUC)</h4>
        <p>
            Víte, jak se připravují magnetické polovodiče, nejúčinnější solární články nebo optické materiály, co to
            jsou scintilátory a k čemu to vlastně všechno je? Jak co nejlépe využít odpadní teplo z aut nebo jak fungují
            superrychlé maglevy? V památkově chráněné historické budově se seznámíte s tou nejmodernější vědou v
            několika laboratořích.
        </p>

        <h4 id="prohlidka-vybranych-laboratori-fyzikalniho-ustavu-av-cr-fzu-na-slovance">Prohlídka vybraných laboratoří
            Fyzikálního ústavu AV ČR Na Slovance (FZUS)</h4>
        <p>
            Fyzikální ústav AV ČR je skutečně gigantem co do počtu sekcí a jejich dělení. Při prohlížení vybraných
            laboratoří
            se dozvíte spoustu zajímavých věcí a poznáte instituci, která nemá daleko k Mekce české vědy.

        </p>

        <h4 id="Ústav-jaderného-výzkumu-Řež">Ústav jaderného výzkumu Řež (Řež)</h4>
        <p>
            Zajímalo by Vás, jak to vypadá uvnitř centra, kde se zaměřují na podporu bezpečného a efektivního provozu
            energetických
            zdrojů (zejména jaderných) nebo na nakládání s radioaktivními odpady? Na této exkurzi tomu společně s námi
            přijdete na
            kloub!
        </p>

        <h4 id="ELI-Beamlines-a-HiLASE-centrum-Dolní-Břežany">ELI Beamlines a HiLASE centrum Dolní Břežany</h4>
        <p>
            ELI a HiLASE jsou vědecká výzkumná centra zaměřené na laserovou techniku. Nachází se zde ultraintenzivní
            laserové systémy pracující ve vzájemné součinnosti, z nichž každý disponuje jinými vlastnostmi, zvládá jiné
            úkoly,
            a navzájem se velmi dobře doplňují. Díky těmto systémům můžeme hlouběji zkoumat napříkad vnitřní stavbu
            molekul a
            procesy, které v nich probíhají, chování mikroorganizmů, prostředí ve vesmíru nebo možnosti likvidace
            jaderného odpadu.
        </p>

        <h4 id="Mikrotron">Mikrotron (Mikro)</h4>
        <p>
            Při této exkurzi Vám ukážeme urychlovač elektronů v akci. Vysokofrekvenční elektrické pole s konstantní
            amplitudou a frekvencí urychluje tyto částice, což vyústí v jejich pohyb po kruhových drahách se společným
            tečným bodem. Pomocí mikrotronu MT25 je například možné zjišťovat obsah prvků v ozařovaném předmětu, a proto
            nachází využití v potravinářství, lékařství nebo testování elektroniky.
        </p>

        <h4 id="Fakulta-elektrotechnická">Fakulta elektrotechnická (FEL)</h4>
        <p></p>

        <h4 id="Ionosferická-observatoř">Ionosferická observatoř (Ion)</h4>
        <p>
            Chtěli byste se dozvědět, jak probíhá výzkum procesů v zemské atmosféře a blízkém vesmíru? Vědní oblasti,
            jako
            například meteorologie nebo klimatologie nás provází každým dnem bez výjimky a proto je důležité se o ně
            zajímat.
            Pracovníci několika různých oddělení se tu věnují širokospektrálnímu výzkumu, mimo jiné například kosmické
            fyzice,
            aeronomii nebo výzkumu ionosféry.
        </p>
    </section>
</div>