{varType App\Models\Downloader\EventModel $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: "j. n. Y"}</div>
        <h1>DSEF {$event->begin|date: 'Y'}</h1>

        <p>Tento ročník se konal v Praze na Troji.</p>
    </section>
</div>
