{varType App\Models\NetteDownloader\ORM\Models\ModelEvent $event}

<div class="panel color-auto">
    <section class="inner-container">
        <div class="subheader">Archivní stránka soutěže z {$event->begin|date: 'j. n. Y'}</div>
        <h1>DSEF {$event->begin|date: 'Y'}</h1>

        <p>
            DSEF proběhl v úterý <strong>21. 11. 2017</strong>. Půjde opět o akci plnou exkurzí na odborná pracoviště v rámci MFF UK a dalších výzkumných fyzikálních pracovišť v Praze. Srdečně zveme všechny stávající řešitele FYKOSu a i případné další středoškoláky, zájemce o fyziku. Dopolední část proběhla v budově <a href="https://mff.cuni.cz" class="urlextern" title="https://mff.cuni.cz">MFF UK</a> v „Troji“, tedy <a href="https://goo.gl/maps/jyqoTXu64To" class="urlextern" title="https://goo.gl/maps/jyqoTXu64To">V Holešovičkách 2, Praha 8</a>. Odpoledne se část účastníků přesunula na školní reaktor Vrabec a část na Prague Asterix laser system.
        </p>

        <h2 class="sectionedit2" id="program-exkurzi">Program exkurzí</h2>

        <p>
            Do skupin se můžete přihlašovat, při větších změnách dáme přihlášeným vědět. Přihlášku lze editovat, takže se i později (ale před koncem přihlašování) můžete přehlásit do jiné skupiny.
        </p>
        <table class="table">
            <thead>
            <tr class="row0">
                <th class="col0 leftalign header">skup.  </th><th class="col1 header">8:15 </th><th class="col2 leftalign header">8:45  </th><th class="col3 leftalign header">9:15  </th><th class="col4 leftalign header">10:15     </th><th class="col5 leftalign header">10:45     </th><th class="col6 leftalign header">11:15     </th><th class="col7 leftalign header">11:45     </th><th class="col8 leftalign header">12:15 až 13:00   </th><th class="col9 header">13:30 </th><th class="col10 header">kolem 16:00</th>
            </tr>
            </thead>
            <tbody><tr class="row1">
                <th class="col0 leftalign"> Alfa   </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Před </td><td class="col4 leftalign"> NMRH  </td><td class="col5"> NMR </td><td class="col6 leftalign"> Sup  </td><td class="col7 leftalign"> Det  </td><td class="col8"> čas na oběd a přesun </td><td class="col9"> PALS/plazmatron </td><td class="col10"> konec </td>
            </tr>
            <tr class="row2">
                <th class="col0 leftalign"> Bravo  </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Před </td><td class="col4 leftalign"> Sup  </td><td class="col5 rightalign">  NMRH </td><td class="col6"> NMR </td><td class="col7 leftalign"> JP   </td><td class="col8"> čas na oběd a přesun </td><td class="col9"> PALS/plazmatron </td><td class="col10"> konec </td>
            </tr>
            <tr class="row3">
                <th class="col0"> Charlie</th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Před </td><td class="col4 leftalign"> Det  </td><td class="col5 leftalign"> Sup  </td><td class="col6 leftalign"> NMRH  </td><td class="col7"> NMR </td><td class="col8"> čas na oběd a přesun </td><td class="col9"> plazmatron/PALS </td><td class="col10"> konec </td>
            </tr>
            <tr class="row4">
                <th class="col0 leftalign"> Delta  </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Před </td><td class="col4"> MATV </td><td class="col5 leftalign"> Sat  </td><td class="col6 leftalign"> IFL  </td><td class="col7"> NMRH </td><td class="col8"> čas na oběd a přesun </td><td class="col9"> plazmatron/PALS </td><td class="col10"> konec </td>
            </tr>
            <tr class="row5">
                <th class="col0 leftalign"> Echo   </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Před </td><td class="col4 leftalign"> JP   </td><td class="col5 leftalign"> Det  </td><td class="col6"> MATV </td><td class="col7 leftalign"> Sup  </td><td class="col8"> čas na oběd a přesun </td><td class="col9 leftalign"> VR-1    </td><td class="col10"> konec </td>
            </tr>
            <tr class="row6">
                <th class="col0"> <del>Foxtrot</del></th><td class="col1" colspan="3"> ZRUŠENO </td><td class="col4"><del> VP </del></td><td class="col5"><del> MATV</del></td><td class="col6"> <del>Sat</del></td><td class="col7"> <del>IFL </del></td><td class="col8"> <del>čas na oběd a přesun</del></td><td class="col9"> <del>Mikrotron</del></td><td class="col10"><del> konec</del></td>
            </tr>
            <tr class="row7">
                <th class="col0"> <del>Golf</del></th><td class="col1" colspan="3"> ZRUŠENO</td><td class="col4"> <del>Sat</del></td><td class="col5"> <del>IFL</del></td><td class="col6"><del> VP</del></td><td class="col7"><del> MATV</del> </td><td class="col8"> <del>čas na oběd a přesun</del> </td><td class="col9"> <del>Mikrotron</del></td><td class="col10"><del> konec</del> </td>
            </tr>
            <tr class="row8">
                <th class="col0 leftalign"> Hotel  </th><td class="col1"> Reg </td><td class="col2"> Ú </td><td class="col3"> Před </td><td class="col4 leftalign"> IFL  </td><td class="col5 leftalign"> JP   </td><td class="col6 leftalign"> Det  </td><td class="col7 leftalign"> Sat  </td><td class="col8"> čas na oběd a přesun </td><td class="col9 leftalign"> VR-1        </td><td class="col10"> konec </td>
            </tr>
            </tbody></table>
        <ul>
            <li class="level1"><div class="li"> <strong>Reg</strong> - Registrace</div>
            </li>
            <li class="level1"><div class="li"> <strong>Úvod</strong> - Úvodní slovo v T2</div>
            </li>
            <li class="level1"><div class="li"> <strong>Před.</strong> - Přednáška - Fyzika nízkých teplot a pokusy s kapalným dusíkem</div>
            </li>
            <li class="level1"><div class="li"> <strong>IFL</strong> - Interaktivní fyzikální laboratoř - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>Det</strong> - Křemíkové detektory částic - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>JP</strong> - Radioaktivita kolem nás (jaderné praktikum) - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>Sat</strong> - Přístroje ze satelitů, které letěly do vesmíru  - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>MATV</strong> - Metody analýzy tenkých vrstev - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>VP</strong> - Vodivé polymery - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>NMR</strong> - Nukleární magnetická rezonance v magnetikách - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>NMRH</strong> - Nukleární magnetická rezonance vysokého rozlišení - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>Sup</strong> - Supravodiče</div>
            </li>
        </ul>
        <ul>
            <li class="level1"><div class="li"> <strong>PALS</strong> - Prague Asterix Laser System - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <del>tokamak</del> - Tokamak COMPASS na AV ČR, Za Slovankou -  exkurze nemůže být z důvodu vytíženosti pracoviště</div>
            </li>
            <li class="level1"><div class="li"> <strong>plazmatron</strong> - Vodní plazmatron na AV ČR - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>VR-1 (od 16 let!)</strong> - školní reaktor Vrabec - potvrzeno</div>
            </li>
            <li class="level1"><div class="li"> <strong>Mikrotron</strong> - Malý cyklotron (urychlovač částic) - potvrzeno</div>
            </li>
        </ul>

        <h2 class="sectionedit4" id="prakticke-informace">Praktické informace</h2>
        <ul>
            <li class="level1"><div class="li"> Hlaste se co nejdříve! Kapacita skupin je omezená a zbývající kapacitu skupin zjistíte v přihlášce.</div>
            </li>
            <li class="level1"><div class="li"> O uložení vaší přihlášky do databáze budete automaticky informováni na váš e-mail a vaše jméno se objeví na této stránce níže.</div>
            </li>
            <li class="level1"><div class="li"> Skupinu volte především s ohledem na své zájmy, zvědavost a s ohledem na rovnoměrné obsazení skupin. (Exkurze však nejsou místem k povídání! K tomu využijte dobu před hlavním srazem nebo po skončení exkurzí, popř. o přestávkách či přesunech.) Konečné rozdělení proběhne v průběhu úvodu akce a týká se zejména <strong>rovnoměrného zaplnění skupin</strong>. Změn však proběhne pouze minimální nutné množství, takže volbu svojí skupiny proveďte pečlivě. V den akce nebudeme brát ohledy na žádosti o změnu skupiny.</div>
            </li>
            <li class="level1"><div class="li"> Skupinu můžete změnit i po přihlášení, dokud neuplyne termín na registraci. Povolené změny jsou pouze do skupin, které jsou nenaplněné. (Pokud by vám to nešlo, napište nám mail.)</div>
            </li>
            <li class="level1"><div class="li"> Seznamy na webu se aktualizují během jedné hodiny. To znamená, že skoro nikdy se nenaleznete ihned po přihlášení, ale když se tam nenajdete ani druhý den, tak je něco špatně a raději se nám ozvěte.</div>
            </li>
        </ul>

        <h2 class="sectionedit5" id="podminky-prihlasovani">Podmínky přihlašování</h2>

        <ul>
            <li class="level1"><div class="li"> Je <strong>nutná účast na celé akci!</strong> Účastníky, kteří by se účastnili pouze části programu, nepřijímáme, protože máme domluvené exkurze na daný počet osob.</div>
            </li>
            <li class="level1"><div class="li"> Účast na akci je <strong>zdarma</strong>.</div>
            </li>
            <li class="level1"><div class="li"> Ubytování je tentokrát možné pouze, pokud se zúčastníte <a href="/rocnik31/tsaf/pozvanka" class="wikilink1" title="rocnik31:tsaf:pozvanka" data-wiki-id="rocnik31:tsaf:pozvanka">TSAFu</a>.</div>
            </li>
            <li class="level1 node"><div class="li"> Můžete si objednat bagety k obědu za 30 Kč/ks.</div>
                <ul>
                    <li class="level2"><div class="li"> Objednávka počtu baget je závazná a doplatek zaplatíte ráno na místě při registraci a bagety dostanete již ráno. Takže si je můžete dát i ke svačině, ale v laboratořích se nejí.</div>
                    </li>
                </ul>
            </li>
            <li class="level1"><div class="li"> Dopravu na akci neproplácíme. Pro přejezd v průběhu programu poskytneme mimopražským jízdenku.</div>
            </li>
            <li class="level1"><div class="li"> Před odesláním formuláře <strong>zkontrolujte</strong> správnost zadaných údajů, zejména e-mail. Údaje můžete sice po přihlášení (v případě potřeby) upravit, byli bychom ale rádi, pokud by byly definitivní hned po přihlášení.</div>
            </li>
            <li class="level1"><div class="li"> Pokud by měl zájem se účastnit váš učitel, tak se nejprve ozvěte na <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">kontaktní e-mail</a>, ale neměl by být problém, aby se účastnil jako běžný účastník.</div>
            </li>
            <li class="level1"><div class="li"> Osoby s jiným místem trvalého bydliště než ČR a SR se před přihlášením ozvou na <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">kontaktní e-mail</a>.</div>
            </li>
        </ul>

        <h2 class="sectionedit6" id="jak-se-prihlasit">Jak se přihlásit?</h2>
        <p>
            Uzávěrka přihlášek je <strong>19. 11.</strong> v 23.59 hod či v okamžiku zaplnění akce. Pokud se chcete účastnit i TSAFu, registrujete se v rámci přihlašovacího formuláře na TSAF - viz <a href="/rocnik31/tsaf/pozvanka" class="wikilink1" title="rocnik31:tsaf:pozvanka" data-wiki-id="rocnik31:tsaf:pozvanka">letošní pozvánka na TSAF</a>.
        </p>

        <p>
            Stávající řešitelé (či registrované osoby) se hlaste pod e-mailem, pod kterým jste u nás registrovaní - nebudete muset vyplňovat všechno znovu. Noví musí vyplnit i svoje základní údaje (adresa, škola).
        </p>

        <p>
            Pokud by při vyplňování přihlášky nastal nějaký problém, neváhejte se co nejdřív ozvat na <a href="mailto:dsef@fykos.cz" class="mail" title="dsef@fykos.cz">náš e-mail</a>.
        </p>
    </section>
</div>
