{varType \App\Components\Navigation\Navigation $control}
{varType \Fykosak\Utils\UI\Navigation\NavItem[] $items}
{varType string $lang}
{varType string[] $supportedLangs}
{block content}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{plink :Default:Default:default}">
                <img class="FOL-logo" src="{$basePath}/images/fyziklani_online{$lang !== "cs" ? "_en" : null}_logo_white.svg" alt="{_'Fyziklani online'}" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav">
                    {foreach $items as $item}
                        <li class="nav-item">
                            <a class="nav-link" href="{plink $item->destination,(expand)$item->linkParams}"
                               title="{$item->title->title}">
                                <span class="hidden-sm">{$item->title->title}</span>
                                {if $item->title->icon}
                                    <span class="{$item->title->icon}" title="{$item->title->title}"></span>
                                {/if}
                            </a>
                        </li>
                    {/foreach}
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="navbar-text real-clock" data-timestamp="{1000 * time()}"></li>
                    {var $otherLanguage = $lang === 'cs' ? 'en' : 'cs'}
                    <li class="nav-item">
                        <a class="nav-link" href="{plink this, lang => $otherLanguage}">
                            <span><i class="{$control::mapLangToIcon($otherLanguage)}"></i></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{/block}
