
.nav-link.dropdown-toggle::after {
    transform: rotate(90deg);
    transition: transform .1s ease-in-out;
}
.nav-link.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(0deg);
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: #1175da;
    color: white;
}