{varType string $lang}
{block title}
Sponzoři
{/block}

{block main}
    <div class="panel color-auto">
        <h1 class="inner-container" style="color:red">TODO sponzoři výfuku<h1>
    </div>
{/block}