{varType App\Modules\Core\BasePresenter $presenter}
{varType Fykosak\Utils\UI\PageTitle $pageTitle}
<!DOCTYPE html>
<html lang="{$presenter->lang}">
<head>
    <title>{_'Fyziklání online'}{ifset $pageTitle} &ndash; {$pageTitle->title}{/ifset}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{_'Team competition in solving physics problems'}"/>
    <meta property="og:image" content="{_'http://physicsbrawl.org/images/fyziklani-logo.png'}"/>
    <meta property="og:description" content="{_'Online team competition in solving physics problems.'}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:locale" content="{$presenter->translator->locales[$presenter->lang]}"/>
    <meta property="og:url" content="{plink //this}"/>
    <link href="{$basePath}/images/fol_symbol.svg" rel="icon" type="image/svg"/>
    <link href="{$basePath}/assets/main.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;800&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27814405-2"></script>
    <script src="https://kit.fontawesome.com/f424cd1bbe.js" crossorigin="anonymous"></script>
    <script n:syntax="off">
        window.dataLayer = window.dataLayer || [];

        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-27814405-2', {'anonymize_ip': true});
    </script>
    {block head}{/block}
</head>

<body>
{block body}
    {control navigation}
    <main>
        {block main}
            <div class="panel color-light">
                <section class="inner-container">
                    {include content}
                </section>
            </div>
        {/block}
    </main>
    <footer>
        <div class="panel registration">
            <div class="inner-container">
                <div class="text">Zaujalo vás to?</div>
                <button class="btn btn-outline-light">Registrace</button>
            </div>
        </div>

        <div class="panel sponsors">
            <div class="inner-container">
                <div class="sponsors-row">
                    <a href="https://www.mff.cuni.cz/"><img src="{$basePath}/images/logos/mff.png" alt="MFF logo" style="max-height: 10rem"></a>
                    <a href="https://www.msmt.cz/"><img src="{$basePath}/images/logos/msmt_cs.jpg" alt="MŠMT logo" style="max-height: 10rem"></a>
                </div>
            </div>
        </div>

        <div class="panel footer">
            <div class="inner-container row">
                <div class="col-md-6">
                    <h1>Fyziklání Online</h1>
                    <p>
                        Fyziklání Online je organizováno FYKOSem - soutěží pro středoškoláky ve fyzice s 35 letou tradicí. FYKOS je tvořen převážně studenty Matematicko-fyzikální fakulty Univerzity Karlovy.
                    </p>
                </div>
                <div class="col-md-2">
                    <nav>
                        <ul>
                            <li>Pro účastníky
                                <ul>
                                    <li><a href="">O Soutěži</a></li>
                                    <li><a href="">Pravidla</a></li>
                                    <li><a href="">Program</a></li>
                                    <li><a href="">Registrace</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <nav>
                        <ul>
                            <li>Pro učitele
                                <ul>
                                    <li><a href="">Jak se připravit</a></li>
                                    <li><a href="">Registrace</a></li>
                                    <li><a href="">Program</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-md-2">
                    <nav>
                        <ul>
                            <li>Pro partnery
                                <ul>
                                    <li><a href="">Proč sponzorovat Fyziklání Online?</a></li>
                                    <li><a href="">Loga a materiály</a></li>
                                    <li><a href="">Kontakt</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="{$basePath}/assets/main.js"></script>
    {block scripts}{/block}
{/block}
</body>
</html>
