{varType App\Modules\Core\BasePresenter $presenter}
{varType Fykosak\Utils\UI\PageTitle $pageTitle}
<!DOCTYPE html>
<html lang="{$presenter->lang}">
<head>
    <title>{_'Fyziklání online'}{ifset $pageTitle} &ndash; {$pageTitle->title}{/ifset}</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{_'Team competition in solving physics problems'}"/>
    <meta property="og:image" content="{_'http://physicsbrawl.org/images/fyziklani-logo.png'}"/>
    <meta property="og:description" content="{_'Online team competition in solving physics problems.'}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:locale" content="{$presenter->translator->locales[$presenter->lang]}"/>
    <meta property="og:url" content="{plink //this}"/>
    <link href="{$basePath}/favicon.png" rel="icon" type="image/png"/>
    <link href="{$basePath}/assets/main.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;800&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27814405-2"></script>
    <script src="https://kit.fontawesome.com/f424cd1bbe.js" crossorigin="anonymous"></script>
    <script n:syntax="off">
        window.dataLayer = window.dataLayer || [];

        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-27814405-2', {'anonymize_ip': true});
    </script>
    {block head}{/block}
</head>

<body>
{block body}
    {control navigation}
{block main}
    <div class="inner-container">
        <main>
            {block title}
                <h1 n:ifset="$pageTitle">{$pageTitle->toHtml(false)}</h1>
            {/block}
            {include content}
        </main>
    </div>
    <footer>
        <p class="pull-right small">
        Organizátoři soutěže jsou
        </p>
         <p class="pull-right small">
        Fyziklání Online sponzorují
        </p>
         <p class="pull-right small">{_'V případě, že byste měli zájem sponzorovat Fyziklání Online, ozvěte se nám na email'}
            <a href="mailto:online@fyziklani.cz">online@fyziklani.cz</a>.
        </p>
        <p class="pull-right small">{_'Pokud máte jakýkoliv dotaz, připomínku, námět apod., napište nám na naši adresu'}
            <a href="mailto:online@fyziklani.cz">online@fyziklani.cz</a>.
        </p>
        <p>
            <a href="{_'http://fykos.cz/'}">{_'FYKOS.cz'}</a>
        </p>
    </footer>
{/block}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="{$basePath}/assets/main.js"></script>
    {block scripts}{/block}
{/block}
</body>
</html>
