


/* Default */

.purpose-cards {
  .card {
      border-left: 5px solid #1175da;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: .8rem;
  }

  .card-title {
      font-weight: bold;
  }

  .center-content {
      align-items: center;
      justify-content: center;
  }

  .card-text {
      text-align: justify;
  }
}



/* Organizers */

.organizers {
  .card {
    border: 1px solid $primary-color;
  }

  .card-img-top {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }

  .card-header {
    background-color: $primary-color;
    color: $white;
  }

  .left-cell {
    position: relative;
    text-align: right;
    padding-right: .5rem;
  }

  .left-cell::before {
    content: "";
    position: absolute;
    top: .2rem;
    bottom: .2rem;
    right: 0;
    border-right: 2px solid $primary-color;
    margin-right: -1px;
  }

  .left-cell i {
    color: $primary-color;
  }

  .right-cell {
    padding-left: .5rem;
  }

}