.btn-container {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary-fof {
  @extend .btn-primary;
  background-color: $fof-color;
  border-color: $fof-color;
}

.btn-primary-fol {
  @extend .btn-primary;
  background-color: $fol-color;
  border-color: $fol-color;
}

.btn-primary-dsef {
  @extend .btn-primary;
  background-color: $dsef-color;
  border-color: $dsef-color;
}

.btn-primary-naboj {
  @extend .btn-primary;
  background-color: $naboj-color;
  border-color: $naboj-color;
}

ul {
  list-style-type: square;
}





/////// Problems


.problem-card {
  display: flex;
  justify-content: space-between;

  .header-problem-1,.header-problem-2 {
    background-color: lightgreen;
  }

  .header-problem-3, .header-problem-4, .header-problem-5 {
    background-color: blue;
  }

  .header-problem-6 {
    background-color: purple;
  }

  
}