.panel {
  padding: 4.3rem 0;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary-fof {
  @extend .btn-primary;
  background-color: $fof-color;
  border-color: $fof-color;
}

.btn-primary-fol {
  @extend .btn-primary;
  background-color: $fol-color;
  border-color: $fol-color;
}

.btn-primary-dsef {
  @extend .btn-primary;
  background-color: $dsef-color;
  border-color: $dsef-color;
}

.btn-primary-naboj {
  @extend .btn-primary;
  background-color: $naboj-color;
  border-color: $naboj-color;
}

ul {
  list-style-type: square;
}

.float-right {
  float: right;
}

p {
  text-align: justify;
}


#old-website-notice {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(256, 256, 256, 0.5);
  border-top: 1px solid black;
  text-align: center;
  padding: 10px;
  z-index: 1000;
  display: none; /* Hide by default */
}
#hide-notice {
  border: none;
  padding: 0 5px;
  margin-left: 10px;
  cursor: pointer;
}