// Our theme
$primary-color: #1175da; // Do not forget to modify meta theme-color in ../templates/@layout.latte as well
$primary-color-dimmed: darken($primary-color, 20%);
$complementary-color: #ffdd31;

$panel-color-dark: #f5f5f5;
$panel-color-light: white;

$text-on-primary: white;
$text-dimmed: #CCCCCC;

$fof-color: #e6060d;
$fol-color: #00ae6b;
$dsef-color: #f2b72b;
$naboj-color: #C22D86;

:root {
  --task-color-1: #8AC75A;
  --task-color-3: #37C4E5;
  --task-color-P: #F47A69;
  --task-color-E: #F08BAA;
  --task-color-S: #F5BF69;
  --panel-color-dark: #f5f5f5;
  --panel-color-light: white;
}

$page-width: 77rem;

// $base-font-size: 18px;

// Use the following font weights.
// To change them you need to modify fonts.googleapis.com link in <head> tag
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 800;

// Override bootstrap variables
$primary: $primary-color;
$secondary: $complementary-color;
$border-radius: 0;

// Navbar
$navbar-dark-color: $text-on-primary;
$navbar-dark-hover-color: $text-on-primary;

@import "node_modules/bootstrap/scss/bootstrap";
$flag-icon-css-path: '/node_modules/flag-icon-css/flags';
@import '../../../../../node_modules/flag-icon-css/sass/flag-icon';


// @import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "node_modules/@fortawesome/fontawesome-free/scss/solid";

// @import '../../../../Models/OldFykos/css/cssAll';

@import "./../../../Fol/Core/styles/layout";
@import "./../../../Fol/Core/styles/titlepage";
@import "./../../../Fol/Core/styles/navigation";

@import "./../../../Fof/Core/styles/sponsors";
@import "./../../../Fof/DefaultModule/styles/timeline";


// @import "./../../../Fof/DefaultModule/styles/rules";
// @import "./../../../Fof/DefaultModule/styles/timeline";


// @import '../../../../Components/ResultsPanel/styles';
// @import '../../../../Components/UpperHomePrague/styles';
// @import '../../../../Components/TeamResults/styles';
@import '../../../../Components/Navigation/styles';

@import "../../../../Components/PersonSneakPeak/styles";

@import "./layout";
@import "./titlepage";
@import "./about";
@import "./problems";
@import "./events";
@import "./results";
// @import "./navigation"; // use the one from FOL and FOF
