.organizers{
  .card{
    border: 1px solid $primary-color;
  }
  .card-img-top{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .card-header{
    background-color: $primary-color;
    color: $white;
  }

  span.icon {
    margin-right: 0.4rem;
    color: $primary-color;
    border-right: 2px solid $primary-color;s
    i {
      width: 1rem;
      margin-right: 0.7rem;
    }
  }
}