/////// Problems

.modal-dialog {
  margin: auto;
  max-width: 80vw;
  max-height: 80vh;

  img {
    height: 60vh;
    width: 60vw;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1.5rem;
  }

  .modal-title {
    margin: 0;
    flex-grow: 1;
  }

  .close {
    margin-left: auto;
    background: none;
    border: none;
    font-size: 2rem;
    padding: 0;
  }
}

.skip-3px {
  display: inline-block;
  width: 3px;
}

