.panel.title-panel {
  h1 {
    font-size: 2.8rem;
    color: $text-on-primary;
  }

  h2 {
    color: $text-on-primary;
  }

  .subheader {
    font-weight: normal;
    color: inherit;
    font-size: 1.3rem;
  }

  .buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.4rem;
  }

  //.topic-panel {
  //  margin-top: 2rem;
  //  @include media-breakpoint-up(md) {
  //    margin-top: 0;
  //  }
  //}

  &>.row {
    --bs-gutter-x: 0;
  }
}

.contest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



// .heading-container {
//   //justify-content: space-between;
//   //align-items: center;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   gap: 1rem;
// }

.title-container {
  flex-basis: 100%;
  //margin-bottom: 20px;
  text-align: left;
}

.jumbotron-container {
  flex-basis: 100%;
  text-align: right;
  border: 1px solid $primary-color;
}

.clear {
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
  clear: both;
}

.contest-rectangle {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0.5rem;
  padding: 2rem;
  justify-content: center;
  border-radius: 8px;

  img {
    height: 2.5rem;
    margin-bottom: 0.5rem;
    //margin-bottom: 4rem;
  }
}

.description-box {
  position: relative;
  width: 60%;
  text-align: center;
  background-color: $primary-color;
  color: $text-on-primary;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.left {
  justify-self: left;
  margin-right: auto;
  margin-left: 0;
}

.right {
  justify-self: right;
  margin-left: auto;
  margin-right: 0;
}

.step {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-text {
  font-size: $base-font-size;
}

.line {
  position: absolute;
  top: 50%;
  width: calc(100% - 240px);
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.line::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.line::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.line-left {
  left: calc(100% - 200px - 40px);
}

.line-right {
  right: calc(100% - 200px - 40px);
}

@media screen and (max-width: 768px) {

  /* mobile device */
  .contest-rectangle {
    flex-basis: 100%;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.title-heading {
  font-size: 40px;
  margin-bottom: 0.5rem;
}

.title-sub-text {
  font-size: 18px;
  margin-bottom: 2rem;
}

.btn-fykos {
  @extend .btn;
  background-color: $primary-color !important;
  color: #fff !important;
}

.btn-fof {
  @extend .btn;
  background-color: #e6060d !important;
  color: #fff !important;
}

.btn-fol {
  @extend .btn;
  background-color: #00ae6b !important;
  color: #fff !important;
}


.header-container {
  display: flex;
  align-items: center;
  /* To vertically align items */
  position: relative;
  /* Setting to relative to ensure z-index works */
  text-align: left;
  height: 65vh;
  justify-content: space-between;
  /* To maximize space between text-container and image */
  color: $text-on-primary !important;
}


.header-image {
  opacity: .3;
  width: 60%;
  z-index: 0;
  /* Lower z-index to let it be behind the text */
  position: absolute;
  /* Absolute positioning */
  right: 0;
  /* Stick it to the right */
  bottom: 50px;
}

h1.header-text {
  font-size: 8rem !important;
  margin-bottom: 0 !important;
}

h2.header-text {
  font-size: 3rem !important;
  color: $text-on-primary;
  margin-bottom: 0;
}

.event {
  // flex: 0 0 40%;
  width: 95%;

  // this ensures the event blocks always have the same height
  display: flex;
  flex-direction: column;
  height: 100%;
  .col-md-5 {
    display: flex;
  }

  padding: 10px;

  // border: 3px solid $primary-color;

  background-color: $primary-color;
  color: $text-on-primary !important;

  // padding: 10px 30px;
  display: inline-block;
  transition: transform 0.2s;

  p {
    margin-bottom: .3rem;
  }

  .series {
    height: 5rem;
  }

  .event-header {
    display: flex;
    justify-content: space-between;
    color: $text-on-primary;
  }


  h3 {
    font-weight: bolder;
    font-size: 1.2rem;
    color: $text-on-primary !important;
  }

  .event-date {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 5px;
    // color: $primary-color;
    color: $text-on-primary;
  }

  .inline-logo {
    height: 1.8rem;
    margin-right: 7px;
  }
  
}


.fof-color {
  background-color: #e6060d;
}

.fol-color {
  background-color: #00ae6b;
}

.dsef-color {
  background-color: #f2b72b;
}


.event.active,
.event:hover {
  transform: scale(1.05);
  /* Makes the box slightly larger */
  transition: transform 0.2s ease-in-out;
  /* Smooth transition */
}

.start-timeline-text,
.end-timeline-text {
  font-weight: bold;
  color: $primary-color;
  padding: 0;
  margin: 0;

  p {
    margin: 0;
  }
}

.end-timeline-text {
  text-align: right;
}

.timeline-container {
  position: relative;
  width: 100%;
  height: 100px;
  /* Adjust as needed */
}

$middle-line-half-border-width: 5px;
$timeline-logo-height: 30px;
$buffer-logo-timeline: 10px;
$top-offset: $middle-line-half-border-width + $timeline-logo-height + $buffer-logo-timeline;


.start-timeline-text,
.end-timeline-text {
  position: absolute;
  top: calc(50% - $buffer-logo-timeline - 1.5rem);
  z-index: 1;
  /* Make sure this is above the line */
}

.start-timeline-text {
  left: 0;
}

.end-timeline-text {
  right: 0;
}

.middle-line {
  width: 100%;
  /* Makes the line span the full width of its container */
  border: 0;
  /* Removes default border */
  border-top: $middle-line-half-border-width solid black;
  /* Adds a border to the top side only */
  border-bottom: $middle-line-half-border-width solid black;
  /* Adds a border to the top side only */
  margin: 10px 0;
  position: absolute;
  top: calc(50% - $middle-line-half-border-width - $buffer-logo-timeline );
  z-index: 1;
  opacity: 1;
}

.logo-series,
.logo-event,
.today-block {
  position: absolute;
  z-index: 5;
  /* To ensure it's above the line and other elements */
}

.logo-event,
.logo-series {
  height: $timeline-logo-height !important;
}

.logo-event {
  top: calc(50% - $top-offset);
  /* 50% aligns with the middle line; minus 10px moves it up */
}

.logo-series {
  bottom: calc(50% - $top-offset);
  /* 50% aligns with the middle line; plus 10px moves it down */
}



.today-block {
  $today-block-height: 24px;
  background-color: $primary-color;
  height: $today-block-height !important;
  width: $today-block-height;
  top: calc(50% - $today-block-height / 2);
}


.panel {
  margin-bottom: 0;
}

.header-text-container {
  z-index: 2;
  /* Higher z-index to ensure text is above the image */
  position: relative;
  /* Needed for z-index to take effect */
}

.order-6 {
  order: 6 !important;
}

.vertical-timeline {
  border: 5px solid $primary-color;
  z-index: 0;
}