.panel.title-panel {
  h1 {
    font-size: 2.8rem;
    color: white;
  }

  .subheader {
    font-weight: normal;
    color: inherit;
    font-size: 1.3rem;
  }

  .buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.4rem;
  }

  //.topic-panel {
  //  margin-top: 2rem;
  //  @include media-breakpoint-up(md) {
  //    margin-top: 0;
  //  }
  //}

  &>.row {
    --bs-gutter-x: 0;
  }
}

.contest-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading-container {
  //justify-content: space-between;
  //align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.title-container {
  flex-basis: 100%;
  //margin-bottom: 20px;
  text-align: left;
}

.jumbotron-container {
  flex-basis: 100%;
  text-align: right;
  border: 1px solid #1175DA;
}

.clear {
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
  clear: both;
}

.contest-rectangle {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0.5rem;
  padding: 2rem;
  justify-content: center;
  border-radius: 8px;
  img {
    height: 2.5rem;
    margin-bottom: 0.5rem;
    //margin-bottom: 4rem;
  }
}

.description-box {
  position: relative;
  width: 60%;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.left {
  justify-self: left;
  margin-right: auto;
  margin-left: 0;
}

.right {
  justify-self: right;
  margin-left: auto;
  margin-right: 0;
}
.step {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.step-text {
  font-size: $base-font-size;
}

.line {
  position: absolute;
  top: 50%;
  width: calc(100% - 240px);
  height: 2px;
  background-color: #ccc;
  z-index: -1;
}

.line::before {
  content: '';
  position: absolute;
  top: -6px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.line::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  width: 12px;
  height: 12px;
  background-color: #ccc;
  transform: translateX(-50%);
  border-radius: 50%;
  z-index: -1;
}

.line-left {
  left: calc(100% - 200px - 40px);
}

.line-right {
  right: calc(100% - 200px - 40px);
}

@media screen and (max-width: 768px) { /* mobile device */
  .contest-rectangle {
    flex-basis: 100%;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.title-heading {
  font-size: 40px;
  margin-bottom: 0.5rem;
}

.title-sub-text {
  font-size: 18px;
  margin-bottom: 2rem;
}

.btn-fykos {
  @extend .btn;
  background-color: #1175DA !important;
  color: #fff !important;
}

.btn-fof {
  @extend .btn;
  background-color: #e6060d !important;
  color: #fff !important;
}

.btn-fol {
  @extend .btn;
  background-color: #00ae6b !important;
  color: #fff !important;
}


