/// Generic


.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform .5s ease-out;
  will-change: opacity, transform;
}

.fade-in-section.active {
  opacity: 1;
  transform: translateY(0);
}

/// Header section

.header-container {
  color: $text-on-primary;

  .header-text-container {

    h1.header-text {
      font-size: 8rem;
      margin-bottom: 0;
      margin-left: -6px;
    }

    h2.header-text {
      font-size: 3rem;
      color: $text-on-primary;
      // margin-bottom: 0;
    }

    @media screen and (max-width: 992px) {
      h1.header-text {
        font-size: 6rem;
      }

      h2.header-text {
        font-size: 2rem;
      }
    }

    @media screen and (max-width: 768px) {

      margin-top: -3rem;

      h1.header-text {
        font-size: 5rem;
      }

      h2.header-text {
        font-size: 2rem;
      }
    }
  }

  .header-image-container {
    position: relative;

  }

  .header-image {
    position: relative;
    z-index: 1;
  }

  .header-image-dates {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
  }

  .header-image-container {
    .minor-event-heading {
      font-size: .9rem;
      font-weight: 400;
      color: rgba(195, 192, 192, 0.5) !important;
    }

    .next-event-heading {
      font-size: 1.3rem;
      font-weight: 400;
      color: white !important;
    }

    .header-image {
      opacity: .2;
      max-height: 20rem;

    }
  }

}


/// News section

.news-card {
  border-left: 5px solid $primary-color;

  a {
    margin-bottom: 10px;
  }

  .card-title {
    margin-right: .7rem;
  }
}

/// Videos section


.video-row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .col-lg-6 {
    padding: 0;
  }
}

.video-container {
  width: 95%;

  .embed-responsive {
    position: relative;
    width: 100%;
    padding: 0;
    overflow: hidden;

    &::before {
      content: "";
      display: block;
      padding-top: 56.25%; // 16:9 Aspect Ratio
    }

    .embed-responsive-item,
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
      object-fit: cover;
    }
  }

  &.right {

    margin-left: auto;

    h2 {
      text-align: right;
    }

    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }
}


/// events section


.event {
  // flex: 0 0 40%;
  width: 95%;

  // this ensures the event blocks always have the same height
  display: flex;
  flex-direction: column;
  height: 100%;

  padding: 10px;

  // border: 3px solid $primary-color;

  background-color: $panel-color-dark;
  color: black;

  // padding: 10px 30px;
  display: inline-block;
  transition: transform 0.2s;

  p {
    margin-bottom: .3rem;
  }

  .event-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    /* Provides space between wrapped elements */
  }

  .event-title {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }

  h3 {
    font-weight: bolder;
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    align-items: center;
  }

  @media screen and (max-width: 768px) {
    .inline-logo {
      height: 1.5rem;
    }
  }

  .event-date {
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;
    /* Pushes the date to the right when there's space */
    white-space: nowrap;
    /* Prevents the date from breaking into multiple lines */
  }

  .inline-logo {
    height: 1.8rem;
    margin-right: 0.2px;
    margin-bottom: 0.3rem;
  }

  /* Add a media query for smaller screens if needed */
  @media screen and (max-width: 480px) {
    .event-header {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
    }

    .event-title {
      flex-direction: column;
      align-items: flex-start;
    }

    .event-date {
      margin-left: 0;
      /* Resets the auto margin on very small screens */
    }
  }

  // .event-header {
  //   display: flex;
  //   justify-content: space-between;
  // }


  // h3 {
  //   font-weight: bolder;
  //   font-size: 1.2rem;

  //   @media screen and (max-width: 768px) {
  //     font-size: 1rem;
  //   }
  // }

  // .event-date {
  //   font-size: 1rem;
  //   font-weight: bold;
  //   margin-right: 5px;
  // }

  // .inline-logo {
  //   height: 1.8rem;
  //   margin-right: 4px;
  // }

}


.series {
  border-left: 5px solid $primary-color;

  h3 {
    color: $primary-color;
  }
}


.fof-color {
  background-color: $fof-color;
}

.fol-color {
  background-color: $fol-color;
}

.dsef-color {
  background-color: $dsef-color;
}

.naboj-color {
  background-color: $naboj-color;
}


.naboj-color-left-border {
  border-left: 5px solid $naboj-color !important;
}

.fol-color-left-border {
  border-left: 5px solid $fol-color !important;
}

.fof-color-left-border {
  border-left: 5px solid $fof-color !important;
}

.dsef-color-left-border {
  border-left: 5px solid $dsef-color !important;
}



.event.active,
.event:hover {
  transform: scale(1.05);
  /* Makes the box slightly larger */
  transition: transform 0.2s ease-in-out;
  /* Smooth transition */
}

.start-timeline-text,
.end-timeline-text {
  font-weight: bold;
  color: $primary-color;
  padding: 0;
  margin: 0;

  p {
    margin: 0;
  }
}


.timeline-section-header>h3 {
  font-weight: $font-weight-normal;
  margin-bottom: 0;
}


$timeline-color: #8b8282;
$timeline-horizontal-half-border-width: 4px;
$timeline-logo-width: 30px;
$timeline-logo-height: 40px;
$buffer-logo-timeline: 3px;
// $top-offset: $timeline-horizontal-half-border-width + $timeline-logo-height + $buffer-logo-timeline;

$today-block-height: 2 * ($buffer-logo-timeline + $timeline-horizontal-half-border-width);

$top-offset: $today-block-height / 2;

#timeline-horizontal-container {

  position: relative;
  width: 100%;
  height: 100px;

  .start-timeline-text,
  .end-timeline-text {
    position: absolute;
    top: calc(50% - 2* $buffer-logo-timeline - 1.5rem);
    z-index: 1;
    /* Make sure this is above the line */
  }

  .start-timeline-text {
    left: 0;
  }

  .end-timeline-text {
    right: 0;
  }
}

#timeline-horizontal {
  width: 100%;
  /* Makes the line span the full width of its container */
  border: 0;
  /* Removes default border */

  border-top: $timeline-horizontal-half-border-width solid $timeline-color;
  /* Adds a border to the top side only */
  border-bottom: $timeline-horizontal-half-border-width solid $timeline-color;
  background-color: $timeline-color;
  /* Adds a border to the top side only */
  margin: 10px 0;
  position: absolute;
  top: calc(50% - 2 * ($timeline-horizontal-half-border-width + $buffer-logo-timeline));
  z-index: 1;
  opacity: 1;
}

.logo-series,
.logo-event,
.today-block {
  position: absolute;
  z-index: 5;
  /* To ensure it's above the line and other elements */
  max-width: 50% !important;
}

.logo-event,
.logo-series {
  @media screen and (max-width: 992px) {
    height: $timeline-logo-width;
  }

  @media screen and (min-width: 992px) {
    width: $timeline-logo-width;
  }
}


.today-block {
  background-color: $primary-color;
  color: white;
  height: $today-block-height;
  width: $today-block-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

// Larger screen positioning
@media screen and (min-width: 768px) {
  .logo-event {
    bottom: calc(50% + $top-offset);
    /* 50% aligns with the middle line; minus 10px moves it up */
  }

  .logo-series {
    top: calc(50% + $top-offset);
    /* 50% aligns with the middle line; plus 10px moves it down */
  }

  .today-block {
    top: 50%;
    transform: translateY(-50%);
  }
}

// Smaller screen positioning
@media screen and (max-width: 768px) {

  .logo-event {
    left: calc(50% + $top-offset);
    /* 50% aligns with the middle line; minus 10px moves it up */
  }

  .logo-series {
    right: calc(50% + $top-offset);
    /* 50% aligns with the middle line; plus 10px moves it down */
  }

  .today-block {
    right: 50%;
    transform: translateX(50%);
  }
}


.order-6 {
  order: 6 !important;
}


.vertical-timeline-and-text-box {

  .start-timeline-text,
  .end-timeline-text {
    text-align: center;
  }
}

#timeline-vertical-container {
  position: relative;
  height: 100%;
  width: 100%;
}

#timeline-vertical {
  border-right: $timeline-horizontal-half-border-width solid $timeline-color;
  border-left: $timeline-horizontal-half-border-width solid $timeline-color;
  z-index: 0;

  width: 0 !important;
  position: absolute;
  left: calc(50% - $timeline-horizontal-half-border-width);
}


// Fykos correspondence competition section

a.link-no-decor {
  text-decoration: none;
  color: inherit;
}

.info-block {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  background-color: $panel-color-light;
  border-left: 5px solid $primary-color;

  // background-color: $primary-color;
  // color: $text-on-primary !important;

  // this ensures the event blocks always have the same height
  // display: flex;
  // flex-direction: column;
  // height: 100%;

  a {
    color: black;
  }

  // h4 {
  //   color: $text-on-primary !important;
  // }

}

.mt-md-n5 {
  @media (min-width: 768px) {
    margin-top: -3rem;
  }
}

.info-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

}

.info-icon {
  font-size: 24px;
  margin-right: 10px;
}


// #testimonials {
//   .card {
//     display: flex;
//     flex-direction: column;
//     height: 100%;
//     border: 2px solid $primary-color;
//   }

//   .card-body {
//     flex-grow: 1;
//   }

//   .card-signature {
//     text-align: right;
//     margin: 0;
//   }
// }