{varType string $lang}
{varType App\Models\GamePhaseCalculator $gamePhaseCalculator}
{block title}
    {switch $lang}
        {case 'cs'} Hlavní stránka
        {default} Main page
    {/switch}
{/block}

{block main}
    <div class="panel color-primary title-panel">
        <div class="inner-container row align-items-center">
            <div class="col-md-6 left-block">
                <time class="competition-date" datetime="{$gamePhaseCalculator->getFKSDBEvent()->begin |date:'Y-m-d'}">
                    {switch $lang}
                        {case 'cs'} {$gamePhaseCalculator->getFKSDBEvent()->begin |date:'j. n. Y'} Praha, Česká republika
                        {default} {$gamePhaseCalculator->getFKSDBEvent()->begin |date:'F j, Y'} Prague, Czech Republic
                    {/switch}
                </time>
                <h1>
                    {switch $lang}
                        {case 'cs'}Největší fyzikální<br>týmová soutěž v ČR
                    {default}Physics Team Competition<br>in the Czech Republic
                    {/switch}
                </h1>
                <div class="subheader col-md-10">
                    {switch $lang}
                        {*{case 'cs'}<p>Přihlas se společně až s pětičlenným týmem a&nbsp;přijeďte si do Prahy zasoutěžit.</p>*}
                        {*{default}<p>Sign up with a team of up to five and come to Prague, Czech Republic to compete with others.</p>*}
                        {case 'cs'}<p>Letos přijelo na soutěž téměř 1200 účastníků z&nbsp;více než 20 zemí světa tvořících 251 týmů! Děkujeme všem za účast a budeme se na vás těšit v roce 2024.</p>
                        {default}<p>This year almost 1200 participants in 251 teams took part, coming from more than 20 countries all over the world. Thank you for your participation, we are looking forward the next year in 2024.</p>
                    {/switch}
                </div>
                <div class="buttons">
                    <a n:href="AboutTheCompetition:" class="btn btn-light">{switch $lang}{case 'cs'}O soutěži{default}About{/switch}</a>
{*                    <a target="_blank" href="https://static.fykos.cz/fyziklani2023/{switch $lang}{case 'cs'}pruvodce{default}guidebook{/switch}.pdf" class="btn btn-outline">{switch $lang}{case 'cs'}Průvodce soutěží{default}Competition guidebook{/switch}</a>*}
                    <a n:href="Merch:" class="btn btn-outline">Merch</a>
                    <a n:if="$gamePhaseCalculator->isRegistration(App\Models\GamePhaseCalculator::NOW)" n:href="Registration:" class="btn btn-light">{switch $lang}{case 'cs'}Registrace{default}Register{/switch}</a>
                </div>
            </div>
            <div class="col-md-6 right-block topic-panel">
                {*{if $gamePhaseCalculator->isRegistration(App\Models\GamePhaseCalculator::BEFORE)}
                    {control upperHomeBeforeRegistration}
                {elseif true}*}
                    {control prague}
                {*/if}*}
            </div>
        </div>
    </div>

    {*<div class="panel registration" style="background-color: black">*}
        {*<div class="inner-container">*}
            {*<div class="text">*}
                {*{switch $lang}*}
                    {*{case 'cs'}Doufáme, že jste si soutěž užili!*}
                    {*{default}We hope you have enjoyed the competition!*}
                {*{/switch}*}
            {*</div>*}
            {*<div class="buttons">*}
                {*{switch $lang}*}
                    {*{case cs}*}
                    {*<a class="btn btn-primary m-1" href="/2023/vysledky/">Výsledky soutěže</a>*}
                    {*<a class="btn btn-primary m-1" href="/download/2023/reseni.pdf">Úlohy a řešení</a>*}
                {*{default}*}
                    {*<a class="btn btn-primary m-1" href="/2023/results/">Competition results</a>*}
                    {*<a class="btn btn-primary m-1" href="/download/2023/solutions.pdf">Problem assignment and solutions</a>*}
                {*{/switch}*}
{**}
            {*</div>*}
        {*</div>*}
    {*</div>*}

{*    {if !$gamePhaseCalculator->isGame(App\Models\GamePhaseCalculator::BEFORE)  && !$gamePhaseCalculator->isLongAfterTheEvent()}*}
{*        {control resultsPanel !$gamePhaseCalculator->isGame(App\Models\GamePhaseCalculator::NOW)}*}
{*    {/if}*}

    <div class="panel color-auto">
        <section class="inner-container">
            {switch $lang}
                {case 'cs'}
                <div class="subheader">Shrnutí pravidel</div>
                <h1>Co je to Fyziklání?</h1>
                <div class="row strips">
                    <div class="col-md-4">Stovky týmů složené z 5 středoškoláků soutěží v Praze ve 3 hodiny dlouhé soutěži v počítání fyzikálních příkladů.
                    </div>
                    <div class="col-md-4">Neustále je k dispozici 7 úloh. Jakmile nějakou vyřeší, okamžitě dostávají
                        další. Za každou úlohu sbírají body.
                    </div>
                    <div class="col-md-4">Nejlepší týmy vyhrávají věcné ceny a nehynoucí slávu v naší soutěži,
                        která se koná každý rok, letos máme již 17. ročník.
                    </div>
                </div>
                <a n:href="Rules:" class="btn btn-panel-action">Jak to funguje</a>
            {default}
                <div class="subheader">Rules Briefly</div>
                <h1>What Is Fyziklani {$gamePhaseCalculator->getFKSDBEvent()->begin |date:'Y'}?</h1>
                <div class="row strips">
                    <div class="col-md-4">
                        Up to five high school students compete in Prague in a three-hour-long contest in solving physics
                        problems.
                    </div>
                    <div class="col-md-4">
                        There are 7 problems available for you. As soon as you solve one, you get another problem
                        immediately. For each solved problem the team is awarded with points.
                    </div>
                    <div class="col-md-4">
                        The best teams win prizes and undying glory in our competition, which has been held
                        annually for 17 years now.
                    </div>
                </div>
                <a n:href="Rules:" class="btn btn-panel-action">How does it work</a>
            {/switch}
        </section>
    </div>

    {*
    <div class="panel color-dark">
        <section class="inner-container">
            <div class="subheader">{switch $lang}{case cs}Ceny{default}Prizes{/switch}</div>
            <h1>{switch $lang}
                {case cs}Pro nejlepší týmy máme nachystané odměny.
                {default}We have rewards for the best of you.{/switch}</h1>
            <div class="row prices">
                <div class="col-md-4">
                    <div class="price-box small" style="background-color: #666666">
                        {switch $lang}{case cs}FYKOSí<br/>trička a mikiny{default}T-shirts<br/>and hoodies{/switch}
                    </div>

                    {switch $lang}
                        {case cs}
                        <a class="price-box large fyziklani-international-box" href="{plink :Default:FyziklaniInternational:default}">
                            Účast ve<br/>Fyziklání<br/>International
                        </a>
                    {default}
                        <a class="price-box large mathematica-box" href="https://www.wolfram.com/mathematica/">
                            Wolfram<br/>Mathematica<br/>software
                        </a>
                    {/switch}
                </div>
                <div class="col-md-4">
                    {switch $lang}
                        {case cs}
                        <div class="price-box large knihy-box">
                            Knihy<br/>podle<br/>výběru
                        </div>
                    {default}
                        <div class="price-box large" style="background-color: #ba7743">
                            Mugs<br/>and towels
                        </div>
                    {/switch}

                    <a class="price-box small orgpad-box" href="https://orgpad.com/">
                        {switch $lang}
                            {case cs}Licence na<br/>
                            <img src="{$basePath}/images/logos/orgpad.svg" alt="OrgPad" style="max-height: 3rem">
                        {default}License to<br/>
                            <img src="{$basePath}/images/logos/orgpad.svg" alt="OrgPad" style="max-height: 3rem">
                        {/switch}
                    </a>
                </div>
                <div class="col-md-4">
                    {switch $lang}
                        {case cs}
                        <div class="price-box small deskovky-box">
                            Deskovky<br>a karetní<br>hry
                        </div>
                    {default}
                        <div class="price-box small" style="background-color: #666666">
                            Canvas bags
                        </div>
                    {/switch}

                    <a class="price-box large" href="http://www.graphmatica.com/" style="background-color: #019A69">
                        {switch $lang}{case cs}Software<br/>Graphmatica<br/>
                        {default}Software<br/>Graphmatica<br/>{/switch}
                    </a>
                </div>
            </div>
        </section>
    </div>
    *}

    <div class="panel color-auto">
        <section class="inner-container">
            {switch $lang}
                {case cs}
                <div class="subheader">Ukázka příkladů v soutěži</div>
                <h1>Každý najde svou obtížnost.</h1>
                <div>
                    <div class="title-page-problem">
                        Jehličnatý strom může být z mechanického hlediska aproximován kolmým (nikoli komolým)
                        homogenním kuželem s výškou h = 40 m a poloměrem podstavy r = 1,0 m. O jaký úhel můžeme
                        vychýlit osu kužele od svislice, než strom vlastní vahou začne padat k zemi?
                    </div>
                    <div class="title-page-problem">
                        Vodopád o výšce h = 30 m má průtok Q = 1,2 m<sup>3</sup>·s<sup>-1</sup>. Jakou celkovou silou působí
                        voda na dno
                        pod vodopádem? Voda po dopadu rychle odtéká a hloubka pod vodopádem je zanedbatelná.
                    </div>
                    <div class="title-page-problem">
                        Určete odpor mezi dvěma sousedními vrcholy čtyřdimenzionální drátěné krychle. Každá hrana
                        této krychle má odpor R = 1 000 Ω.
                    </div>
                    <div class="title-page-problem">
                        Vítek by si rád ze své studny nabral vodu, ale nechce se mu tahat vědro nahoru. Proto vodu
                        postupně roztáčel, až při úhlové rychlosti ω = 11 rad·s<sup>-1</sup>
                        začala sama téct ze studny. Vítek
                        ví, že hloubka studny (od horního okraje ke dnu) je h = 47 m. Studna má kruhový průřez
                        s poloměrem r<sub>0</sub> = 1,6 m. V jaké výšce (měřeno od dna) byla voda předtím, než ji Vítek
                        roztočil?
                    </div>
                </div>
            {default}
                <div class="subheader">Problem Examples</div>
                <h1>Everyone Finds a Suitable Difficulty.</h1>
                <div>
                    <div class="title-page-problem">
                        A coniferous tree could be (from a mechanical point of view) approximated by a homogeneous
                        right circular cone with height h = 40 m and radius at the base r = 1.0 m. Find the maximal
                        angle by which its axis may be displaced from the vertical axis before it starts to fall due to its
                        weight.
                    </div>

                    <div class="title-page-problem">
                        A h = 30 m high waterfall has flow rate Q = 1,2 m<sup>3</sup>·s<sup>-1</sup>. Find the total force with which water
                        impacts the ground under the waterfall. Assume that the water quickly flows away from the
                        point of impact and the depth of water under the waterfall is negligible.
                    </div>
                    <div class="title-page-problem">
                        Find the resistance between two neighbouring vertices of a four-dimensional cube made of wire.
                        Each edge of the cube has a resistance R = 1 000 Ω.
                    </div>
                    <div class="title-page-problem">
                        Vítek would like to get some water from his well, but he does not want to keep pulling the
                        bucket up. Therefore, he gradually stirred the water around faster and faster until, at an angular
                        velocity ω = 11 rad·s<sup>-1</sup>, the water started flowing out of the well all by itself. Vítek knows the
                        depth of the well (from the top edge to the ground at the bottom) h = 47 m. The well has
                        a circular cross-section with a radius r<sub>0</sub> = 1,6 m. What was the height of the water column
                        (from the bottom of the well to the water surface) before Vítek started spinning the water
                        around?
                    </div>
                </div>
            {/switch}
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container">
            {switch $lang}
                {case cs}
                <div class="subheader">Harmonogram Fyziklání</div>
                {*<h1>Soutěžíme v pátek {$gamePhaseCalculator->getFKSDBEvent()->begin |date:'j. n. Y'}.</h1>*}
                <h1>V Praze se můžete zdržet i déle</h1>
          		<p>Kromě soutěže se můžete těšit i na bohatý doprovodný program plný přednášek, exkurzí a mnoha dalšího. Podrobnosti budou zveřejněny časem.</p>
                {*<p>Doprovodný program Fyziklání je volitelný, lze se zúčastnit i pouze samotné soutěže.</p>*}
            {default}
                <div class="subheader">Fyziklani Schedule</div>
                {*<h1>The contest takes place on {$gamePhaseCalculator->getFKSDBEvent()->begin|date:'F j, Y'}.</h1>*}
                <h1>You Can Stay in Prague a Little Longer</h1>
                <p>Besides the competition, you can look forward to a rich accompanying program full of lectures, excursions and much more. Stay tuned for more details in the future!</p>
                {*<p>The accompanying program is optional, it is possible to take part only in the competition itself.</p>*}
            {/switch}

            {include "../schedule.latte"}
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container">
            {switch $lang}
                {case cs}
                <div class="subheader">Vítězové minulých ročníků</div>
                <h1>Přihlaste se a staňte se legendami!</h1>
            {default}
                <div class="subheader">Registration</div>
                <h1>Sign Up and Become a Legend!</h1>
            {/switch}

            {*<ul class="stylized">*}
                {*{switch $lang}*}
                    {*{case cs}*}
                    {*<li>Soutěž je určena pro středoškoláky a je zdarma!</li>*}
                    {*<li>*}
                        {*Registrace je otevřena od*}
                        {*{$gamePhaseCalculator->getFKSDBEvent()->registrationBegin |date:'j. n.'} do*}
                        {*<strong>{$gamePhaseCalculator->getFKSDBEvent()->registrationEnd |date:'j. n. G:i'}</strong>.*}
                    {*</li>*}
                {*{default}*}
                    {*<li>The competition is for high school students and is free of charge!</li>*}
                    {*<li>*}
                        {*Registration is open from*}
                        {*{$gamePhaseCalculator->getFKSDBEvent()->registrationBegin |date:'F j'} until*}
                        {*<strong>{$gamePhaseCalculator->getFKSDBEvent()->registrationEnd |date:'F j, G:i'} CET</strong>.*}
                    {*</li>*}
                {*{/switch}*}
            {*</ul>*}

            <div class="row legends">
                <div class="col-md-6">
                    <div class="legends-row">
                        <div class="legends-year">2023</div>
                        <div class="legends-item">
                            <div>
                                CaminBaieti
                            </div>
                            <div class="members">
                                Alexandru Momoiu, Rares Marinescu, Andrei-Darius Dragomir, Alexandru Iorga, Razvan-Gabriel Marcu
                            </div>
                        </div>
                    </div>
                    <div class="legends-row">
                        <div class="legends-year">2022</div>
                        <div class="legends-item">
                            <div>
                                The Kaldashians
                            </div>
                            <div class="members">
                                David Constantinescu, Robert Stănescu, Vladimir George Necula, Miruna Neacsu, Vlad-Ștefan Oros
                            </div>
                        </div>
                    </div>
                    <div class="legends-row">
                        <div class="legends-year">2021<br>online</div>
                        <div class="legends-item">
                            <div>
                                30chuaphailaT(Ê)ST
                            </div>
                            <div class="members">
                                Mạnh Quân Nguyễn, Quang Vinh Tran, Hoang Nam Nguyen, Đức Hoàng Nguyễn Lê, Gia Khanh Nguyen
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="legends-row">
                        <div class="legends-year">2020</div>
                        <div class="legends-item" n:syntax="off">
                            <div>
                               Teorie všeho se jede rozloučit
                            </div>
                            <div class="members">
                                Viktor Materna, Lubor Čech, Václav Zvoníček, Jaroslav Herman, Jiří Kalvoda
                            </div>
                        </div>
                    </div>
                    <div class="legends-row">
                        <div class="legends-year">2019</div>
                        <div class="legends-item">
                            <div>
                                Jaderný reaktor IV. generace
                            </div>
                            <div class="members">
                                Richard Veselý, Jiří Janoušek, Jindřich Jelínek, Jiří Loun, Tereza Pavlišová
                            </div>
                        </div>
                    </div>
                    <div class="legends-row">
                        <div class="legends-year">2018</div>
                        <div class="legends-item">
                            <div>
                                Pozitróny
                            </div>
                            <div class="members">
                                Matúš Kopunec, Mikuláš Mikula, Marek Kadlečík, Róbert Jurčo, Martin Babača
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="application/ld+json" n:syntax="double">
        {
            "@context": "https://schema.org",
            "@type": "Event",
            "name": {{= "Fyziklani " . $gamePhaseCalculator->getFKSDBEvent()->begin->format('Y')}},
            "startDate": {{$gamePhaseCalculator->getFKSDBEvent()->begin |date:'c'}},
            "endDate": {{$gamePhaseCalculator->getFKSDBEvent()->end |date:'c'}},
            "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
            "isAccessibleForFree": "true",
            "eventStatus": "https://schema.org/EventScheduled",
            "location": {
                "@type": "Place",
                "name": "PVA EXPO PRAHA",
                "address": {
                    "@type": "PostalAddress",
                    "streetAddress": "Beranových 667",
                    "addressLocality": "Praha",
                    "postalCode": "19900",
                    "addressCountry": "CZ"
                }
            },
            "description": "Physics team competition in the Czech Republic for high school students.",
            "organizer": {
                "@type": "Organization",
                "name": "FYKOS",
                "url": "https://fykos.cz"
            }
        }
    </script>
{/block}
