{block title}Stáže{/block}

{block main}

<style>
    .photo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .photo-container img {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
</style>
<div class="panel color-auto">
    <section class="inner-container">
        <h1>Letní stáže na MFF UK</h1>

        <p> Ve spolupráci s MFF UK se v létě konají stáže pro nejlepší řešitele experimentálních úloh. Ti si díky tomu
            na vlastní kůži vyzkouší práci na vědeckých pracovištích. Pod vedením zkušených vědců zpracují daný
            experiment a jako výstup sepíší článek o svém výzkumu. Stáže probíhají 14 dní o letních prázdninách v Praze.
            Účastníci si mohou vybrat ze širokého spektra oblastí výzkumů od optiky, fyziky plazmatu a povrchu, kvantové
            fyziky až po fyziku atmosféry.</p>
        <p>
            Kromě vědecké práce si ale mohou užít volný čas s ostatními účastníky, kteří mají stejnou zálibu ve fyzice,
            a navštívit památky našeho hlavního města.
        </p>
    </section>
</div>
    <div class="panel color-auto">
        <section class="inner-container">
            <h1>Letní stáže 2025</h1>
            <p>
                Druhý ročník letních stáží FYKOS se uskuteční <strong>od 11. do 22. srpna 2025</strong>.
                Z přihlášených vybereme <strong>10 nejúspěšnějších řešitelů</strong>,
                kteří se zapojí do výzkumných projektů na různých pracovištích <strong>Matematicko-fyzikální fakulty
                    UK</strong>.
            </p>
            <h3>Ubytování</h3>
            <p>
                Účastníkům zajistíme <strong>ubytování na Koleji 17. listopadu</strong> – náklady hradíme my.
                <strong>Strava není zahrnuta v ceně.</strong>
                Na kolej se můžete nastěhovat <strong>v neděli 10. 8.</strong> a ubytování bude k dispozici až <strong>do
                    soboty 23. 8</strong>.
            </p>
            <h3>Projekty</h3>
            <p>
                Každý účastník si bude moci vybrat z <strong>deseti zajímavých projektů</strong>,
                které najdete níže spolu s jejich popisem. Pořadí výběru bude stanoveno podle celkového hodnocení.
            </p>
            <p class="alert alert-warning">
                Zde budou postupne přibývat projekty a jejich anotace
            </p>
            <h4>Studium mikrostruktury a fázového složení 3D tištěných kovových materiálů pomocí pokročilých
                analytických metod</h4>

            <strong>Vedoucí:</strong> RNDr. Jan Čapek, Ph.D.<br/>
            <strong>Pracoviště:</strong> Katedra fyziky materiálů<br/>
            <p class="mt-3">
                Tento projekt se zaměří na detailní studium materiálů vyrobených metodou 3D tisku s technologií Laser
                Powder Bed Fusion (LPBF). Hlavním cílem je charakterizovat mikrostrukturu a fázové složení těchto
                materiálů s využitím kombinace elektronové mikroskopie a pokročilých metod analýzy dat ze synchrotronové
                difrakce a neutronového zobrazování. Studenti se seznámí s moderními technikami materiálového výzkumu a
                nahlédnou do principů zpracování a interpretace komplexních dat z velkých výzkumných infrastruktur.
                Projekt poskytne cenný vhled a úvodní praktické zkušenosti v oblasti materiálového výzkumu a analýzy
                dat, což může být inspirací pro budoucí vědeckou kariéru.
            </p>
            
            <h4>Simulace stochastických procesů v komplexních systémech</h4>

            <strong>Vedoucí:</strong> RNDr. Viktor Holubec, Ph.D. <br/>
            <strong>Pracoviště:</strong> Katedra makromolekulární fyziky<br/>
            <p class="mt-3">
               V naší skupině se zabýváme tzv. stochastickou termodynamikou a aktivní hmotou. 
               Stochastická termodynamika představuje zobecnění klasické termodynamiky pro nerovnovážné děje v mikrosvětě, 
               např. uvnitř buňky. Teorie aktivní hmoty se snaží popsat a pochopit chování a samoorganizaci v systémech 
               sestávajících z mnoha `aktivních molekul', což mohou být např. jednotlivé bakterie, ryby, nebo ptáci. 
               Přes odlišnosti studovaných systémů obě tyto teorie využívají popis pomocí stochastických (náhodných) procesů. 
               Cĺlem projektu bude seznámit se s jedním konktrétním problémem v rámci studovaných teorií (výběr bude záležet na 
               společné domluvě) a studiu příslušného stochastického procesu pomocí počítačových simulací.
            </p>
            
            <h4>Statistika emise elektronů v pulzním elektronovém mikroskopu</h4>

            <strong>Vedoucí:</strong> RNDr. Martin Kozák, Ph.D. <br/>
            <strong>Pracoviště:</strong> Katedra chemické fyziky a optiky<br/>
            <p class="mt-3">
              V elektronových mikroskopech je k získání zvětšeného obrazu vzorku používán svazek elektronů urychlených 
              elektrostatickým polem na vysokou energii. Existují i mikroskopy pracující v pulzním režimu, kdy elektony z 
              katody nevylétají náhodně, ale jsou fotoemitovány dopadajícími laserovými pulzy. V tzv. ultrarychlém elektronovém 
              mikroskopu může časová délka jednotlivých pulzů elektronů klesnout až na několik set femtosekund. Jelikož jsou ale 
              elektrony nabité částice, pokud jich v pulzu vygenerujeme příliš, začnou se odpuzovat Coulombovou silou, což vede 
              ke změnám vlastností svazku. Cílem projektu bude měřit a studovat statistiku emise elektronů femtosekundovými 
              laserovými pulzy pomocí jejich detekce citlivým 2D detektorem, který umožňuje detekovat polohu a čas dopadu 
              jednotlivých elektronů. Student nejprve naměří experimentální data pomocí již existujícího uspořádání. V druhé části 
              projektu bude studovat statistické vlastnosti (počet elektronů na pulz a jejich prostorové rozložení) jako funkci 
              experimentálních parametrů.

            </p>
            
            <h4>Difrakce elektronů na krystalu</h4>

            <strong>Vedoucí:</strong> RNDr. Martin Kozák, Ph.D. <br/>
            <strong>Pracoviště:</strong> Katedra chemické fyziky a optiky<br/>
            <p class="mt-3">
            Kvantová mechanika nám říká, že pohybující-se elektron se v určitých situacích chová jako vlna. Jedním z jevů, 
            který jeho vlnový charakter potvrzuje je tzv. elektronová difrakce, kdy při interakci proudu urychlených elektronů 
            s látkou s periodickým uspořádáním atomů (krystalem) dochází ke vzniku interferenčních maxim v obrazu prošlých 
            elektronů. Ze vzájemných poloh těchto maxim je možné stanovit atomovou strukturu krystalu a jeho orientaci. Náplní 
            tohoto projektu bude měřit difrakci elektronů na krystalu křemíku a zejména porovnat výsledky měření pro klasický 
            kontinuální a pulzní režim elektronového mikroskopu.

            </p>
            
            <h4>Příprava na kvantová hradla s volnými elektrony</h4>

            <strong>Vedoucí:</strong> Mgr. Michal Hejduk, Ph.D. <br/>
            <strong>Pracoviště:</strong> Katedra fyziky povrchů a plazmatu<br/>
            <p class="mt-3">
            Přiložte pomocnou ruku ke snažení našeho týmu, který vyvíjí průkopnický kvantový počítač s levitujícími
elektrony. Vaším úkolem bude upravit design našeho kvantově-výpočetního čipu, aby mohl fungovat s
vícero qubity.
Co vám to přinese? Nabízíme unikátní příležitost získat praktické zkušenosti v oblasti vývoje kvantových
technologií. To, co se naučíte je potřeba ve firmách jako IBM, Microsoft, Honeywell aj, přičemž ale
budete vyčnívat v tom, že budete pracovat na unikátní architektuře, o níž se ve světě jenom spekuluje.
Přidejte se k nám a stůjte u zrodu nové technologie!

            </p>
            
        </section>
    </div>

<div class="panel color-auto">
    <section class="inner-container">
        <h1>Letní stáže 2023</h1>

        <p> Prvního ročníku se zúčastnili Radovan Lev s projektem Deterministické, přesto nepředpověditelné, jež vedl
            Mgr. Hynek Bednář, Ph.D., Tereza Hochmanová s&nbsp;projektem Staň se kvantovou fyzičkou pevných látek, jež vedl
            RNDr. Petr Čermák, Ph.D., Jan Strnad s projektem Radiální vývoj parametrů slunečního větru, jež vedl doc.
            RNDr. František Němec, Ph.D., a Linda Tománková s projektem Generace superkontinua ve fotonickém vlákně a
            jeho využití v ultrarychlé spektroskopii, jež vedl RNDr. Pavel Malý, Ph.D. </p>
        <p>
            Letní stáže vymyslel a koordinoval Tomáš Červeň.
        </p>
        <div class="photo-container">
            <img src="{$basePath}/media/images/events/internships/staze1.jpg" alt="staze">
            <img src="{$basePath}/media/images/events/internships/staze2.jpg" alt="staze">
        </div>

    </section>
</div>


{/block}