{varType string $lang}
{block title}Kalendář{/block}
{block scripts}
<script src="{asset 'assets/calendar.js'}"></script>
{/block}
{block main}
<div class="panel color-auto">
    <div class="panel color-auto">
        <section class="inner-container">
            <div id='calendar'></div>
        </section>
    </div>
</div>
{/block}
