{block title}Kalendář{/block}
{block scripts}
<script src="{asset 'assets/calendar.js'}"></script>
{/block}
{block main}
<div class="panel color-auto">
    <div class="inner-container">
        <div id="calendar"></div>
    </div>
</div>
{/block}
