{varType string $lang}
{varType \App\Models\Event\EventModel[] $events}
{block title}Tábor{/block}

{block main}
<div class="panel color-auto">
    <section class="inner-container">
        <h1 class="inner-container" style="color:red">TODO stránka o Táboru<h1>
        {foreach $events AS $event}
            <h2>{$event->nameNew[$lang]}</h2>
            <p>{$event->reportNew[$lang]}</p>
        {/foreach}
    </section>
</div>
{/block}