{block title}Podpořte FYKOS{/block}
{block main}
<div class="panel color-auto">
    <section class="inner-container">
        <h1>How to support FYKOS?</h1>
        <p> Do you like our activities and do you want to support us? You can do that by sending us some financial donation, 
          providinfg prizes for winners or refreshments for the events. You can also buy our <a href = "/merch">merch</a>.</p>
    </section>
</div>

{/block}