{block title}Podpořte FYKOS{/block}
{block main}
<div class="panel color-auto">
    <section class="inner-container">
        <h1>Jak podpořit FYKOS?</h1>
        <p> Líbí se vám, co děláme a myslíte si, že naše práce má smysl? Jestli nás chcete podpořit, můžete tak učinit koupí 
          <a n:href="Defaul:Merch"> merche </a> nebo sponzorským darem.</p>
    </section>
</div>

{/block}