{block title}Scholarship Program{/block}

{block main}
    <div class="panel color-auto">
        <section class="inner-container">
        <h1>Stipendia pro Fyziklání</h1>
        <p>Informace o programu Scholarship jsou vzhledem k jeho zaměření programu dostupné pouze na <a n:href="Scholarship: lang:en">anglické verzi stránky</a>.</p>
{/block main} 