database:
    default:
        dsn: 'mysql:host=localhost;dbname=fol-web'
        user: %database.user%
        password: %database.password%
    problems:
        dsn: 'mysql:host=localhost;dbname=problems'
        user: %database.user%
        password: %database.password%
parameters:
    fksdbDownloader:
        login: a
        password: a
        url: https:\\example.com
    database:
         user: a
         password: a
    gameApiURL: https:\\example.com
