.event-img {
    width: 95%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: top;
}



.upcoming-event {
    @media (max-width: 77rem) {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
      }
}