html,
body {
  height: 100%;
  // font-size: $base-font-size;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

p {
  text-align: justify;
}

.btn-outline {
  @extend .btn-outline;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border-color: #fff;

  &:hover {
    background-color: #fff;
  }
}

.btn-white {
  @extend .btn-white;
  background-color: #fff;
  color: #000;
  border-color: transparent;

  &:hover {
    border-color: #fff;
  }
}

nav.navbar {
  background-color: $primary;
}

ul.stylized {
  list-style: none;

  li::before {
    content: " ";
    background-color: #000;
    display: block;
    width: .5rem;
    height: .5rem;
    margin-left: -1.5rem;
    position: absolute;
    margin-top: 0.5rem;
  }

  &.correction {
    @media screen and (max-width: 1280px) {
      padding-left: 3rem;
    }
  }
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

/**
 * Everything except main menu is consisted of panels.
 * Panel is a rectangle with .inner-container.
 */
.panel {
  padding: 4rem 0;
  /*margin-bottom: 2rem;*/
  color: #4a4a4a;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: black;
  }

  &.color-dark,
  &.color-auto:nth-of-type(2n) {
    background-color: $panel-color-dark;

    .inverse-background {
      background-color: $panel-color-light;
    }
  }

  &.color-light,
  &.sponsors,
  &.color-auto:nth-of-type(2n+1) {
    background-color: $panel-color-light;

    .inverse-background {
      background-color: $panel-color-dark;
    }
  }

  &.sponsors {
    padding-bottom: 5rem;
    padding-top: 3rem;
  }

  &.sponsors .inner-container .sponsors-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    a {
      display: block;
      text-decoration: none;

      img {
        @extend .img-fluid;
      }

      .text {
        text-align: center;
        color: black;
        font-weight: bold;
        padding-bottom: 2rem;
      }
    }
  }

  &.footer {
    padding-top: 0rem;

    &::before {
      height: 40px;
      content: " ";
      width: 100%;
      background: url(edge.svg) repeat-x center top;
      display: block;
      top: -40px;
      /*height of edge.svg*/
      position: relative;
    }

    background-color: #000000;
    color: white;

    .row {
      @media screen and (min-width: 600px) {
        --bs-gutter-x: 3rem;
      }
    }

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

    i {
      font-size: 2em;
    }

    .logo {
      max-height: 4rem;
      margin-bottom: 1rem;
      margin-right: 1rem;
      @extend .img-fluid;
    }

    .image {
      max-height: 10rem;
      margin-bottom: 2rem;
      margin-right: 1rem;
      margin-top: 2rem;
      @extend .img-fluid;
    }

    .other-logos {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #FFFFFF80;

      .other-logo {
        @extend .img-fluid;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  // Inner container
  &>.inner-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $page-width;
  }

  &.registration {
    padding: 2.5rem 0;

    &>.inner-container {
      display: flex;
      align-items: center;

      .text {
        flex-grow: 1;
        font-size: 1.4rem;
        margin-right: 1rem;
      }
    }
  }

  .subheader {
    font-weight: bold;
    color: $primary-color;

    &.complementary {
      color: $complementary-color;
    }
  }

  &.color-primary,
  &.registration {
    background-color: $primary-color;
    color: white;

    .subheader {
      color: white;
    }

    a:not(.btn) {
      color: white;
    }

    //.btn-primary {
    //  @include button-variant($secondary, darken($secondary, 7.5%), darken($secondary, 10%), lighten($secondary,5%), lighten($secondary, 10%), darken($secondary,30%));
    //  color: black;
    //}
  }

  h1 {
    size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}


.panel.footer nav {
  &>ul>li {
    margin: 1rem 0;

    a {
      text-decoration: none;
      color: white;
      font-weight: normal;
    }

    div {
      margin-bottom: 1rem;
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}

.btn-panel-action {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  padding: 0;
  margin-top: 1rem;
  margin-right: 3rem;

  &::after {
    content: "❯";
    margin-left: .2rem;
  }
}

.selector-container {
  width: fit-content;

  @media (min-width: 781px) {
    float: right;
  }
}

.tasks-container {
  margin-top: 1.5rem;

  @media (min-width: 781px) {
    margin-top: 3rem;
  }
}

.series-selector {
  .dropdown-toggle {
    min-width: 16rem;
    width: 100%;
  }

  .dropdown-menu {
    max-height: 14rem;
    overflow-y: auto;
  }

  .list-group>.list-group-item {
    border-radius: 0;
    text-align: center;
  }

  @include media-breakpoint-up(sm) {
    .list-group:first-child {
      .list-group-item:first-child {
        border-top-left-radius: inherit;
      }

      .list-group-item:last-child {
        border-top-right-radius: inherit;
      }
    }

    .list-group:last-child {
      .list-group-item:first-child {
        border-bottom-left-radius: inherit;
      }

      .list-group-item:last-child {
        border-bottom-right-radius: inherit;
      }
    }
  }
}

.btn-primary {
  color: $text-on-primary;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: $text-on-primary;
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
  color: $text-on-primary;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: $primary;
}

a.btn:hover, a.dropdown-item:hover {
  text-decoration: none;
}

.nav .dropdown-menu {
  padding: 0 !important;
}
.nav li ul li:first-child a {
  border-radius: 5px 5px 0 0;
  padding-top: 0.35rem;
}
.nav li ul li:last-child a {
  border-radius: 0 0 5px 5px;
  padding-bottom: 0.35rem;
}