html, body {
  height: 100%;
  // font-size: $base-font-size;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

.btn-primary {
  @extend .btn-primary;
  color: $text-on-primary;
}

.btn-outline {
  @extend .btn-outline;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border-color: #fff;

  &:hover {
    background-color: #fff;
  }
}

.btn-white {
  @extend .btn-white;
  background-color: #fff;
  color: #000;
  border-color: transparent;

  &:hover {
    border-color: #fff;
  }
}

nav.navbar {
  background-color: $primary;
}

ul.stylized {
  list-style: none;
    li::before {
      content: " ";
      background-color: #000;
      display: block;
      width: .5rem;
      height: .5rem;
      margin-left: -1.5rem;
      position: absolute;
      margin-top: 0.5rem;
    }
  &.correction {
    @media screen and (max-width: 1280px) {
      padding-left: 3rem;
    }
  }
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

/**
 * Everything except main menu is consisted of panels.
 * Panel is a rectangle with .inner-container.
 */
.panel {
  padding: 4rem 0;
  /*margin-bottom: 2rem;*/
  color: #4a4a4a;
  h1, h2, h3, h4, h5, h6 {
    color: black;
  }

  &.color-dark, &.color-auto:nth-of-type(2n) {
    background-color: $panel-color-dark;

    .inverse-background {
      background-color: $panel-color-light;
    }
  }

  &.color-light, &.sponsors, &.color-auto:nth-of-type(2n+1) {
    background-color: $panel-color-light;

    .inverse-background {
      background-color: $panel-color-dark;
    }
  }

  &.sponsors .inner-container .sponsors-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    a {
      display: block;
      text-decoration: none;
      img {
        @extend .img-fluid;
      }
      .text {
        text-align: center;
        color: black;
        font-weight: bold;
        padding-bottom: 2rem;
      }
    }
  }

  &.footer {
    background-color: #000000;
    color: white;

    .row {
      @media screen and (min-width: 600px) {
        --bs-gutter-x: 3rem;
      }
    }

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

    i {
      font-size: 2em;
    }

    .logo {
      max-height: 3rem;
      margin-bottom: 2rem;
      @extend .img-fluid;
    }

    .other-logos {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #FFFFFF80;
      .other-logo {
        @extend .img-fluid;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  // Inner container
  & > .inner-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $page-width;
  }

  &.registration {
    padding: 2.5rem 0;

    & > .inner-container {
      display: flex;
      align-items: center;

      .text {
        flex-grow: 1;
        font-size: 1.4rem;
        margin-right: 1rem;
      }
    }
  }

  .subheader {
    font-weight: bold;
    color: $primary-color;
    &.complementary {
      color: $complementary-color;
    }
  }

  &.color-primary, &.registration {
    background-color: $primary-color;
    color: white;

    .subheader {
      color: white;
    }

    a:not(.btn) {
      color: white;
    }

    //.btn-primary {
    //  @include button-variant($secondary, darken($secondary, 7.5%), darken($secondary, 10%), lighten($secondary,5%), lighten($secondary, 10%), darken($secondary,30%));
    //  color: black;
    //}
  }

  h1 {
    size: 2.1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
}


.panel.footer nav {
  & > ul > li {
    font-weight: bold;

    & li {
      margin: 1rem 0;

      a {
        text-decoration: none;
        color: white;
        font-weight: normal;
      }
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}

/**
 * By using #team-id in URL, the team will blink
 */
.team-list {
  li:target {
    background-color: $complementary-color;
    animation: blink-target .8s 5;
  }

  @keyframes blink-target {
    100% { background-color: rgba($complementary-color, 0); }
  }
}

.team-list .team-state-pending {
  opacity: .5;
}

.btn-panel-action {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  padding: 0;
  margin-top: 1rem;
  margin-right: 3rem;

  &::after {
    content: "â¯";
    margin-left: .2rem;
  }
}

.series-selector {
  .dropdown-toggle {
    min-width: 16rem;
  }
  .dropdown-menu {
    max-height: 14rem;
    overflow-y: auto;
  }
  .list-group > .list-group-item {
    border-radius: 0;
    text-align: center;
  }
  @include media-breakpoint-up(sm) {
    .dropdown {
      
    }
    .list-group:first-child {
      .list-group-item:first-child {
        border-top-left-radius: inherit;
      }
      .list-group-item:last-child {
        border-top-right-radius: inherit;
      }
    }
    .list-group:last-child {
      .list-group-item:first-child {
        border-bottom-left-radius: inherit;
      }
      .list-group-item:last-child {
        border-bottom-right-radius: inherit;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0deg)
  }
  20% {
    transform: translate(2px, 1px) rotate(-5deg)
  }
  40% {
    transform: translate(-2px, -1px) rotate(-8deg)
  }
  60% {
    transform: translate(-2px, 1px) rotate(-2deg)
  }
  80% {
    transform: translate(0, -1px) rotate(-4deg)
  }
  100% {
      transform: translate(0, 0) rotate(0deg)
  }
}

.nav-link:hover > .icon, .nav-link:hover > i, .navbar-brand:hover, #footerLogo:hover {
  animation: shake 0.2s;
  animation-timing-function: ease-in-out;
}


// TODO use this on 1st April
// *:hover {
//   animation: shake 0.2s;
//   animation-timing-function: ease-in-out;
// }