.btn-primary {
    color: $text-on-primary;
}

.btn-danger {
    color: white;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open>.dropdown-toggle.btn-danger {
    color: white !important;
}

.btn-outline-danger:hover, .btn-outline-danger:focus-visible, .btn-outline-danger:active, .btn-outline-danger.active, .open>.dropdown-toggle.btn-outline-danger {
    color: white !important;
}

// Custom links
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: $primary;
}

// Remove default button highlight on hover
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: $text-on-primary !important;
}

.btn-outline-primary:hover, .btn-outline-primary:focus-visible, .btn-outline-primary:active, .btn-outline-primary.active, .open>.dropdown-toggle.btn-outline-primary {
    color: $text-on-primary !important;
}

a.btn:hover, a.dropdown-item:hover {
    text-decoration: none;
}

// Fix padding and hover background in navbar dropdowns
.nav .dropdown-menu {
    padding: 0 !important;
}

.nav li ul li:first-child a {
    border-radius: 5px 5px 0 0;
    padding-top: 0.35rem;
}
.nav li ul li:last-child a {
    border-radius: 0 0 5px 5px;
    padding-bottom: 0.35rem;
}

// Remove boostrap accordion box shadow
.accordion-button:not(.collapsed){
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}