$horizontal-selector-min-width: 596px;
$vertical-selector-max-width: 595.98px;
$right-selector-min-width: 875px;
$left-selector-max-width: 874.98px;

.selector-container {
    width: fit-content;

    @media (min-width: $right-selector-min-width) {
        float: right;
    }

    @media (min-width: $horizontal-selector-min-width) {
        // Color left border of active item in horizontal list group
        .list-group > .list-group-item-primary {
            border-left-width: 1px !important;
        }

        // Set previous sibling's right border to 0, to avoid double border
        .list-group > .list-group-item:has(+ .list-group-item-primary) {
            border-right-width: 0;
        }

        // Redefine Bootstrap's horizontal list group class for custom breakpoint
        .list-group-horizontal-custom {
            flex-direction: row;
        }
        .list-group-horizontal-custom > .list-group-item:first-child:not(:last-child) {
            border-bottom-left-radius: var(--bs-list-group-border-radius);
            border-top-right-radius: 0;
        }
        .list-group-horizontal-custom > .list-group-item:last-child:not(:first-child) {
            border-top-right-radius: var(--bs-list-group-border-radius);
            border-bottom-left-radius: 0;
        }
        .list-group-horizontal-custom > .list-group-item.active {
            margin-top: 0;
        }
        .list-group-horizontal-custom > .list-group-item + .list-group-item {
            border-top-width: var(--bs-list-group-border-width);
            border-left-width: 0;
        }
        .list-group-horizontal-custom > .list-group-item + .list-group-item.active {
            margin-left: calc(-1 * var(--bs-list-group-border-width));
            border-left-width: var(--bs-list-group-border-width);
        }
    }

    @media (max-width: $vertical-selector-max-width) {
        // Color top border of active item in vertical list group
        .list-group > .list-group-item-primary {
                border-top-width: 1px !important;
            }

        // Set previous sibling's bottom border to 0, to avoid double border
        .list-group > .list-group-item:has(+ .list-group-item-primary) {
            border-bottom-width: 0;
        }
    }
}

.tasks-container {
    margin-top: 1.5rem;

    @media (min-width: $right-selector-min-width) {
        margin-top: 3rem;
    }
}

.tasks-margin {
    @media (min-width: $right-selector-min-width) {
        margin-top: 4.5rem;
    }
}

.series-selector {
    .dropdown-toggle {
        min-width: 16rem;
        width: 100%;
    }

    .dropdown-menu {
        max-height: 14rem;
        min-width: 16rem;
        overflow-y: auto;
        transform: translate3d(0px, calc(36px + 0.5rem), 0px) !important;
        border-width: 1px 0;
        border-radius: 7px;
        border-color: #dee2e6 !important;
    }

    .list-group > .list-group-item {
        border-radius: 0 !important;
        text-align: center;
    }

    @media (max-width: $vertical-selector-max-width) {
        .list-group:first-child > .list-group-item:first-child {
            border-top-left-radius: inherit !important;
            border-top-right-radius: inherit !important;
        }

        .list-group:last-child > .list-group-item:last-child {
            border-bottom-left-radius: inherit !important;
            border-bottom-right-radius: inherit !important;
        }
    }

    @media (min-width: $horizontal-selector-min-width) {
        .list-group > .list-group-item {
            border-top-width: 0 !important;
        }

        .list-group:first-child > .list-group-item {
            border-top-width: 1px !important;
        }

        .list-group-item:first-child {
            min-width: 70px;
            box-sizing: content-box;
        }

        .list-group:first-child {
            .list-group-item:first-child {
                border-top-left-radius: inherit !important;
            }

            .list-group-item:last-child {
                border-top-right-radius: inherit !important;
            }
        }

        .list-group:last-child {
            .list-group-item:first-child {
                border-bottom-left-radius: inherit !important;
            }

            .list-group-item:last-child {
                border-bottom-right-radius: inherit !important;
            }
        }

        .list-group:has(> .list-group-item-primary) > .list-group-item {
            border-top-width: 1px !important;
        }

        .list-group:has(+ .list-group > .list-group-item-primary) > .list-group-item {
            border-bottom-width: 0 !important;
        }
    }
}

// Bingo
.bingo-item {
    max-width: 16rem;
}