.panel.title-panel {
  h1 {
    font-size: 5rem;
  }

  .subheader {
    font-weight: normal;
    color: inherit;
    font-size: 1.3rem;
  }

  &>.row {
    --bs-gutter-x: 0;
  }
}

.header-container {
  color: $text-on-primary;

  .header-text-container {

    h1.header-text {
      font-size: 4rem;
      margin-bottom: 0;
      padding-bottom: 1rem;
      color: $text-on-primary;
    }

  }

}

.heading-container {
  //justify-content: space-between;
  //align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.clear {
  flex-basis: 100%;
  height: 0;
  overflow: hidden;
  clear: both;
}

.news-card {
  height: 100%;
  border-color: $primary-color;
}

.countdown-container {
  background-color: $complementary-color;
  text-align: center;
}

.countdown-text {
  color: white !important;
  margin: 0;
}
