{varType App\Modules\Core\BasePresenter $presenter}
{varType string $lang}
{varType App\Models\GamePhaseCalculator $gamePhaseCalculator}


<!DOCTYPE html>
<html lang="{$presenter->lang}">
<head>
    <title>
        {ifset title}{include title} | {/ifset}
        {switch $lang}
            {case "cs"} Fyziklání {$gamePhaseCalculator->getFKSDBEvent()->begin|date:'Y'}
            {default} Fyziklani {$gamePhaseCalculator->getFKSDBEvent()->begin|date:'Y'}
        {/switch}
    </title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="theme-color" content="#e6060d">

    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{_'Team competition in solving physics problems'}"/>
    <meta property="og:image" content="{_'http://physicsbrawl.org/images/fyziklani-logo.png'}"/>
    <meta property="og:description" content="{_'Team competition in solving physics problems.'}"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:locale" content="{$presenter->translator->locales[$presenter->lang]}"/>
    <meta property="og:url" content="{plink //this}"/>
    <link href="{$basePath}/images/icon.png" rel="icon" type="image/png"/>
    <link href="{='assets/main.css'|asset}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;800&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script src="https://kit.fontawesome.com/f424cd1bbe.js" crossorigin="anonymous"></script>
    {block head}{/block}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="{='assets/main.js'|asset}"></script>
    {block scripts}{/block}
</head>

<body>

{block body}
    {control navigation "/images/logo.svg", "Fyziklani " . $gamePhaseCalculator->getFKSDBEvent()->begin->format('Y')}
    <main>
        {block main}
            <div class="panel color-light">
                <section class="inner-container">
                    {ifset subtitle}<div class="subheader">{include subtitle}</div>{/ifset}
                    {ifset title}<h1>{include title}</h1>{/ifset}
                    {include content}
                </section>
            </div>
        {/block}
    </main>
    <footer>
        <div class="panel registration">
            <div class="inner-container">
                <div class="text">
                    {switch $lang}
                        {case 'cs'}Zaujala vás soutěž?
                        {default}Are you interested?
                    {/switch}
                </div>
                {if $gamePhaseCalculator->isRegistration(App\Models\GamePhaseCalculator::NOW)}
                    <a n:href=":Default:Registration:" class="btn btn-outline-light">{switch $lang}{case 'cs'}Registrace{default}Registration{/switch}</a>
                {else}
                    {if $gamePhaseCalculator->isRegistration(App\Models\GamePhaseCalculator::BEFORE)}
                        {switch $lang}
                            {case 'cs'}Registrace se brzy otevře!
                            {default} Registration will open soon!
                        {/switch}
                    {else}
                        {switch $lang}
                            {case 'cs'}Registrace na další ročník ještě není otevřena.
                            {default} Registration for the next year is not open yet.
                        {/switch}
                    {/if}
                {/if}
            </div>
        </div>

        <div class="panel sponsors">
            <div class="inner-container">
                <div class="row">
                    <div class="column" style="float: right; width: 45%">
                        <div class="text" style="text-align: center; font-weight: bold; margin-top: 2rem; margin-bottom: 2rem">{switch $lang}{case cs}Organizátoři soutěže{default}Organizers of the Competition{/switch}</div>
                        <div class="sponsors-row">
                            <a href="https://www.mff.cuni.cz/" style="text-align: center">
                                <img src="{$basePath}/images/logos/mff.png" alt="MFF logo" style="max-height: 6rem; max-width: 13rem">
                            </a>
                            <a href="https://www.msmt.cz/" style="text-align: center">
                                <img src="{$basePath}/images/logos/msmt_cs.jpg" alt="MŠMT logo" style="max-height: 6rem; max-width: 13rem">
                            </a>
                        </div>
                    </div>
                    <div class="column" style="float: left; width: 10%">
                        {*Tohle je fakt zprasené, jestli umíte s CSS, klidně to opravte (prosím)*}
                    </div>
                    <div class="column" style="float: right; width: 45%">
                        <div class="text" style="text-align: center; font-weight: bold; margin-top: 2rem; margin-bottom: 2rem">{switch $lang}{case cs}Generální partneři soutěže{default}General Partners of the Competition{/switch}</div>
                        <div class="sponsors-row">
                            <a href="https://espr-camp.org/" style="text-align: center">
                                <img src="{$basePath}/images/logos/ESPR-logo.png" alt="ESPR logo" style="max-height: 6rem; max-width: 13rem; justify-content: center">
                            </a>
                            <a href="https://www.nfneuron.cz/" style="text-align: center"><img src="{$basePath}/images/logos/neuron-logo.jpg" alt="Neuron logo" style="max-height: 6rem; max-width: 13rem"></a>
                        </div>
                    </div>
                </div>
                <div class="text" style="text-align: center; font-weight: bold; margin-top: 2rem; margin-bottom: 2rem">{switch $lang}{case cs}Partneři soutěže{default}Partners of the Competition{/switch}</div>
                <div class="sponsors-row">
{*                    <a href="https://prometheus-nakl.cz/" style="text-align: center">
{*                       <img src="{$basePath}/images/logos/prometheus-logo.jpg" alt="Prometheus logo" style="max-height: 6rem; max-width: 13rem">*}
{*                    </a>*}
                    <a href="https://vida.cz/" style="text-align: center">
                        <img src="{$basePath}/images/logos/vida-logo.png" alt="Vida logo" style="max-height: 6rem; max-width: 13rem">
                    </a>
                    <a href="https://casioczech.fastcr.cz/" style="text-align: center">
                        <img src="{$basePath}/images/logos/casio-logo.jpg" alt="Casio logo" style="max-height: 6rem; max-width: 13rem">
                    </a>                   
{*                    <a href="https://www.humusoft.cz/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/humusoft.png" alt="Humusoft logo" style="max-height: 6rem; max-width: 13rem">*}
{*                    </a>*}
{*                    <a href="https://www.mathworks.com/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/mathworks.png" alt="Mathworks logo" style="max-height: 6rem; max-width: 13rem">*}
{*                    </a>*}
{*                    <a href="https://www.iaps.info/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/iaps-logo.png" alt="IAPS logo" style="max-height: 5rem; max-width: 11rem">*}
{*                    </a>*}
{*                    <a href="https://www.lindt.cz/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/lindt-logo.jpg" alt="Lindt logo" style="max-height: 6rem; max-width: 13rem">*}
{*                    </a>*}
                    <a href="http://www.kalabria.cz/" style="text-align: center">
                        <img src="{$basePath}/images/logos/limo-logo.png" alt="Kalabria logo" style="max-height: 7rem; max-width: 15rem">
                    </a>
                    <a href="https://www.hobza.cz/" style="text-align: center">
                        <img src="{$basePath}/images/logos/hobza-logo.jpg" alt="Hobza logo" style="max-height: 7rem; max-width: 15rem">
                    </a>
{*                    <a href="http://b2b.cqe.cz/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/cqe-logo.jpg" alt="Stavebnice logo" style="max-height: 10rem; max-width: 20rem">*}
{*                    </a>*}
{*                    <a href="https://www.doller.cz/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/doller-logo.png" alt="Doller logo" style="max-height: 6rem; max-width: 13rem">*}
{*                    </a>*}
{*                    <a href="https://www.escapepoint.cz/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/escape-logo.jpg" alt="Escape logo" style="max-height: 6rem; max-width: 13rem">*}
{*                    </a>*}
{*                    <a href="https://efektivni-altruismus.cz/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/czea-logo.png" alt="CZEA logo" style="max-height: 10rem; max-width: 20rem">*}
{*                    </a>*}
{*                    <a href="https://www.garko.cz/" style="text-align: center">*}
{*                        <img src="{$basePath}/images/logos/garko-logo.png" alt="Garko logo" style="max-height: 6rem; max-width: 13rem">*}
{*                    </a>*}
                 </div>   
            </div>
        </div>

        {*<div class="panel sponsors">
            <div class="inner-container">
                <div class="sponsors-row">
                    <a href="https://www.mff.cuni.cz/" style="text-align: center">
                        <div class="text">
                            {switch $lang}
                                {case 'cs'}Organizátor soutěže
                                {default}Competition Organizer
                            {/switch}
                        </div>
                        <img src="{$basePath}/images/logos/mff.png" alt="MFF logo" style="max-height: 6rem; max-width: 13rem">
                    </a>
                    <a href="" style="text-align: center">
                        <div class="text">
                            {switch $lang}
                                {case 'cs'}Generální partneři soutěže
                                {default}General Partners of the Competition
                            {/switch}
                        </div>
                            <a href="https://www.nfneuron.cz/" style="text-align: center"><img src="{$basePath}/images/logos/neuron-logo.jpg" alt="Neuron logo" style="max-height: 6rem; max-width: 13rem"></a>
                            <a href="https://espr-camp.org/" style="text-align: center">
                                <img src="{$basePath}/images/logos/ESPR-logo.png" alt="ESPR logo" style="max-height: 6rem; max-width: 13rem; justify-content: center">
                            </a>
                    </a>
                    <a href="https://www.msmt.cz/" style="text-align: center">
                        <div class="text">
                            {switch $lang}
                                {case 'cs'}Organizátor soutěže
                                {default}Competition Organizer
                            {/switch}
                        </div>
                        <img src="{$basePath}/images/logos/msmt_cs.jpg" alt="MŠMT logo" style="max-height: 6rem; max-width: 13rem"></a>

                </div>*}

        <div class="panel footer">
            <div class="inner-container row">
                <div class="col-md-6">
                    <img class="logo" src="{$basePath}/images/logo.svg" alt="Fyziklani" />
                    {switch $lang}
                        {case 'cs'}
                        <p>
                            Fyziklání {$gamePhaseCalculator->getFKSDBEvent()->begin|date:'Y'} je organizováno <a href="https://fykos.cz/">FYKOSem</a> &#8211 skupinou vysokoškolských studentů pořádající 36. rokem vzdělávací akce se zaměřením na fyziku. FYKOS je tvořen převážně studenty
                            <a href="https://www.mff.cuni.cz/">Matematicko-fyzikální fakulty Univerzity Karlovy</a>.
                        </p>
                        <p>
                            Realizace soutěže byla podpořena Ministerstvem školství, mládeže a&nbsp;tělovýchovy.
                        </p>
                        {default}
                        <p>
                            Fyziklani {$gamePhaseCalculator->getFKSDBEvent()->begin|date:'Y'} is organized by <a href="https://fykos.org/en">FYKOS</a> &#8211 a group of university students organizing already 36th year of educational events with focus on physics. FYKOS is made up mostly of students from the <a href="https://www.mff.cuni.cz/en">Faculty of Mathematics and Physics, Charles University</a>.
                        </p>
                        <p>
                            The realisation of the competition was supported by the Ministry of Education, Youth and Sports of the Czech Republic.
                        </p>
                    {/switch}
                    <p>
                        <strong>#fykos</strong>
                        {switch $lang}
                            {case 'cs'}<strong>#fyziklani</strong>
                            {default}<strong>#fyziklani{$gamePhaseCalculator->getFKSDBEvent()->begin|date:'Y'}</strong>
                        {/switch}
                        <a href="mailto:fyziklani@fykos.cz">fyziklani@fykos.cz</a>
                    </p>
                    <div class="other-logos">
                        <a target="_blank" href="{switch $lang}{case 'cs'}https://online.fyziklani.cz/{default}https://online.fyziklani.org/{/switch}"><img class="other-logo" src="{$basePath}/images/logos/fyziklani_online_{$lang}.svg"style="max-height: 2rem; margin: 0 1rem 1rem 0"/></a>
                        <a target="_blank" href="https://fykos.cz/"><img class="other-logo" src="{$basePath}/images/logos/fykos_logo_white.png" alt="FYKOS" style="max-height: 2rem; margin: 0 1rem 1rem 0" /></a>
                    </div>
                </div>
                <div class="col-md-3">
                    <nav>
                        <ul>
                            {switch $lang}
                                {case cs}
                                <li>Pro účastníky a učitele
                                    <ul>
                                        <li><a n:href=":Default:AboutTheCompetition:">O soutěži</a></li>
                                        <li><a n:href=":Default:Rules:">Pravidla</a></li>
{*                                        <li><a n:href=":Default:Schedule:">Program</a></li>*}
                                        {if $gamePhaseCalculator->isRegistration(App\Models\GamePhaseCalculator::NOW)}
                                            <li><a n:href=":Default:Registration:">Registrace</a></li>
                                        {/if}
{*                                        <li><a n:href=":Default:Erasmus: lang: en">Program Erasmus+</a></li>*}
                                    </ul>
                                </li>
                                {default}
                                <li>For contestants and teachers
                                    <ul>
                                        <li><a n:href=":Default:AboutTheCompetition:">About</a></li>
                                        <li><a n:href=":Default:Rules:">Rules</a></li>
{*                                        <li><a n:href=":Default:Schedule:">Schedule</a></li>*}
                                        {if $gamePhaseCalculator->isRegistration(App\Models\GamePhaseCalculator::NOW)}
                                            <li><a n:href=":Default:Registration:">Registration</a></li>
                                        {/if}
{*                                        <li><a n:href=":Default:Erasmus: lang: en">Fyziklani International 2022</a></li>*}
                                    </ul>
                                </li>
                            {/switch}
                        </ul>
                    </nav>
                </div>
                <div class="col-md-3">
                    <nav>
                        <ul>
                            {switch $lang}
                                {case cs}
                                <li>Pro partnery
                                    <ul>
                                        <li><a n:href=":Default:Partners:">Podpořte nás</a></li>
{*                                        <li><a href="">Loga a materiály</a></li>*}
{*                                        <li><a href="">Kontakt</a></li>*}
                                    </ul>
                                </li>
                                {default}
                                <li>For partners
                                    <ul>
                                        <li><a n:href=":Default:Partners:">Support us</a></li>
{*                                        <li><a href="">Logos and materials</a></li>*}
{*                                        <li><a href="">Contact</a></li>*}
                                    </ul>
                                </li>
                            {/switch}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

{/block}
</body>
</html>