{varType string $lang}
{varType App\Modules\Core\Language $language}

{block title}Seminář FYKOS{/block}

{block main}
<div class="panel color-auto">
    <section class="inner-container">
        <!-- <div class="subheader">Základní informace</div> -->
        <h1>
            {switch $language->value}
                {case cs}Fyzikální korespondenční seminář
                {default}FYKOS Correspondence Competition
            {/switch}
        </h1>

        <p>
            {switch $language->value}
                {case cs}FYKOS (FYzikální KOrespondenční Seminář) je individuální soutěž, která pro středoškoláky představuje skvělou
                    možnosti si zajímavým způsobem rozšířit chápání fyziky a světa kolem nás, a to např. skrze naše úlohy,
                    zpětnou vazbu, vzorová řešení, rozšiřující texty či účasti na našich akcích. FYKOS je nejstarší soutěží
                    stejnojmenné organizace a&nbsp;momentálně probíhá již jeho {$currentYear}. ročník.
                {default}FYKOS is an individual competition that offers high school students a great opportunity to expand their understanding of physics and the world around us in an interesting way, e.g. through our problems, feedback, sample solutions, supplementary texts or participation in our events. FYKOS is the oldest competition of the organization of the same name and is currently in its {$currentYear}{switch $currentYear % 10}{case 1}st{case 2}nd{case 3}rd{default}th{/switch} year.
            {/switch}
        </p>
        <a class="btn btn-primary mb-3" n:href=":Default:About:default">{switch $language->value}{case cs}O organizaci FYKOS{default}About FYKOS Group{/switch}</a>
        <a class="btn btn-primary mb-3" n:href=":Events:Fykos:rules">{switch $language->value}{case cs}Pravidla semináře{default}Rules of the Competition{/switch}</a>
    </section>
</div>


<div class="panel color-auto">
    <section class="inner-container">
         <h1>
            {switch $language->value}
                {case cs}Shrnutí principu semináře
                {default}Basic Information
            {/switch}
        </h1>

        <div class="rules" style="margin-top: 2rem">
            <div class="title">
                {switch $language->value}
                    {case cs}Co to je
                    {default}What Is This
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}FYKOS je celoroční <strong>individuální</strong> soutěž pro středoškoláky
                    {default}FYKOS is an all-year-round <strong>individual</strong> competition for high school students
                {/switch}
            </div>
        </div>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Jak soutěž probíhá
                    {default}How Does It Work
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}6x ročně publikujeme <a n:href=":Default:Problems:">zde na webu</a> sérii 8 úloh -- některé teoretické, některé experimentální apod. -- na které máte asi měsíc
                    {default}We publish a series of 8 problems 6 times a year -- some theoretical, some experimental, etc. -- which you have about a month to solve
                {/switch}
            </div>
        </div>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Jak odevzdat úlohy
                    {default}How to Submit Solutions
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}Řešení uploadujete přes webový formulář na <a href="https://db.fykos.cz">db.fykos.cz</a>, a to ve formátu PDF
                    {default}You submit your solutions via a web form on <a href="https://db.fykos.cz">db.fykos.cz</a> in PDF format
                {/switch}
            </div>
        </div>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Co potom?
                    {default}What Happens Next?
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}Řešení opravíme a pošleme vám zpět s nápomocnými komentáři a bodovým hodnocením. Zároveň zveřejníme naše autorská řešení, abyste se mohli přiučit, jak bychom úlohu řešili my.
                    {default}We correct your solutions and send them back to you with helpful comments and a score. We also publish our own solutions so that you can learn how we would solve the problem.
                {/switch}
            </div>
        </div>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Vyhodnocení
                    {default}Evaluation
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}Za vyřešené úlohy sbíráte body, které se sčítají do celkového pořadí. Soutěží se ve 4 kategoriích dle ročníku střední školy. Výsledková listina je zveřejněna na webu a nejlepší řešitelé jsou odměněni pěknými cenami nebo účastí na soustředění.
                    {default}You collect points for solved problems, which are added up to the overall ranking. There are 4 categories according to the year of high school. The results are published on the website and the best solvers are rewarded with nice prizes.
                {/switch}
            </div>
        </div>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Co lze používat
                    {default}What Is Allowed
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}Jakákoliv literatura, libovolné počítačové programy / programovací jazyky (Wolfram, Geogebra,...) i internet. Pokud si nevíte rady, můžete i konzultovat. Konzultovat a opisovat je rozdíl! Zároveň je zakázáno použití nástrojů generativní umělé inteligence. Toto zahrnuje mimo jiné nástroje typu ChatGPT. Seminář slouží hlavně pro Vás, abyste se ve fyzice zlepšili -- jakékoliv opisování nebo přílišné využívání AI tento cíl zhatí.
                    {default}Any literature, any computer programs / programming languages (Wolfram, Geogebra,...) and the internet. If you are stuck, you can consult. Consulting and copying are different things! Also, the use of generative AI tools is prohibited. This includes tools such as ChatGPT. The seminar is mainly for you to improve in physics -- any copying or excessive use of AI will ruin this goal.
                {/switch}
            </div>
        </div>
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
         <h1>
            {switch $language->value}
                {case cs}Často kladené otázky
                {default}Frequently Asked Questions
            {/switch}
        </h1>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Musím vyřešit všech 8 úloh?
                    {default}Do I Have to Solve All 8 Problems?
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}Ne, každá úloha se počítá a z každého pokusu se můžete něco naučit. Řešitelé, kteří spočítají úplně všechno, jsou spíše výjimkou. Hodnotíme především snahu a postup.
                    {default}No, each problem counts and you can learn something from each attempt. Participants who solve everything are rather an exception. We evaluate mainly the effort and the process.
                {/switch}
            </div>
        </div>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Musím začít řešit u první série?
                    {default}Do I Have to Start Solving at the First Series?
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}Ne, můžete začít kdykoliv během roku a můžete vyřešit jen ty série, které chcete. Body pro účast na soustředění se počítají za první 3 série pro jarní a za poslední 3 série pro podzimní soustředění. Jinak ale vůbec nezáleží na tom, kdy se připojíte.
                    {default}No, you can start at any time during the year and you can solve only the series you want. It doesn't matter when you join.
                {/switch}
            </div>
        </div>
        <div class="rules">
            <div class="title">
                {switch $language->value}
                    {case cs}Jak se stát řešitelem?
                    {default}How to Become a Participant?
                {/switch}
            </div>
            <div class="description">
                {switch $language->value}
                    {case cs}Snadno! Stačí nahrát řešení některých úloh z aktuální série a vyplnit základní informace o své osobě (jméno, příjmení, datum narození, adresu, školu a kategorii) skrz FYKOSí <a href="https://db.fykos.cz">webové rozhraní</a>.
                    {default}Easily! Just upload solutions to some problems from the current series and fill in basic information about yourself (name, surname, date of birth, address, school and category) through the FYKOS <a href="https://db.fykos.cz">web interface</a>.
                {/switch}
            </div>
        </div>
        {if $lang == 'cs'}
            <div class="rules">
                <div class="title">
                    Najdu někde shrnutí ročníku?
                </div>
                <div class="description">
                    FYKOS každým rokem vydává tzv. ročenku, která shrnuje celý příslušný ročník
                    semináře. Od zadání úloh přes autorská řešení a seriál na pokračování až po výsledkovou listinu a krátké zprávy o
                    všech proběhlých akcích organizovaných FYKOSem. Dostanou ji všichni účatníci daného ročníku (pokud o ni mají zájem). Pokud byste chtěli některou ze starších ročenek, napište nám na <a href="mailto:fykos@fykos.cz">fykos@fykos.cz</a>.
                </div>
            </div>
        {/if}
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">

        <h1>
            {switch $language->value}
                {case cs}Proč řešit FYKOS?
                {default}Why Participate in FYKOS?
            {/switch}
        </h1>
        <p>
            {switch $language->value}
                {case cs}Řešitelé FYKOSu získávají praxi v řešení fyzikálních problémů a&nbsp;hlubší náhled na jejich podstatu.
                    FYKOS též slouží jako
                    velmi vhodná přípravou pro současné a&nbsp;budoucí úspěšné řešitele jiných fyzikálních soutěží (<a
                        href="http://fyzikalniolympiada.cz/">Fyzikální olympiáda</a>, <a
                        href="http://www.jcmf.cz/?q=cz/node/35">Turnaj
                        mladých fyziků</a> apod.). Je také dobrým odrazovým
                    můstkem pro studium na <a href="http://mff.cuni.cz/">Matematicko-fyzikální fakultě UK</a> nebo dalších technických fakultách.
                {default}FYKOS participants gain practice in solving physics problems and a deeper understanding of their nature.
                    FYKOS also serves as
                    a great preparation for current and future successful participants in other physics competitions (Physics Olympiads, <a href="https://physicsbrawl.org/">Physics Brawl Online</a>, etc.). It is also a good stepping stone
                    for studying at the <a href="http://mff.cuni.cz/">Faculty of Mathematics and Physics, Charles University</a> or other technical faculties.
            {/switch}
        </p>
        {if $lang == 'cs'}
            <p>
                Možná nejcennějším benefitem je však to, že na různých akcích pořádaných FYKOSem se utvářejí přátelství mezi lidé
                s obdobným způsobem myšlení a společnými zájmy.
            </p>
        {/if}

        {switch $language->value}
            {case cs}
                <h3>Odměny za řešení</h3>
                <p>
                    Největší odměnou úspěšným řešitelům jsou <a n:href=":Events:Camps:">soustředění</a>, která
                    se konají dvakrát do roka a&nbsp;jsou na ně zvaní řešitelé podle umístění v semináři. Na řešitele tam čekají přednášky z oblastí fyziky, matematiky a informatiky, různé hry
                    a soutěže nebo skupinové zpracování experimentů. Tradičním dárkem pro účastníky soustředění jsou různé FYKOSí předměty,
                    jako například trička, hrnky, ponožky či bloky.
                </p>
                <p>
                    Nejlepší řešitelé jsou odměněni odbornou či populární
                    knížkou, společenskou hrou, tričkem, mikinou nebo jinou hodnotnou cenou.
                </p>
                <p>
                    Navíc za každou úlohu, za kterou dostane řešitel bonusový bod (tj. dostane víc bodů než je maximum před
                    aplikací bodového zvýhodnění), získá drobnou odměnu jako např. propisku, placku či blok (podle aktuálních
                    zásob). Odměny za bonusy jsou posílány s&nbsp;každou sérií poštou.
                </p>
            {default}
                <h3>Rewards for Participating</h3>
                <p>
                    The best participants also receive valuable prizes such as books, board games, t-shirts, hoodies, or other items.
                </p>
        {/switch}

        {if $lang == 'cs'}
            <h3>Prominutí přijímacích zkoušek na MFF UK</h3>
            <p>
                Chtěli byste jít na Matfyz aniž byste museli dělat přijímací zkoušky? Řešení FYKOSu může být jedna
                z&nbsp;cest!
                Stačí dosáhnout za nějaký ročník alespoň 50&nbsp;% z&nbsp;celkového počtu bodů a&nbsp;získáte tak Osvědčení
                úspěšného
                řešitele FYKOSu. To pak stačí přiložit k žádosti o&nbsp;přijetí na MFF UK. Více informací najdete na <a
                    href="https://www.mff.cuni.cz/cs/uchazeci/prijimaci-rizeni/prijimaci-rizeni-ke-studiu-bakalarskych-programu">webu
                    fakulty</a>.
            </p>
            <p>
                Poznámka k maturantům: 6.&nbsp;série většinou končí až po uzávěrce přijímání osvědčení o úspěšném řešiteli na MFF
                UK pro přijetí ke studiu bez přijímacích zkoušek. Nicméně, osvědčení je při dosažení požadovaných bodů možné vydat
                i dříve (např. po 4.&nbsp;sérii).
                I&nbsp;maturanti si tedy řešením FYKOSu mohou zajistit prominutí přijímacích zkoušek na MFF
                UK. Pokud máte jako maturant o&nbsp;toto dřívější osvědčení zájem, napište nám alespoň měsíc před deadlinem stanoveným MFF UK na&nbsp;<a
                    href="mailto:fykos@fykos.cz">fykos@fykos.cz</a>.
            </p>
        {/if}
    </section>
</div>

<div class="panel color-auto">
    <section class="inner-container">
        <h1>
            {switch $language->value}
                {case cs}Chcete začít řešit?
                {default}Want to Start Participating?
            {/switch}
        </h1>

        <p>
            {switch $language->value}
                {case cs}Už si stačí jen přečíst pravidla, podívat se na zadání a pustit se do fyziky!
                {default}All you need to do is read the rules, check the assignments, and dive into physics!
            {/switch}
        </p>
        <a class="btn btn-primary" n:href=":Events:Fykos:rules">{switch $language->value}{case cs}Pravidla{default}Rules{/switch}</a>
    </section>
</div>
{/block}

{*{block main}*}
{* <div class="panel color-primary title-panel">*}
    {* <div class="inner-container row align-items-center">*}
        {* <h1>*}
            {* FYKOS*}
            {* </h1>*}
        {* </div>*}
    {* </div>*}
{*{/block}*}
