{varType array[] $pdfs}
<div>
    {foreach $pdfs as $pdffile}
    <a class="btn btn-primary" target="_blank" href="{$pdffile['src']}">
        <i class="far fa-file-pdf"></i>
        <span class="skip-3px"></span>
        {$pdffile['name']}
    </a>
    {/foreach}
</div>