{varType array[] $pdfs}
<div>
    {foreach $pdfs as $pdfFile}
    <a class="btn btn-primary" target="_blank" href="{$pdfFile['src']}">
        <i class="fa-regular fa-file-pdf"></i>
        <span class="skip-3px"></span>
        {$pdfFile['name']}
    </a>
    {/foreach}
</div>