{block title}Jak psát experimenty{/block}

{block main}
<div class="panel color-auto">
    <section class="inner-container">
        <h1>Jak psát experimenty</h1>
        TODO
    </section>
</div>
{/block}
