.organiser {
  padding: 1rem;

  .image-cropper {
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 50%;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    border-radius: 50%;
  }

  .name {
    font-weight: bold;
    font-size: 2rem;
    small {
      font-weight: normal;
    }
  }

  .about {
    color: gray;
  }
}
