@use "sass:math";

$scaling: 1.04;


.zig-zag {
  //opacity: 0.7;
  visibility: hidden;

  .rule-block:hover {
    transform: scale($scaling);
    opacity: 1;
  }
}

.rule-block {
  visibility: visible;
  background-color: $primary-color-dimmed;
  display: flex;
  border: .1em solid $primary-color;
  text-align: center;
  margin-bottom: 2em;
  align-items: center;
  opacity: 0.9;

  .description {
    flex-grow: 3;
    text-align: left;
    margin: .5em;
  }

  .picture {
    margin: 1em;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}
