$timeline-line-position: 4.5rem;
$timeline-icon-size: .8rem;
$timeline-line-width: .2rem;

/**
 * Vertical timeline of events
 */
@mixin timeline($wideness) {
    position: relative;
    padding: 1.5rem 0 1rem;

    & > div {
        position: relative;
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    & > div::before, &::before {
        content: '';
        position: absolute;
        top: 0;
        left: $timeline-line-position + $wideness;
        height: 100%;
        width: $timeline-line-width;
        background: $text-dimmed;
    }

    &::before {
        background: none;
        border-left: $timeline-line-width dashed $text-dimmed;
    }

    & > div > div {
        position: relative;
        margin: 0 0 1rem;
    }

    .timeline-element-icon {
        position: absolute;
        top: .3rem;
        left: $timeline-line-position + $wideness;
        width: $timeline-icon-size;
        height: $timeline-icon-size;
        margin-left: - $timeline-icon-size / 2 + $timeline-line-width / 2;
        background-color: $primary-color;
    }

    .timeline-group {
        text-transform: uppercase;
        margin: 0 0 1rem;
        padding: .2rem .5rem;
        font-weight: bold;
        color: white;
        background: $primary-color;

        margin-left: $timeline-line-position + $wideness + $timeline-line-width / 2 !important;
        transform: translate(-50%,0);
        display: inline-block;
    }

    .timeline-element-content, .timeline-group {
        position: relative;
        margin-left: $timeline-line-position + $wideness + 2rem;
    }

    .timeline-title {
        margin: 0 0 .25rem;
        font-weight: bold;
    }

    .timeline-competition-title {
        margin: 0 0 .25rem;
        color: $primary-color;
        font-weight: bold;
    }

    .timeline-element-date {
        display: block;
        position: absolute;
        left: - ($timeline-line-position + $wideness + 2rem);
        top: 0;
        padding-right: 10px;
        text-align: right;
        white-space: nowrap;
    }
}

.timeline {@include timeline(0);}
.timeline.timeline-wider {@include timeline(3rem);}
