{* <a class="btn btn-primary my-2 mr-4" href="{$yearbookPath}">
    <i class="far fa-file-pdf"></i><span class="skip-3px"></span> ročenka {$year}. ročníku
</a> *}
&rarr; <a href="{$yearbookPath}">ročenka {$year}. ročníku</a>