.panel.title-panel {
  h1 {
    color: white;
    font-weight: bold;
    font-size: min(20vw,11rem);
    margin-bottom: 0;
    text-align: center;
  }
  h2 {
    color: white;
  }
  time.competition-date {
    color: $primary-color;
  }
}

nav.navbar h1 {
  font-weight: bold;
}

nav.navbar, .panel.title-panel {
  background-image: url("./bg.jpg");
  background-color: #00000090;
  background-size: cover;
  background-position-y: center;
  background-blend-mode: color;
  background-attachment: fixed;
}
