.panel.title-panel {
  text-align: center;
  background-image: url("https://fykos.cz/_media/rocnik35/dsef/dsef_2021_background.jpg");
  h1 {
    color: white;
    font-weight: bold;
    font-size: 11rem;
    margin-bottom: 0;
  }
  h2 {
    color: white;
  }
}
