html, body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: black;
}

.btn-primary {
  @extend .btn-primary;
  color: $text-on-primary;
}

.panel {
  color: #4a4a4a;
  h1, h2, h3, h4, h5, h6 {
    color: black;
  }
}

ul.stylized {
  list-style: none;

  li::before {
    content: " ";
    background-color: $primary;
    display: block;
    width: .5rem;
    height: .5rem;
    margin-left: -1.5rem;
    position: absolute;
    margin-top: 0.5rem;
  }
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

/**
 * Everything except main menu is consisted of panels.
 * Panel is a rectangle with .inner-container.
 */
.panel {
  padding: 4.3rem 0;

  &.color-dark, &.color-auto:nth-of-type(2n) {
    background-color: $panel-color-dark;

    .inverse-background {
      background-color: $panel-color-light;
    }
  }

  &.color-light, &.sponsors, &.color-auto:nth-of-type(2n+1) {
    background-color: $panel-color-light;

    .inverse-background {
      background-color: $panel-color-dark;
    }
  }

  &.sponsors .inner-container .sponsors-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;

    a {
      display: block;
      text-decoration: none;
      img {
        @extend .img-fluid;
      }
      .text {
        text-align: center;
        color: black;
        font-weight: bold;
        padding-bottom: 2rem;
      }
    }
  }

  &.footer {
    background-color: #000000;
    color: white;

    .row {
      --bs-gutter-x: 3rem;
    }

    a {
      color: white;
      font-weight: bold;
      text-decoration: none;
    }

    .logo {
      max-height: 3rem;
      margin-bottom: 2rem;
      @extend .img-fluid;
    }

    .other-logos {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid #FFFFFF80;
      .other-logo {
        @extend .img-fluid;
        opacity: .5;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  // Inner container
  & > .inner-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $page-width;
  }

  &.registration {
    padding: 2.5rem 0;

    & > .inner-container {
      display: flex;
      align-items: center;

      .text {
        flex-grow: 1;
        font-size: 1.4rem;
        margin-right: 1rem;
      }
    }
  }

  .subheader {
    font-weight: bold;
    color: $primary-color;
    &.complementary {
      color: $complementary-color;
    }
  }

  &.color-primary, &.registration {
    background-color: $primary-color;
    color: white;

    .subheader {
      color: white;
    }

    a:not(.btn) {
      color: white;
    }

    .btn-primary {
      background: $secondary;
      color: black;
    }
  }

  h1 {
    size: 2.1rem;
    font-weight: 600;
    margin-bottom: 2.1rem;
  }
}


.panel.footer nav {
  & > ul > li {
    font-weight: bold;

    & li {
      margin: 1rem 0;

      a {
        text-decoration: none;
        color: white;
        font-weight: normal;
      }
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}

/**
 * By using #team-id in URL, the team will blink
 */
.team-list {
  li:target {
    background-color: $complementary-color;
    animation: blink-target .8s 5;
  }

  @keyframes blink-target {
    100% { background-color: rgba($complementary-color, 0); }
  }
}

.btn-panel-action {
  font-weight: bold;
  font-size: .75rem;
  text-transform: uppercase;
  padding: 0;
  margin-top: 1rem;
  margin-right: 3rem;

  &::after {
    content: "â¯";
    margin-left: .2rem;
  }
}

.fyziklani-banner {
  /*position: fixed;*/
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem 0;
  background-color: $complementary-color;
  color: black;

  // Inner container
  & > .inner-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $page-width;

    display: flex;
    align-items: center;

    .text {
      flex-grow: 1;
    }
  }
}

/**
 * For tables that looks like a schedule. Each row is a different hour and columns represents different groups.
 */
.schedule-table {
  td {
    vertical-align: middle;
    border: 1px solid $text-dimmed;
  }
}
