// Our theme
$primary-color: rgb(0, 174, 107); // Do not forget to modify meta theme-color in ../templates/@layout.latte as well
$primary-color-dimmed: #32be88;
$complementary-color: #ffd700;

$panel-color-dark: #f5f5f5;
$panel-color-light: white;

$text-on-primary: white;
$text-dimmed: #CCCCCC;

$page-width: 77rem;

// Use the following font weights.
// To change them you need to modify fonts.googleapis.com link in <head> tag
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 800;

// Override bootstrap variables
$primary: $primary-color;
$secondary: $complementary-color;
$border-radius: 0;

// Navbar
$navbar-dark-color: $text-on-primary;
$navbar-dark-hover-color: $text-on-primary;


@import "node_modules/bootstrap/scss/bootstrap";
$flag-icon-css-path: '/node_modules/flag-icon-css/flags';
@import '../../../../../node_modules/flag-icon-css/sass/flag-icon';


// @import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "./layout";
@import "./titlepage";
@import "./navigation";

@import '../../DefaultModule/styles/rules';
@import '../../DefaultModule/styles/faq';
@import '../../DefaultModule/styles/timeline';
@import '../../DefaultModule/styles/organisers';
@import '../../ArchiveModule/assets/reports';
@import '../../DefaultModule/styles/archive';

@import './panels/map';

@import '../../../../Components/ResultsPanel/styles';
@import '../../../../Components/TeamResults/styles';
