.panel.title-panel {
  h1 {
    font-size: 2.8rem;
    color: white;
  }

  time.competition-date {
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
    color: $complementary-color;
  }

  .subheader {
    font-weight: normal;
    color: inherit;
    font-size: 1.3rem;
  }

  .buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.4rem;
  }

  .topic-panel {
    margin-top: 2rem;

    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  & > .row {
    --bs-gutter-x: 0;
  }
}

.prices {
  &.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
  }

  .price-box {
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
    color: white;
    font-size: 2rem;
    padding: 1.5rem;
    transition: all 0.5s ease;
    font-weight: 500;
    line-height: 1.45;

    &.small {
      height: 16rem;
    }

    &.large {
      height: 21rem;
    }
  }
}

.fyziklani-box {
  background-color: #f44336;
  //background-image: url("https://fyziklani.cz/lib/tpl/redfoftpl/images/prague.svg");
  background-image: url(./scholarship.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 45rem;

  &:hover {
    background-size: 45rem * 1.1;
  }
}

.factorio-box {
  background-color: #222222;
  background-image: url("https://cdn.factorio.com/assets/img/artwork/substation.png");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;

  &:hover {
    background-size: 110% * 1.1;
  }
}

.mathematica-box {
  background-color: #222222;
  background-image: url("wolfram.png");
  background-repeat: no-repeat;
  background-position: 150% 150%;
  background-size: 15rem;

  &:hover {
    background-size: 15rem * 1.1;
  }
}

.brilliant-box {
  background-color: #21c24e;
  background-image: url("./brilliant_white.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: 15rem;

  &:hover {
    background-size: 15rem * 1.1;
  }
}

.origin-box {
  background-color: #000022;
  background-image: url("./origin_with_tag.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: 15rem;

  &:hover {
    background-size: 15rem * 1.1;
  }
}

.aops-box {
  background-color: #9BD1E5;
  background-image: url("./aops_new.png");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: 15rem;

  &:hover {
    background-size: 15rem * 1.1;
  }
}

.physolymp-box {
  background-color: #E6B89C;
  background-image: url("./logo_256.svg");
  background-repeat: no-repeat;
  background-position: 80% 80%;
  background-size: 15rem;

  &:hover {
    background-size: 15rem * 1.1;
  }
}

.price-box.chess-box {
  color: black;
  background-color: white;
  background-image: url("./chess-removebg-preview (1).png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;

  &:hover {
    background-size: 50% * 1.1;
  }
}

.price-box.deskovky-box {
  background-color: #ead56c;
  background-image: url("./deskovky.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 75%;

  &:hover {
    background-size: 75% * 1.1;
  }
}

.price-box.propagacni-box {
  background-color: #666666;
  background-image: url("./hrnecek.png");
  background-repeat: no-repeat;
  background-size: 44%;
  background-position: 109% -17%;

  &:hover {
    background-size: 44% * 1.1;
    background-position: 119% 14%;
  }
}

.price-box.bag-box {
  background-color: #ffe67d;
  background-image: url("./taska.png");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: bottom 120% right -15%;

  &:hover {
    background-size: 40% * 1.1;
    background-position: bottom 40% right -10%;
  }
}

.price-box.hoodie-box {
  background-color: #830e0e;
  background-image: url("./mikina.png");
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: bottom -50% right -50%;

  &:hover {
    background-size: 65% * 1.1;
  }
}

.price-box.knihy-box {
  background-color: #5a83c5;
  background-image: url("./blue_book.png");
  background-repeat: no-repeat;
  background-position: 120% 4.7rem;
  background-size: 60%;

  display: flex;
  align-items: center;

  &:hover {
    background-size: 65%;
    background-position: 120% 2.9rem;
  }
}

.price-box.kerbal-box {
  color: white;
  background-color: black;
  background-image: url("./space.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: bottom 100% right -15%;

  &:hover {
    background-size: 50% * 1.1;
    background-position: bottom 40% right -10%;
  }
}

.price-box.avast-box {
  color: black;
  background-color: #ffddbf;
  background-image: url("./avast_pc.png");
  background-repeat: no-repeat;
  background-position: 125% 100%;
  background-size: 80%;

  &:hover {
    background-size: 80% * 1.1;
  }
}

.upper-home-countdown {
  text-align: center;

  .info-text {
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .countdown-value {
    font-size: 2.2rem;
  }
}

.upper-home-registration-deadline {
  margin-top: 0.5rem;
  text-align: center;
}

.title-page-problem {
  border-left: 0.25rem solid $primary-color;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
}

.begin-countdown {
  text-align: center;
  font-size: 1.5rem;

  .countdown-value {
    font-weight: bold;
  }

  .countdown-value,
  .countdown-text {
    font-size: 1rem;
  }
}

.social-sites {
  margin-right: 1.5rem;
}

@import "../../DefaultModule/styles/legends";
