.panel.title-panel {
  h1 {
    font-size: 2.8rem;
    color: white;
  }

  time.competition-date {
    font-weight: bold;
    display: block;
    font-size: 1.3rem;
    color: $complementary-color;
  }

  .subheader {
    font-weight: normal;
    color: inherit;
    font-size: 1.3rem;
  }

  .buttons {
    margin-top: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 0.4rem;
  }

  .topic-panel {
    margin-top: 2rem;
    @include media-breakpoint-up(md) {
      margin-top: 0;
    }
  }

  &>.row {
    --bs-gutter-x: 0;
  }
}

.prices {
  &.row {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
  }

  .price-box {
    display: block;
    text-decoration: none;
    margin-bottom: 1rem;
    color: white;
    font-size: 2rem;
    padding: 1.5rem;
    transition: all .5s ease;
    font-weight: 500;
    line-height: 1.45;

    &.small {
      height: 16rem;
    }

    &.large {
      height: 21rem;
    }
  }
}

.fyziklani-international-box {
  background-color: #F44336;
  background-image: url("https://fyziklani.cz/lib/tpl/redfoftpl/images/prague.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 60rem;

  &:hover {
    background-size: 60rem*1.1;
  }
}

.mathematica-box {
  background-color: #222222;
  background-image: url("wolfram.png");
  background-repeat: no-repeat;
  background-position: 150% 150%;
  background-size: 15rem;

  &:hover {
    background-size: 15rem*1.1;
  }
}

.price-box.orgpad-box {
  color: black;
  background-color: white;
  background-image: url("./orgpad.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50%;

  &:hover {
    background-size: 50%*1.1;
  }
}

.price-box.deskovky-box {
  background-color: #EAD56C;
  background-image: url("./deskovky.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 75%;

  &:hover {
    background-size: 75%*1.1;
  }
}

.price-box.knihy-box {
  background-color: #5a83c5;
  background-image: url("./blue_book.png");
  background-repeat: no-repeat;
  background-position: 120% 4.7rem;
  background-size: 60%;

  display: flex;
  align-items: center;

  &:hover {
    background-size: 65%;
    background-position: 120% 2.9rem;
  }
}

.upper-home-countdown {
  text-align: center;

  .info-text {
    font-weight: bold;
    padding-bottom: 1rem;
  }

  .countdown-value {
    font-size: 2.2rem;
  }
}

.title-page-problem {
  border-left: .25rem solid $primary-color;
  margin-bottom: 2rem;
  padding: .5rem 1rem;
}

.begin-countdown {
  text-align: center;
  font-size: 1.5rem;
  .countdown-value {
    font-weight: bold;
  }
  .countdown-value, .countdown-text {
    font-size: 1rem;
  }
}

@import "../../DefaultModule/styles/legends";
