{varType string $lang}
{block title}
Pro sponzory
{/block}

{block main}
<div class="panel color-auto">
    <h1 class="inner-container" style="color:red">TODO stránka pro/se sponzory Výfuku<h1>
</div>
{/block}
