{block content}
<p>
    The organisational regulations are currently avaiable only in <a href="{$basePath}/download/2021/Organisational%20Regulations%20-%20Physics%20Brawl%20Online%20(2021-08-02).pdf">PDF</a>.
</p>
{/block}
