{varType App\Modules\Downloader\Models\ContestYearModel $currentContestYear}

{block title}Zadání{/block}

{block main}
<div class="panel color-auto">
    <div class="inner-container">
        <div>
            <h1>
                Zadání {(int)$series->label > 6 ? (int)$series->label - 7 . ". prázdninové" : $series->label . "."} série {$series->contestYear['year']}. ročníku
            </h1>
            {if $series->getDeadline()}
                <div>
                    Termín odevzdání: <strong>{$series->getDeadline()|date:"d. m. Y, H:i"}</strong>
                </div>
            {/if}
            <a class="btn btn-secondary mt-2" n:href="HowToSolve:default">
                <i class="fas fa-circle-info me-2"></i>Jak se zapojit
            </a>
            {if $series->series == 1}
                <a class="btn btn-secondary mt-2" n:href="HowToSolve:solutions">
                    <i class="fas fa-file-pen me-2"></i>Jak psát řešení
                </a>
            {/if}
            <a class="btn btn-secondary mt-2" n:href="Bingo:default">
                <i class="fas fa-gift me-2"></i>Výfučí bingo
            </a>

            <div class="selector-container mt-2">
                <div class="dropdown series-selector">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {$series->contestYear['year']}. ročník
                    </button>
                    <div class="dropdown-menu dropdown-menu-end p-0">
                        {foreach $yearsAndSeries as $contestYear}
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item list-group-item-secondary text-nowrap">
                                {$contestYear->year}. ročník
                            </li>
                            {foreach $contestYear->series as $seriesOption}
                            <a n:class="'list-group-item list-group-item-action', $series->contestYear['year'] == $contestYear->year && $series->label == $seriesOption->label ? list-group-item-primary"
                               href="{plink 'this' 'year'=>$contestYear->year, 'series'=>(int)$seriesOption->label}">{(int)$seriesOption->label > 6 ? "P" . (int)$seriesOption->label - 7 : (int)$seriesOption->label}</a>
                            {/foreach}
                        </ul>
                        {/foreach}
                    </div>
                </div>
                {if sizeof($currentContestYear->series) > 1}
                <ul class="list-group list-group-horizontal-sm mt-2">
                    {foreach $currentContestYear->series as $seriesOption}
                        <a n:class="'list-group-item list-group-item-action', $series->label === $seriesOption->label ? list-group-item-primary"
                           href="{plink 'this' 'year'=>$currentContestYear->year, 'series'=>(int)$seriesOption->label}">{(int)$seriesOption->label > 6 ? "P" . (int)$seriesOption->label - 7 : (int)$seriesOption->label}</a>
                    {/foreach}
                </ul>
                {/if}
            </div>
        </div>

        {php $serialPath = $fileService->getSerial('vyfuk', $series, $lang)}
        {php $batchPath = $fileService->getBatch('vyfuk', $series, $lang)}
        <div class="tasks-container {if !$serialPath || !$batchPath}tasks-margin{/if}">
            {if $serialPath}
            <a class="btn btn-primary mt-2 mr-4" href="{$serialPath}">
                <i class="far fa-file-pdf"></i><span class="skip-3px"></span> Text Výfučtení {$series->label}.
                série
            </a>
            {/if}
            {if new Datetime() > $series->getDeadline() && $batchPath}
            <a class="btn btn-primary mt-2 mr-4" href="{$batchPath}">
                <i class="far fa-file-pdf"></i><span class="skip-3px"></span> Brožurka s řešeními
            </a>
            {/if}
            <div class="row mt-4">
                {foreach $problems as $problem}
                    {control problem $problem}
                {/foreach}
            </div>
        </div>
    </div>
</div>

{control imagePreviewModal}

{/block}
