{block title}Important information before registration{/block}

{block content}
    TODO Myslet na to, že jsou více cizinci, dal bych tady i to, že kromě FOLu existuje i FOF a FYKOS, aby si to fakt nepletli
{/block}
