// Stylesheet file for FYKOS-wide footer that is used on all pages.
// Please keep in mind, that the footer should be roughly same on any site.

.fykos-footer {
  background-color: #000000;
  color: white;

  // From .panel
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  & > .inner-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 77rem;
  }

  .row {
    --bs-gutter-x: 3rem;
  }

  a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .logo {
    max-height: 3rem;
    margin-bottom: 2rem;
    @extend .img-fluid;
  }

  .other-logos {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #FFFFFF80;
    .other-logo {
      @extend .img-fluid;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
    }
  }
}
