html, body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $primary-color;
}

.btn-primary-FOL-style{
  @extend .btn-primary;
  color: $text-on-primary;
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

/**
 * Everything except main menu is consisted of panels.
 * Panel is a rectangle with .inner-container.
 */
.panel {
  padding: 4.3rem 0;

  &.color-dark {
    background-color: $panel-color-dark;
  }

  &.color-light, &.sponsors {
    background-color: $panel-color-light;
  }

  &.sponsors .inner-container .sponsors-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      margin: 1rem;

      img {
        @extend .img-fluid;
      }
    }
  }

  &.color-primary, &.registration {
    background-color: $primary-color;
    color: white;
  }

  &.footer {
    background-color: #000000;
    color: white;
  }

  // Inner container
  &>.inner-container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 77rem;
  }

  &.registration {
    padding: 2.5rem 0;

    &>.inner-container {
      display: flex;
      align-items: center;

      .text {
        flex-grow: 1;
        font-size: 1.4rem;
      }
    }
  }

  .subheader {
    font-weight: bold;
    color: $primary-color;
  }

  h1 {
    size: 2.1rem;
    font-weight: bold;
    margin-bottom: 2.1rem;
  }
}


.panel.footer nav {
  &>ul>li {
    font-weight: bold;

    & li {
      margin: 1rem 0;
      a {
        text-decoration: none;
        color: white;
        font-weight: normal;
      }
    }
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}
