html, body {
  height: 100%;
}

footer {
  height: 5rem;
}

main {
  min-height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: $primary-color;
}

.btn-primary-FOL-style{
  @extend .btn-primary;
  color: $text-on-primary;
}

a:hover {
  text-decoration: inherit;
  color: inherit;
}

header, footer {
  color: $text-on-primary;
}

.mode_show .inner-container article {
  max-width: 45em;
}

.full-width .inner-container article {
  max-width: initial;
}

.inner-container {
  background: white;
  //color: white;

  main {
    padding: 2em 5%;
    margin: 0 auto;
    box-sizing: content-box;
    font-size: 1.2rem;
    max-width: 45em;

    h1 {
      margin-bottom: 2.5rem;
      font-size: 3rem;
      font-weight: $font-weight-bold;
    }

    h2, h3, h4, h5 {
      font-weight: $font-weight-bold;
    }

    p {
      text-align: justify;
    }
  }

  main.full-width {
    max-width: none;
  }
}

body {
  background-color: $primary-color;
}
