// Our theme
$primary-color: rgb(0, 174, 107);
$primary-color-dimmed: rgb(0, 174, 107);
$text-on-primary: white;

// Use the following font weights.
// To change them you need to modify fonts.googleapis.com link in <head> tag
$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-bold: 800;

// Override bootstrap variables
$primary: $primary-color-dimmed;

@import "node_modules/bootstrap/scss/bootstrap";
$flag-icon-css-path: '/node_modules/flag-icon-css/flags';
@import '../../../../node_modules/flag-icon-css/sass/flag-icon';


// @import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "./layout.scss";
@import "./titlepage.scss";

@import '../../DefaultModule/styles/rules';
@import '../../DefaultModule/styles/faq';
@import '../../../Components/styles/navigation';
@import '../../ArchiveModule/templates/Reports/gallery';