.panel.title-panel {
    h1 {
        font-size: 2.8rem;
    }

    .subheader {
        font-weight: normal;
        color: inherit;
        font-size: 1.3rem;
    }

    .buttons {
        margin-top: 2.5rem;
    }

    .topic-panel {
        margin-top: 2rem;
        @include media-breakpoint-up(md) { margin-top: 0; }
    }
}

.prices {
    &.row {
        --bs-gutter-x: 1rem;
        --bs-gutter-y: 0;
    }

    .price-box {
        display: block;
        text-decoration: none;
        margin-bottom: 1rem;
        color: white;
        font-size: 2rem;
        padding: 1.5rem;
        &.small {
            height: 16rem;
        }
        &.large {
            height: 21rem;
        }
    }
}
