{varType Fykosak\NetteFKSDBDownloader\ORM\Models\ModelSchedule[] $data}
{block main}
    <div class="panel color-auto">
        <section class="inner-container">
            <h1>The program details</h1>
            <p>The information on this page is subject to change.</p>
            <div>
                You will find here:
                <ul>
                    <li><a href="#teachers">Program for teachers during the competition</a></li>
                    <li><a href="#lectures">Schedule and annotations of Saturday lectures</a></li>
                    <li><a href="#excursions">Schedule and annotations of Saturday excursions</a></li>
                </ul>
            </div>
        </section>
    </div>

    <div class="panel color-auto" id="teachers">
        <section class="inner-container">
            <div class="subheader">Friday</div>
            <h1>Program for teachers 10. 2.</h1>
            <table class="inline table" style="text-align: center;">
                <thead style="border-bottom: 1px solid;">
                <tr>
                    <th></th>
                    <th><strong>PVA Letňany</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>10:30</th>
                    <td>Ing. Petr Dvořák, Ph.D.: Elektronová mikroskopie: vstupenka do nanosvěta? [CZ]</td>
                </tr>
                <tr>
                    <th>11:20</th>
                    <td colspan="3">Break</td>
                </tr>
                <tr>
                    <th>11:35</th>
                    <td>Ing. Petr Dvořák, Ph.D.: Optické metapovrchy: optické komponenty budoucnosti? [CZ]</td>
                </tr>
                <tr>
                    <th>12:30</th>
                    <td colspan="3">End</td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="panel color-auto">
        <section class="inner-container">
            <h1>Annotation of lectures for teachers</h1>
            <h2><strong>Ing. Petr Dvořák, Ph.D.:</strong> Elektronová mikroskopie: vstupenka do nanosvěta? [CZ]</h2>
            <p>
                V&nbsp;první samostatné části přednášky se zaměříme na elektronovou mikroskopii a její využití v&nbsp;nanotechnologiích.
                Vysvětlíme si základní principy elektronové a iontové mikroskopie a představíme si pokročilé
                technologie,
                které najdeme v&nbsp;nejnovějších elektronových mikroskopech. Budeme si prezentovat i moderní technické
                a
                vědecké aplikace, kde elektronová mikroskopie nachází své uplatnění.
            </p>
            <h2><strong>Ing. Petr Dvořák, Ph.D.:</strong> Optické metapovrchy: optické komponenty budoucnosti? [CZ]</h2>
            <p>
                V&nbsp;druhé části přednášky si představíme jednu z&nbsp;moderních aplikací nanotechnologií, kde se
                využívá
                elektronová mikroskopie, a to optické metapovrchy. O nich se hovoří jako o nové generaci optických
                komponent. Vysvětlíme si fyzikální principy jak takové optické metapovrchy fungují a ukážeme si širokou
                škálu jejich aplikací.
            </p>
        </section>
    </div>


    <div class="panel color-auto" id="lectures">
        <section class="inner-container">
            <div class="subheader">Saturday</div>
            <h1>Lectures schedule 11. 2.</h1>
            <p>
                <a href="https://db.fykos.cz/my-applications">Sign up</a> for individual lectures is launched.
            </p>
            <table class="table schedule-table" style="text-align: center;">
                <thead style="border-bottom: 1px solid;">
                <tr>
                    <th></th>
                    <th><strong>1</strong></th>
                    <th><strong>2</strong></th>
                    <th><strong>3</strong></th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th>9:30</th>
                    <td>prof. Dr. Christian Bressler: Introduction to Femtosecond X-ray science [EN]</td>
                    <td>prof. RNDr. Jiří Spousta Ph.D.: Fyzikální kabaret [CZ]</td>
                    <td>Mgr. Miroslav Kloz Ph.D.: Historie světla [CZ]</td>
                </tr>
                <tr>
                    <th>10:30</th>
                    <td colspan="3">Break</td>
                </tr>
                <tr>
                    <th>10:45</th>
                    <td>Zdeněk Jakub, Dr. Techn.: Seeing atoms as they move: a surface science approach to catalysis
                        [EN]
                    </td>
                    <td>prof. RNDr. Jiří Podolský , CSc., DSc.: Génius Einstein a jeho teorie gravitace [CZ]</td>
                    <td>Ing. Jan Kaufman: Špatná fyzika ve filmu [CZ]</td>
                </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="panel color-auto">
        <section class="inner-container">
            <h1>Lectures annotation</h1>
            <h2><strong>prof. Dr. Christian Bressler:</strong> Introduction to Femtosecond X-ray science [EN]</h2>
            <p>
                Can we possibly ever image with atomic-scale spatial resolution the detailed structural changes during
                an
                ongoing chemical reaction? Femtosecond X-Rays have the required temporal resolution and offer
                atomic-scale
                structural resolution, and this presentation will introduce the current instrumental and scientific
                efforts
                to resolve with razor-sharp precision such ultrafast processes.
            </p>
            <h2><strong>prof. RNDr. Jiří Spousta Ph.D.:</strong> Fyzikální kabaret [CZ]</h2>
            <p>This lecture is only available in Czech.
            </p>
            <h2><strong>Mgr. Miroslav Kloz Ph.D.:</strong> Historie světla [CZ]</h2>
            <p>This lecture is only available in Czech.
            </p>
            <h2><strong>Zdeněk Jakub, Dr. Techn.:</strong> Seeing atoms as they move: a surface science approach to
                catalysis [EN]</h2>
            <p>
                Modern society fully depends on catalytic processes, as the vast majority of chemicals, fertilizers,
                fuels
                of pharmaceuticals require catalytic steps during production. Unfortunately, the best catalysts are
                often
                the rarest of metals such as Pt, Rh or Ir, and the demand is increasing due to the ongoing shift to
                carbon-neutral economy. In this talk I will show how surface physics helps in development of new
                catalysts,
                and how we use atomically-defined model systems to unravel the reaction mechanisms on novel single-atom
                catalysts.
            </p>
            <h2><strong>prof. RNDr. Jiří Podolský , CSc., DSc.:</strong> Génius Einstein a jeho teorie gravitace [CZ]
            </h2>
            <p>This lecture is only available in Czech.
            </p>
            <h2><strong>Ing. Jan Kaufman:</strong> Špatná fyzika ve filmu [CZ]</h2>
            <p>This lecture is only available in Czech.
            </p>
        </section>
    </div>

    <div id="excursions" class="panel color-auto">

        <section class="inner-container">
            <div class="subheader">Saturday</div>
            <h1>Excursions 11. 2.</h1>
            <p><a href="https://db.fykos.cz/my-applications">Sign up</a> for individual excursions is launched.</p>
            <div style="overflow-x:auto; padding: .1rem">
                <table class="inline table" style="text-align: center;">
                    <thead style="border-bottom: 1px solid">
                    <tr>
                        <th>Code</th>
                        <th>Institute</th>
                        <th>Capacity</th>
                        <th>Language</th>
                        <th>When and where</th>
                        <th>Labtour start(for organizers)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>ELI</th>
                        <td><a href="#item384">ELI Beamlines</a></td>
                        <td>20</td>
                        <td>EN</td>
                        <td>Metro C Kačerov - behind the subway exit - 13:25</td>
                        <td>14:10</td>
                    </tr>
                    <tr>
                        <th>GOL</th>
                        <td><a href="#item395">Tokamak GOLEM</a></td>
                        <td>10</td>
                        <td>EN</td>
                        <td>In front of the lecture hall - Albertov 6 - 13:35</td>
                        <td>14:05</td>
                    </tr>
                    <tr>
                        <th>MACH</th>
                        <td><a href="#item386">Department of Physical and Macromolecular Chemistry UK</a></td>
                        <td>15</td>
                        <td>EN</td>
                        <td>In front of the lecture hall - Albertov 6 - 13:50</td>
                        <td>14:00</td>
                    </tr>
                    <tr>
                        <th>PALS</th>
                        <td>Prague Asterix Laser System</td>
                        <td>15</td>
                        <td>CZ</td>
                        <td>Metro C Ládví - behind the subway exit - 14:00</td>
                        <td>14:15</td>
                    </tr>
                    <tr>
                        <th>MU</th>
                        <td>Mathematics institute (lecture)</td>
                        <td>60</td>
                        <td>CZ</td>
                        <td>Metro B Karlovo náměstí - on the platform - 13:45</td>
                        <td>14:10</td>
                    </tr>
                    <tr>
                        <th>UCHP + UEB</th>
                        <td>Institute of chemical proceses + Institute of experimental botany</td>
                        <td>30 + 30</td>
                        <td>CZ</td>
                        <td>Metro C Nádraží Holešovice - next to McDonalds - 13:30</td>
                        <td>14:10</td>
                    </tr>
                    <tr>
                        <th>UT</th>
                        <td><a href="#item395">Institute of thermomechanics</a></td>
                        <td>15 CZ + 30 EN</td>
                        <td>CZ + EN</td>
                        <td>Metro C Ládví - behind the subway exit - 13:40</td>
                        <td>13:55</td>
                    </tr>
                    <tr>
                        <th>USMH</th>
                        <td>Institute of mechanics and structure of rocks</td>
                        <td>60</td>
                        <td>CZ</td>
                        <td>In front of MFF UK building T - 13:45</td>
                        <td>14:00</td>
                    </tr>
                    <tr>
                        <th>BIO</th>
                        <td><a href="#item387">BIOCEV</a></td>
                        <td>20</td>
                        <td>EN</td>
                        <td>Metro C Kačerov - behind the subway exit - 14:00</td>
                        <td>14:45</td>
                    </tr>
                    <tr>
                        <th>COM</th>
                        <td>Tokamak Compass</td>
                        <td>25</td>
                        <td>CZ</td>
                        <td>Metro C I. P. Pavlova - on the platform - 13:30</td>
                        <td>14:00</td>
                    </tr>
                    <tr>
                        <th>17:00</th>
                        <td colspan="9">End of excursions</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div class="panel color-auto">
        <section class="inner-container">
            <h1>Excursion annotation</h1>
            {foreach $data as $datum}
                {if $datum->scheduleGroupId === 144}
                    {foreach $datum->scheduleItems as $item}
                        {continueIf $item->scheduleItemId === 396}
                        {var $id = 'item' . $item->scheduleItemId}
                        <h2 id="{$id}">{$item->label['en']}</h2>
                        <div class="{$item->totalCapacity > $item->usedCapacity?'badge bg-success mb-3':'badge bg-danger mb-3'}">
                            {$item->totalCapacity-$item->usedCapacity} free places of {$item->totalCapacity}
                        </div>
                        {switch $item->scheduleItemId}
                            {case 384}
                            <p>
                                ELI Beamlines Facility is a leading laser research centre and part of The Extreme Light
                                Infrastructure ERIC, pan-European research Infrastructure hosting the world’s most
                                intense lasers. ELI provides unique tools of support for scientific excellence in
                                Europe. ELI Beamlines has developed and operates four leading edge high-power
                                femtosecond laser systems reaching unprecedent intensities. ELI
                                Beamlines offers to its users unique femtosecond sources of X-rays and accelerated
                                particles. These beamlines enable pioneering research not only in physics and material
                                science but also in life science, laboratory astrophysics, chemistry with strong
                                application potential.
                            </p>
                            <p>
                                Currently, several of the main laser beamlines are operational and are being expanded
                                and upgraded to reach their full performance and maximum availability. Other laser
                                beamlines are in commissioning and new cutting-edge laser sources are in the design and
                                development phase. The ELI Beamlines Facility builds on 350 researchers, engineers and
                                other professionals from more than 38 countries.
                            </p>
                        {case 385}
                            <p>
                                Tokamak GOLEM was the first functional experimental device designed for basic research
                                on microwave
                                plasma heating in Tokamak-type vessels. In terms of size, the TM-1 MH is classified as a
                                small tokamak.
                                Until May 1976, the facility was located at the Institute of Atomic Energy I. V.
                                Kurchatov in Moscow.
                                Then it was handed over to the Institute of Plasma Physics of the Academy of Sciences of
                                the Czech
                                Republic on the basis of a contract on cooperation and division of labour in the field
                                of high-frequency
                                plasma heating, concluded between the institutes in 1974. The device was installed in
                                the Tokamak Hall
                                of the Institute of Plasma Physics in the Academy's premises at Mazanka in Prague 8. It
                                was put into
                                operation there in September 1977 and subsequently named CASTOR The aim of the work on
                                this device was
                                to determine the conditions for efficient absorption of high-frequency waves in the
                                region between the
                                lower hybrid and electron cyclotron frequencies and to investigate the possibility of
                                excitation of
                                toroidal current by means of high-frequency waves. The new tokamak is located in the
                                building of CTU,
                                Faculty of Nuclear and Physical Engineering under the name GOLEM and is used for study
                                purposes.
                            </p>
                        {case 386}
                            <p>
                                Department of Physical Chemistry was established at the Faculty of Science in 1921 as
                                the first
                                department of physical chemistry in Czechoslovakia. Department was founded by Prof.
                                Jaroslav Heyrovsky,
                                who was later awarded a Nobel price (1959) for his discovery of polarography (1926).
                                Prof. Heyrovsky was
                                a Head of the department until 1952, when he has become a director of newly established
                                Institute of
                                Polarography of the Academy of Sciences.
                            </p>
                            <p>
                                The research in the department was primarily focused on electrochemistry; other branches
                                of physical
                                chemistry has become popular in 60's. Due to a strong interest in polymer science the
                                department has
                                been renamed to the Department of Physical and Macromolecular Chemistry in 1992.
                                Currently, variety of
                                branches of modern physical chemistry, ranging from experimental to theoretical physical
                                chemistry and
                                chemical physics, biophysical chemistry and macromolecular chemistry, are actively
                                investigated in the
                                department.
                            </p>
                        {case 387}
                            <p>
                                In the context of Czech (and European) science, BIOCEV represents a cutting-edge
                                comprehensive platform
                                for the development of modern biotechnology and biomedicine. Thanks to the establishment
                                of this centre,
                                it has been possible to combine traditionally strong fields of engineering and natural
                                sciences, such as
                                virology or chemistry. The quality of the scientific model is also reflected in the
                                highest rating of
                                the five large projects submitted to the Research and Development for Innovation
                                Programme.
                            </p>
                            <p>
                                BIOCEV research groups focus on detailed understanding of organisms at the molecular
                                level. Their
                                results are directed towards applied research and the development of new treatments for
                                serious health
                                problems. The end results of the research work at the BIOCEV centre include drugs
                                targeted to the
                                precise site of damaged metabolism or protein and tissue engineering. More than 440
                                scientific and
                                technical staff currently work at the centre. Almost a third of them come from abroad,
                                e.g. Australia,
                                Canada, China, France, Ukraine, Poland or Germany. BIOCEV research teams have already
                                published more
                                than 590 scientific outputs, including articles in prestigious international journals
                                (e.g. Cell,
                                Molecular Cell, Nature Communication and Gastroenterology, among others).
                            </p>
                        {case 395}
                            <p>
                                Laboratory of Rotational Laser Vibrometry (M. L. Mekhalfia) – non-contact measurement of
                                vibrations of
                                rotating blades in turbomachinery
                            </p>
                            <p>
                                Opto-Acoustic Laboratory (K. Zoubková) – laser-ultrasound techniques for evaluation of
                                mechanical
                                properties of materials
                            </p>
                            <p>
                                Laboratory of Hydrogen Technologies (M. S. Garapati) – nanostructured catalytic layers
                                for hydrogen fuel
                                cells
                            </p>
                        {/switch}
                    {/foreach}
                {/if}
            {/foreach}
            {*
            <h2>ELI Beamlines</h2>

            <h2>Tokamak GOLEM</h2>

            <h2>Department of Physical and Macromolecular Chemistry UK</h2>

            <h2>Prague Asterix Laser System</h2>


            <h2>Institute of mathematics (lectures)</h2>
            <p>
                Tomáš Málek, About gravitational waves and detectors
            </p>
            <p>
                Jan Papež, Where does a scientific (mathematical) paper come from and what does it actually look like?
            </p>
            <h2>Institute of Chemical Process Fundamentals of the CAS</h2>
            <p>
                At this institute, you will visit two research groups: the Algal and Microbial Biotechnology Research
                Group, which focuses on the use of microorganisms in various technologies (e.g. food processing), and
                the Bioorganic Chemistry and Biomaterials Research Group, where you will learn about analytical
                chemistry.
            </p>
            <h2>Institute of Experimental Botany</h2>
            <p>
                In the Laboratory of pollen biology you will learn about pollen grains and see them under a microscope.
                At the second station in the Laboratory of Biologically Active Substances, you will experience the
                preparation of permanent slides and view live samples under a confocal microscope.
            </p>
            <h2>Institute of Rock Structure and Mechanics</h2>

            <h2>BIOCEV</h2>

            <h2>Tokamak Compass</h2>
            <p>
                COMPASS, short for Compact Assembly, is a compact tokamak fusion energy device originally completed at
                the Culham Science Centre in 1989, upgraded in 1992, and operated until 2002. It was designed as a
                flexible research facility dedicated mostly to plasma physics studies in circular and D-shaped plasmas.
            </p>
            <p>
                When it was decommissioned at Culham, it was offered to the European Commission and found a new home at
                the Institute of Plasma Physics of the Czech Academy of Sciences in Prague where it began operations
                once again in 2006. It officially ended its experimental runs on 20 August 2021 and will be disassembled
                to leave room for a new device, COMPASS-U.
            </p>
            *}

        </section>
    </div>




    {*Pro inspiraci viz níže    *}
    {if false}
        <div class="panel color-auto">
            <section class="inner-container">
                <h1>Game and Accompanying Program Schedule</h1>
                {include "../schedule.latte"}
            </section>
        </div>

        <div class="panel color-auto" id="rozvrh-prednasek">
            <section class="inner-container">
                <h1>Lectures schedule</h1>
                <table class="table schedule-table" style="text-align: center;">
                    <thead>
                    <tr>
                        <th>place</th>
                        <th><strong>F1</strong> (address: Ke Karlovu 5)</th>
                        <th><strong>M1</strong> (address: Ke Karlovu 3)</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        <th>9:30</th>
                        <td>doc. RNDr. Jiří Dolejší, CSc.: O částicové fyzice v různých souvislostech [CZ]</td>
                        <td>prof. Lenka Zdeborová: Physics of Computation [EN]</td>
                    </tr>
                    <tr>
                        <th>10:30</th>
                        <td colspan="2">Break</td>
                    </tr>
                    <tr>
                        <th>10:45</th>
                        <td>prof. RNDr. Ondřej Santolík, Dr.: Hudba sfér [CZ]</td>
                        <td>MScR. Branislav Viliam Hakala: Crash Course of Material Chemistry [EN]</td>
                    </tr>
                    </tbody>
                </table>
            </section>
        </div>
        <div class="panel color-auto">
            <section class="inner-container">
                <h1>Lectures abstract</h1>
                <h2><strong>doc. RNDr. Jiří Dolejší, CSc.:</strong> O částicové fyzice v různých souvislostech [CZ]</h2>
                <p>This lecture is only available in Czech. </p>
                <h2><strong>prof. Lenka Zdeborová:</strong> Physics of Computation [EN]</h2>
                <p>Algorithms are an indispensable tool behind many modern technologies. Many widely used algorithms,
                    e.g. those used in machine learning when training artificial neural networks, are surrounded by
                    mysteries and open questions. Our understanding of which practical problems are solvable with
                    computers is still in its infancy. Physics gives us tools to unveil some of those mysteries and
                    discover better algorithms. Phase transitions such as water freezing or evaporating play a key role
                    in this adventure. If you want to know how physics is used in the domain of computer science and
                    machine learning, come to listen.</p>

                <h2><strong>prof. RNDr. Ondřej Santolík, Dr.:</strong> Hudba sfér [CZ]</h2>
                <p>This lecture is only available in Czech.</p>
                <h2><strong>MScR. B. Viliam Hakala:</strong> Crash Course of Material Chemistry [EN]</h2>
                <p>
                    More than hundred years ago, basics of structural analysis were laid when x-rays were discovered.
                    During 20<sup>th</sup> century, several Nobel Prizes were awarded for solutions of crystal
                    structures of important compounds. These days, there is an increasing need for new magnetic,
                    electronic, or electrochemical materials that can solve problems in modern science and technology.
                    It was found that even the most basic materials can have interesting physical properties under
                    extreme conditions, such as low temperatures or high pressures. In this talk we will have a look on
                    how different materials behave under these conditions, describe experimental methods used to achieve
                    them and discuss how the conditions influence the structures and properties of the materials.
                </p>
            </section>
        </div>
        <div id="rozvrh-exkurzi" class="panel color-auto">
            <section class="inner-container">
                <h1>Excursions schedule</h1>
                <div style="overflow-x:auto; padding: .1rem">
                    <table class="table schedule-table" style="text-align: center;">
                        <thead>
                        <tr>
                            <th></th>
                            <th>1.</th>
                            <th>2.(EN)</th>
                            <th>3.</th>
                            <th>4.</th>
                            <th>5.<br></th>
                            <th>6.</th>
                            <th>7.</th>
                            <th>8.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>9:00</th>
                            <td rowspan="2">Vrabec</td>
                            <td>Kosmická fyzika</td>
                            <td>Povrchy<br></td>
                            <td>Plazma<br></td>
                            <td>Baterie</td>
                            <td>Detektory</td>
                            <td>NAP</td>
                            <td>Astro</td>
                        </tr>
                        <tr>
                            <th>9:40</th>
                            <td>Detektory</td>
                            <td>Plazma</td>
                            <td>Geofyzika</td>
                            <td>Povrchy</td>
                            <td>Kosmická fyzika</td>
                            <td>Baterie</td>
                            <td>NAP</td>
                        </tr>
                        <tr>
                            <th>10:20</th>
                            <td>Plazma</td>
                            <td>Rf. spektroskopie</td>
                            <td>Astro</td>
                            <td rowspan="2">Vrabec</td>
                            <td>Kosmická fyzika</td>
                            <td>Povrchy</td>
                            <td>Atmosféra</td>
                            <td>Baterie</td>
                        </tr>
                        <tr>
                            <th>11:00</th>
                            <td>Kosmická fyzika</td>
                            <td>Povrchy</td>
                            <td>Rf. spektroskopie</td>
                            <td>Geofyzika</td>
                            <td>Baterie</td>
                            <td>Plazma</td>
                            <td>Atmosféra</td>
                        </tr>
                        <tr>
                            <th>11:40</th>
                            <td colspan="8">End of excursions</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </div>


        <div id="anotace-exkurzi" class="panel color-auto">
            <section class="inner-container">
                <h1>Excursion abstracts</h1>
                <h2>Astrophysics (Kosmická fyzika)</h2>
                <p>
                    Within this block, we will get introduced to satellites whose twins were in space, and with lots of
                    other exciting details regarding astrophysics.
                </p>
                <h2>Silicon detectors group (Detektory)</h2>
                <p>
                    We will visit a workplace with a primary focus on experimental and particle physics regarding tests
                    and simulations of silicon detectors.
                </p>
                <h2>Laboratory of Radiofrequency Spectroscopy (Rf. spektroskopie)</h2>
                <p>
                    We will dig into the world of a research method called radiofrequency spectroscopy which finds its
                    applications e.g. in a study of an atomic, electron, and magnetic structure of various substances
                    and materials.
                </p>
                <h2>Surface physics group (Povrchy)</h2>
                <p>
                    During the excursion we will get acquainted with the principles and tricks which enable us to figure
                    the arrangement, chemical composition, and chemical properties of surfaces at an atomic level, and
                    to learn how to configure them to perform best in practical applications.
                </p>
            </section>
        </div>
    {/if}
{/block}
